<div ng-cloak>
	<div class="">
		<div class="container ">
			<div class=''>
				<div class='nav navbar-nav navbar-left'>
					<a class="navbar-brand logo" href="http://www.smartdatanet.it"><img src="img/logosdp_header.png" alt="logo"  class=''/> </a>
				</div>
				<main-navbar-profile></main-navbar-profile>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="changeLanguage('it')" title="{{'MENU_LANG_IT'|translate}}" class="menu-flag-icon menu-flag-icon-it"></a></li>
					<li><a href="#"  ng-click="changeLanguage('en')" title="{{'MENU_LANG_EN'|translate}}" class="menu-flag-icon menu-flag-icon-en"></a></li>
					<li><p class="navbar-text">&nbsp;</p></li>
				</ul>
			</div>
		</div>
	</div>
</div>

