<div>
	<div class='clearfix wizard-title' ng-cloak>
		<div class='pull-left'><h3><span translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_TWEETDATA_TITLE</span></h3></div>
		<div class='pull-right'><h3><small>Step 4/5</small></h3></div>
	</div>
	<form class="form-horizontal" role="form" name="tweetdataStreamForm" ng-cloak>
		<div class="form-group has-feedback">
			<label for="inputStreamTwtQuery" class="col-sm-2 control-label"><span translate>STREAM_FIELD_TWT_QUERY</span> <span class='required-asterisk'>*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" ng-model="stream.twtQuery"  id="inputStreamTwtQuery"  name="inputStreamTwtQuery"
				placeholder="{{'STREAM_FIELD_CODE_PLACEHOLDER'|translate}}" ng-required="true">
			</div>
			<label for="inputStreamTwtLang" class="col-sm-2 control-label"><span translate>STREAM_FIELD_TWT_LANG</span> </label>
			<div class="col-sm-2">
				<select class="input-sm form-control" ng-model="stream.twtLang" ng-options="k as v for (k, v) in Lang_ISO_639_1">
	  				<option value="">{{'CHOOSE'|translate}}</option>
	  			</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputStreamTwtGeoLat" class="col-sm-2 control-label"><span translate>MANAGEMENT_NEW_STREAM_GEO_COORDINATES</span> </label>
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="stream.twtGeolocLat"  id="inputStreamTwtGeoLat"  name="inputStreamTwtGeoLat" ng-pattern="validationPatternFloat"
				placeholder="{{'STREAM_FIELD_TWT_GEO_LAT'|translate}}">
			</div>
			<div class="col-sm-3">
				<input type="text" class="form-control" ng-model="stream.twtGeolocLon"  id="inputStreamTwtGeoLon"  name="inputStreamTwtGeoLon" ng-pattern="validationPatternFloat"
				placeholder="{{'STREAM_FIELD_TWT_GEO_LON'|translate}}">
			</div>
			<label for="inputStreamTwtGeoRadius" class="col-sm-1  control-label"><span translate>STREAM_FIELD_TWT_GEO_RADIUS</span></label>
			<div class="col-sm-1">
				<input type="text" class="form-control" ng-model="stream.twtGeolocRadius"  id="inputStreamTwtGeoRadius"  name="inputStreamTwtGeoRadius" ng-pattern="validationPatternFloat">
			</div>
			<div class="col-sm-2">
				<select class="input-sm form-control" ng-model="stream.twtUnit" ng-options="k as v for (k, v) in TWITTER_GEO_SEARCH_RADIUS_UNIT">
	  				<option value="">{{'CHOOSE'|translate}}</option>
	  			</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span translate>MANAGEMENT_EDIT_STREAM_TWT_QUERY_CHECK</span></label>
			<div class="col-sm-2">
				<a href ng-click="checkTwitterQuery()" class='btn btn-default btn-sm' translate>MANAGEMENT_EDIT_STREAM_TWT_QUERY_CHECK_RESPONSE</a>
			</div>
			<div ng-show="checkTwitterQueryResult.result=='KO'" class='twitter-feedback-error-panel'>
				<div class='col-sm-1 text-center text-danger'>
					<div><i class="fa fa-times" title="Invalid Query"></i></div>
					<div>Invalid</div>
				</div>
				<div class='col-sm-7'>
					<span class='twitter-feedback-message'>{{checkTwitterQueryResult.message}}</span>
				</div>									
			</div>
			<div ng-show="checkTwitterQueryResult.result=='OK'" class='twitter-feedback-ok-panel'>
				<div class='col-sm-1 text-center text-success'>
					<div><i class="fa fa-check twitter-feedback-icon" title="{{checkTwitterQueryResult.message}}"></i></div>
					<div>Valid</div>
				</div>
				<div class='col-sm-7'>
					<div class='tweet-panel'>
						<div><strong></strong></div>
						<p ng-bind-html="checkTwitterQueryResult.twitterMessage.getText|prettifyTweet"></p>
						<div class='clearfix tweet-info'>
							<div class='pull-left tweet-statistic-icons'>
								<i class="fa fa-retweet" ng-class="{'tweet-retweet': checkTwitterQueryResult.twitterMessage.retweetCount>0}"></i> 
								<span>{{checkTwitterQueryResult.twitterMessage.retweetCount}}</span>
								<i class="fa fa-star"  ng-class="{'tweet-favorite': checkTwitterQueryResult.twitterMessage.favoriteCount>0}"></i> 
								<span>{{checkTwitterQueryResult.twitterMessage.favoriteCount}}</span>
							</div>
							<div class='pull-right tweet-date'>{{checkTwitterQueryResult.twitterMessage.createdAt|date:"MM/dd/yyyy  H:mm"}}</div>
						</div>										
					</div>									
				</div>
			</div>
		</div>		
		<div class="form-group">
			<label class="col-sm-2 control-label"><span translate>STREAM_FIELD_TWT_RATE</span></label>
			<div class="col-sm-10 text-left">
				<p>{{twitterPollingInterval}}</p>
			</div>
		</div>
		<div class="form-group">
			<div class=" col-sm-12 form-toolbar">
				<a ng-click='goToDetail()' class="btn " translate>BACK</a>
				<a ng-click='goToShare()'  class="btn btn-wizard-next" ng-disabled="!isOwner() || tweetdataStreamForm.$invalid " translate>MANAGEMENT_NEW_STREAM_WIZARD_NEXT</a>
			</div>
		</div>
	</form>
</div>
