<div>
	<div class='clearfix wizard-title' ng-cloak>
		<div class='pull-left'><h3><span translate-cloak translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_SHARE_TITLE</span></h3></div>
		<div class='pull-right'><h3><small>Step 5/5</small></h3></div>
	</div>
	<form class="form-horizontal" role="form" name="shareStreamForm" ng-cloak>
	
		<div class="form-group">
			<label for="RadioGroupVisibility" class="col-sm-2 control-label"><span ng-bind-html="'STREAM_FIELD_VISIBILITY'|translate"></span></label>
			<div class="col-sm-10  text-left">
				<label class="radio-inline">
             			<input type="radio" name="RadioGroupVisibility" value="public" id="RadioGroupVisibility_0" ng-model="stream.visibility" ng-disabled='!canCreatePublicStream()'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_VISIBILITY_PUBLIC</span>
           		</label>
				<label class="radio-inline">
             			<input type="radio" name="RadioGroupVisibility" value="private" id="RadioGroupVisibility_1" ng-model="stream.visibility" ng-disabled='!canCreatePublicStream()'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_VISIBILITY_PRIVATE</span>
           		</label>
			</div>
		</div>
		<div class="form-group" ng-show="stream.visibility=='public'">
			<label for="RadioGroupVisibility" class="col-sm-2 control-label"><span ng-bind-html="'STREAM_FIELD_ISOPENDATA'|translate"></span></label>
			<div class="col-sm-10  text-left">
				<label class="radio-inline">
             			<input type="radio" name="RadioGroupisOpendata" ng-value="false" id="RadioGroupisOpendata_0" ng-model="stream.isOpendata"><span translate-cloak translate>STREAM_FIELD_ISOPENDATA_FALSE</span>
           		</label>
				<label class="radio-inline">
             			<input type="radio" name="RadioGroupisOpendata" ng-value="true" id="RadioGroupisOpendata_1" ng-model="stream.isOpendata"><span translate-cloak translate>STREAM_FIELD_ISOPENDATA_TRUE</span>
           		</label>
			</div>
		</div>
		<div class="form-group" ng-show="stream.isOpendata">
			<label for="inputStreamOpendataAuthor" class="col-sm-2 control-label" translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_AUTHOR</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="inputStreamOpendataAuthor" placeholder="{{'STREAM_FIELD_METADATA_OPENDATA_AUTHOR_PLACEHOLDER'|translate}}" 
				ng-model="stream.openData.opendataauthor" >
			</div>
		</div>
		<div class="form-group" ng-show="stream.isOpendata">
			<label for="inputStreamDomain" class="col-sm-2 control-label"translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_LANG</label>
			<div class="col-sm-10">
				<select class="input-sm form-control" ng-model="stream.openData.opendatalanguage" ng-options="k as v for (k, v) in OPENDATA_LANGUAGES">
   					<option value="" translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_LANG_PLACEHOLDER</option>
   				</select>
			</div>
		</div>
		<div class="form-group" ng-show="stream.isOpendata">
			<label for="inputStreamOpendataDataUpdateDate" class="col-sm-2 control-label" translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_DATA_UPDATE_DATE</label>
			<div class="col-sm-3">
				<input type="date" class="form-control" ng-model="stream.openData.opendataupdatedate" close-text="Close" />
			</div>
		</div>
		<div class="form-group" ng-if="stream.visibility=='private'  && canShareStream()">
			<label for="inputStreamAddTenantSharing" class="col-sm-2 control-label"><span translate-cloak translate>DATASET_FIELD_TENANTSSHARING</span></label>
			<div class="col-sm-4 text-left">
				<div class="input-group input-group-sm popover-html tag-html-tooltip-container text-left">
					<input type="text" ng-model="newTenantSharing.value" typeahead="tenant as tenant.name for tenant in tenantsList | filter:{name:$viewValue} | limitTo:8" class="form-control"
							typeahead-editable="false" typeahead-on-select="onTenantSharingSelect($item, $model, $label)"/>
					<span class="input-group-addon tag-html-tooltip-button" ng-click="showChooseTenantTable()">&quest;</span>
					
				</div>	
			</div>
			<div class="col-sm-6 text-left">
				<div>
					<span  ng-repeat="tenantSharing in stream.sharingTenants">
						<span class="label label-custom label-tenant-sharing"><span title="{{tenantSharing.tenantcode}} - {{tenantSharing.description}}">{{tenantSharing.name}}</span> &nbsp;
						<a href ng-click='removeTenantSharing($index)' ng-if="tenantSharing.tenantcode!=tenantCode"  class='close-button'>&times;</a>
						</span> &nbsp;
					</span>
				</div>						
			</div>
		</div>	
<!--	<div class="form-group" ng-show="stream.visibility=='private'  && canShareStream()">
			<label for="inputStreamAddTenantSharing" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_TENANTSSHARING</span></label>
			<div class="col-sm-10">
				<p>
					<span  ng-repeat="tenantSharing in stream.tenantsShare.tenantList">
						<span class="label label-custom label-tenant-sharing"><span title="{tenantSharing.tenantCode}">{{tenantSharing.tenantName}}</span> &nbsp;
						<a href ng-click='removeTenantSharing($index)' ng-show="tenantSharing.isOwner==0"  class='close-button'>&times;</a>
						</span> &nbsp;
					</span>
				</p>						
				<div class="input-group">															
					<select class="input-sm form-control" ng-model="newTenantSharing" ng-options="tenant as tenant.tenantName for tenant in tenantsList">
						<option value="" ng-bind-html="'MANAGEMENT_EDIT_STREAM_TENANT_SHARING_PLACEHOLDER'|translate" ></option>
					</select>
				    <span class="input-group-btn">
				    	<a class="btn  btn-sm"  href ng-click='addTenantSharing(newTenantSharing)' title="{{'MANAGEMENT_EDIT_STREAM_ADD_TENANT_SHARING'|translate}}" >
				    		<i class='glyphicon glyphicon-plus'></i>
				    	</a>  
				    </span>
  					</div>								
			</div>
		</div>	-->	
		<div class="form-group">
			<label for="inputDatasetExternalReference" class="col-sm-2 control-label ng-scope" translate-cloak translate>STREAM_FIELD_METADATA_EXTERNAL_REFERENCE</label>
			<div class="col-sm-10">
				<input type="text" class="form-control ng-pristine ng-valid" id="inputDatasetExternalReference" placeholder="Riferimento Esterno" ng-model="stream.openData.opendataexternalreference">
			</div>
		</div>	
		<div class="form-group">
			<label for="RadioGroupPublish" class="col-sm-2 control-label"><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE_LABEL</span></label>
			<div class="col-sm-10  text-left">
				<label class="radio-inline">
             		<input type="radio" name="RadioGroupPublish" ng-value="true" id="RadioGroupPublish_0" ng-model="stream.unpublished" disabled><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE</span>
           		</label>
				<label class="radio-inline">
             		<input type="radio" name="RadioGroupPublish" ng-value="false"  id="RadioGroupPublish_1" ng-model="stream.unpublished" disabled><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_NOT_PUBLISH_ON_STORE</span>
           		</label>
			</div>
		</div>	
	<div class='form-label-separator'><span translate-cloak translate>MANAGEMENT_NEW_DATASET_DCAT</span></div>		
	
	<div class="form-group">
		<label for="inputStreamDCATRightHolderName" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERNAME</span><span class='required-asterisk'>*</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamDCATRightHolderName" placeholder="{{'STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERNAME_PLACEHOLDER'|translate}}" 
			ng-required="true" ng-model="stream.dcat.dcatrightsholdername">
		</div>	
	</div>		
	<div class="form-group">
		<label for="inputStreamDCATRightHolderType" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERTYPE</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamDCATRightHolderType" placeholder="{{'STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERTYPE_PLACEHOLDER'|translate}}" 
			ng-model="stream.dcat.dcatrightsholdertype">
		</div>	
	</div>		
	<div class="form-group">
		<label for="inputStreamDCATRightHolderId" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERID</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamDCATRightHolderId" placeholder="{{'STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERID_PLACEHOLDER'|translate}}" 
			ng-model="stream.dcat.dcatrightsholderid">
		</div>	
	</div>	
	<div class="form-group">
		<label for="inputStreamDCATCreatorName" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_CREATORNAME</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamDCATCreatorName" placeholder="{{'STREAM_FIELD_METADATA_DCAT_CREATORNAME_PLACEHOLDER'|translate}}" 
			ng-model="stream.dcat.dcatcreatorname">
		</div>	
	</div>		
	<div class="form-group">
		<label for="inputStreamDCATCreatorType" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_CREATORTYPE</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamDCATCreatorType" placeholder="{{'STREAM_FIELD_METADATA_DCAT_CREATORTYPE_PLACEHOLDER'|translate}}" 
			ng-model="stream.dcat.dcatcreatortype">
		</div>	
	</div>		
	<div class="form-group">
		<label for="inputStreamDCATCreatorId" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_CREATORID</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamDCATCreatorId" placeholder="{{'STREAM_FIELD_METADATA_DCAT_CREATORID_PLACEHOLDER'|translate}}" 
			ng-model="stream.dcat.dcatcreatorid">
		</div>	
	</div>	
	<div class="form-group">
		<label for="inputStreamOpendataNomeOrg" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_NOMEORG</span><span class='required-asterisk'>*</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamOpendataNomeOrg" placeholder="{{'STREAM_FIELD_METADATA_DCAT_NOMEORG_PLACEHOLDER'|translate}}" 
			ng-required="true" ng-model="stream.dcat.dcatnomeorg">
		</div>	
	</div>		
	<div class="form-group">
		<label for="inputStreamOpendataEmailOrg" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_EMAILORG</span><span class='required-asterisk'>*</span></label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="inputStreamOpendataEmailOrg" placeholder="{{'STREAM_FIELD_METADATA_DCAT_EMAILORG_PLACEHOLDER'|translate}}" 
			ng-required="true" ng-model="stream.dcat.dcatemailorg">
		</div>	
	</div>	
	<div class='form-label-separator' translate-cloak translate>MANAGEMENT_EDIT_DATASET_LEGAL_INFO</div>
	
		<div class="form-group" ng-show="stream.visibility!='private'">
			<label for="inputStreamLicense" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_LICENCE</span></label>
			<div class="col-sm-10 text-left">
				<label class="radio-inline">
	         		<input type="radio" name="RadioGroupLicence" value="{{'STREAM_FIELD_METADATA_LICENSE_CCBY'|translate}}" id="RadioGroupLicence_0" ng-model="stream.license.licensecode">
	         		<span translate-cloak translate>STREAM_FIELD_METADATA_LICENSE_CCBY</span>
	       		</label>
				<label class="radio-inline">
	         		<input type="radio" name="RadioGroupLicence" value="{{'STREAM_FIELD_METADATA_LICENSE_CC0'|translate}}" id="RadioGroupLicence_0" ng-model="stream.license.licensecode">
	         		<span translate-cloak translate>STREAM_FIELD_METADATA_LICENSE_CC0</span>
	       		</label>
				<label class="radio-inline">
	         		<input type="radio" name="RadioGroupLicence" value="" id="RadioGroupLicence_1" ng-model="stream.license.licensecode">
	         		<span translate-cloak translate>STREAM_FIELD_METADATA_LICENSE_OTHER</span>
	       		</label>
				<textarea id="inputDatasetLicence" class="form-control" rows="4" resize="none" ng-model="stream.license.licensecode" placeholder="{{'STREAM_FIELD_METADATA_LICENSE'|translate}}" ng-show='isLicenseVisible()' >
				</textarea>
			</div>
		</div>			
		<div class="form-group" ng-show="stream.visibility!='private'">
			<label for="inputStreamDisclaimer" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_DISCLAIMER</span></label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="4" resize="none" ng-model="stream.license.disclaimer"  placeholder="{{'STREAM_FIELD_DISCLAIMER'|translate}}" id="inputStreamDisclaimer" >
				</textarea>					
				
			</div>
		</div>			
		<div class="form-group" ng-show="stream.visibility=='private'">
			<label for="inputStreamCopyright" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_COPYRIGHT</span></label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputStreamCopyright" placeholder="{{'STREAM_FIELD_COPYRIGHT'|translate}}" ng-model="stream.copyright" >
			</div>
		</div>			
		<div class="form-group">
			<div class=" col-sm-12 form-toolbar" ng-show="!isUpdating" >
				<a ng-click='goToComponents()' class="btn " translate-cloak translate>BACK</a>
				<a ng-click='save()' class="btn btn-wizard-next" ng-disabled="!isOwner() || shareStreamForm.$invalid " translate-cloak translate>SAVE_DRAFT</a>
			</div>
			<div class=" col-sm-12 col-lg-12 form-toolbar " ng-show="isUpdating" > 
				<div class='ajax-loading'><span translate-cloak translate>LOADING</span></div>
			</div>				

		</div>
	</form>
</div>