<div>
	<div class='clearfix wizard-title' ng-cloak>
		<div class='pull-left'><h3><span translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_COMPONENTS_TITLE</span></h3></div>
		<div class='pull-right'><h3><small>Step 4/5</small></h3></div>
	</div>
	<form class="form-horizontal" role="form" name="componentsStreamForm" ng-cloak>
		<div ng-hide='stream.codiceVirtualEntity!="internal" || internalStreams.length==0' class='form-label-separator'><span translate>STREAM_INPUT_FIELDS</span></div>
			<div ng-hide='stream.codiceVirtualEntity!="internal" || internalStreams.length==0' class="form-group">
				<label for="streamNameToAdd" class="col-sm-2 control-label"><span translate>STREAM_INTERNAL_SELECTED_STREAM</span></label>
				<div class="col-sm-10">
					<div class="table-responsive">
  					 		<table class="table">
  					  			<tbody class="internalStreamsBorder" ng-repeat="streamInt in internalStreams track by $index">
			       				<tr>
						            <td>{{streamInt.nomeStream}}</td>
						            <td>{{streamInt.codiceVirtualEntity}}</td>
						            <td> as input{{$index}}</td>	
						        	<td><a  ng-click='cancelStreamToArray($index)' class="btn btn-remove btn-sm"><i class='glyphicon glyphicon-minus'></i></a></td>
			        			</tr>
			        			<tr>
			        			<!-- td colspan="3"><small><pre pretty-json="{'componenti' : streamInt.componenti}"/></small></td-->
			        				<td colspan="3">
			        					<table class="table">
											<thead>
												<tr>
													<th><span translate>STREAM_FIELD_COMPONENTS_NAME</span></th>
													<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
													<th><span translate>STREAM_FIELD_COMPONENTS_TOLERANCE</span></th>
													<th><span translate>STREAM_FIELD_COMPONENTS_PHENOMENON</span></th>
													<th><span translate>STREAM_FIELD_COMPONENTS_DATA_TYPE</span></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="el in streamInt.componenti.element">
													<td><span style="display: none"> {{el.idComponente}}</span>{{el.nome}}</td>
													<td>{{el.measureUnitCategory}} : {{el.measureUnit}}</td>
													<td>{{el.tolerance}} </td>
													<td>{{el.phenomenonCategory}} : {{el.phenomenon}}</td>
													<td>{{el.dataType}}</td>									
												</tr>
											</tbody>
										</table>
									<td>			        		        
			        			</tr>
			     			</tbody>   					 
  					 		</table>
  						</div>
				</div>					
			</div>
		
			<div ng-hide='stream.codiceVirtualEntity!="internal"' class="form-group">
				<label for="streamNameToAdd" class="col-sm-2 control-label"><span translate>STREAM_TYPE_DEFINITION</span> <span class='required-asterisk'>*</span></label>
				<div class="col-sm-8">
					<select class="form-control col-sm-8" ng-model="streamSelectedItem" ng-options="streamItem.nomeStream for streamItem in streamsList"></select>
				</div>
				<div class="col-sm-2"><a ng-click='addStreamToArray(streamSelectedItem)' class="btn btn-sm"><i class='glyphicon glyphicon-plus'></i></a></div>	
			</div>
		
			<div ng-hide='stream.codiceVirtualEntity!="internal"'>
				<div id="validateMsg" class="col-sm-10 col-sm-offset-2">
					<div class="alert-danger"><p ng-hide='validationRes!=1'>{{errorMsg|translate}}</p></div>
					<div class="alert-success"><p ng-hide='validationRes!=0'><span translate>STREAM_SIDDHI_QUERY_SUCCESS</span></p></div>
				</div>	
		
			</div >
			<div ng-hide='stream.codiceVirtualEntity!="internal"' class="form-group">
				<div class="col-sm-2">
					<label for="streamSiddhiQueryLabel" class="control-label"><span translate>STREAM_SIDDHI_QUERY</span> <span class='required-asterisk'>*</span></label>
					<a href="http://developer.smartdatanet.it/docs/specifiche-di-creazione-stream-a-partire-da-stream-esistenti/" target="_blank" class="link-help" >Help <i class="glyphicon glyphicon-question-sign"></i></a>
				</div>
				<div class="col-sm-8">													
					<textarea id="code" class="form-control" ui-codemirror="cmOption" ng-model="streamSiddhiQuery"></textarea>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-default" ng-click="valideteSiddhi(streamSiddhiQuery)"><span translate>STREAM_SIDDHI_VALIDATE_BUTTON</span></button>
				</div>					
			</div>
		
<!-- 			<div ng-hide='stream.codiceVirtualEntity!="internal"' class="form-group"> -->
<!-- 				<label for="streamSiddhiDefaultQueryLabel" class="col-sm-2 control-label">{{'STREAM_SIDDHI_QUERY_DEFAULT'|translate}} <span class='required-asterisk'>*</span></label> -->
<!-- 				<textarea class="col-sm-8" rows="8"  ng-disabled="true">{{defaultQuery}}</textarea> -->
<!-- 			</div>									 -->
		
		
				
			<div class='form-label-separator'><span translate>STREAM_FIELD_COMPONENTS_OUTPUT</span></div>
			<div class="form-group">
				<div class="col-sm-2" id="management-edit-stream-component-help-fix">
					<h5 class="help-title"><span translate>MANAGEMENT_EDIT_STREAM_COMPONENT_EXAMPLE_TITLE</span></h5>						
					<small><pre pretty-json="componentJsonExample"/></small>
				</div>
				<div class="col-sm-10">
					<div class="alert alert-warning" ng-show='updateWarning'>
						<strong translate>WARNING</strong> <span translate>MANAGEMENT_EDIT_STREAM_WARNING_NO_COMPONENTS</span>
					</div>
					<a class="btn btn-default btn-xs"  ng-disabled="true"><span translate>MANAGEMENT_EDIT_STREAM_READ_COMPONENT_FROM_STREAM_BUTTON</span></a>
					
					<table class="table">
						<thead>
							<tr>
								<th><span translate>STREAM_FIELD_COMPONENTS_NAME</span></th>
								<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
								<th><span translate>STREAM_FIELD_COMPONENTS_TOLERANCE</span></th>
								<th><span translate>STREAM_FIELD_COMPONENTS_PHENOMENON</span></th>
								<th><span translate>STREAM_FIELD_COMPONENTS_DATA_TYPE</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="component in stream.componenti.element">
								<td><span style="display: none"> {{component.idComponente}}</span>{{component.nome}}</td>
								<td>{{component.measureUnitCategory}}: {{component.measureUnit}}</td>
								<td>{{component.tolerance}}</td>
								<td>{{component.phenomenonCategory}}: {{component.phenomenon}}</td>
								<td>{{component.dataType}}</td>
								<td><a href="javascript:void(0)" ng-click='removeComponent($index)' class="btn btn-remove btn-sm"><i class='glyphicon glyphicon-minus'></i></a></td> 
								<!--  <td><a href="javascript:void(0)"  class="btn btn-danger btn-sm disabled" title="{{'COMING_SOON'|translate}}"><i class='glyphicon glyphicon-minus'></i></a></td>-->
							</tr>
							<tr>
               					 <td ng-class="{ 'has-error': insertComponentError }">
               					 	<input class="input-sm form-control" type="text" name="newComponentName" id="newComponentName" ng-model="newComponentName" 
               					 		 placeholder="{{'STREAM_FIELD_COMPONENTS_NAME_PLACEHOLDER'|translate}}"></td>
             					 <td>
             					 	<select class="input-sm form-control" ng-model="newComponentUnitOfMeasurement" 
             					 		ng-options="unitOfMesaurement.measureUnit group by unitOfMesaurement.measureUnitType for unitOfMesaurement in unitOfMesaurementList track by unitOfMesaurement.idMeasureUnit">
             					 		<option value="">{{'MANAGEMENT_EDIT_STREAM_UNIT_OF_MEASUREMENT_PLACEHOLDER'|translate}}</option> 
             					 	</select>
								</td>
				                <td>
				                	<input class="input-sm form-control" type="text" name="newComponentTolerance" id="newComponentTolerance" 
				                		ng-model="newComponentTolerance" placeholder="{{'STREAM_FIELD_COMPONENTS_TOLERANCE_PLACEHOLDER'|translate}}">
				                </td>
             					<td>
             					 	<select class="input-sm form-control" ng-model="newComponentPhenomenon" 
             					 		ng-options="phenomenom.phenomenon group by phenomenom.phenomenonType for phenomenom in phenomenomList track by phenomenom.idPhenomenon" >
             						 	<option value="">{{'MANAGEMENT_EDIT_STREAM_PHENOMENOM_PLACEHOLDER'|translate}}</option>
             					 	</select>
								</td>
             					 <td>
             					 	<select class="input-sm form-control" ng-model="newComponentDataType" ng-options="dataType.dataType for dataType in dataTypeList track by dataType.idDataType" >
             						 	<option value="">{{'MANAGEMENT_EDIT_STREAM_PHENOMENOM_PLACEHOLDER'|translate}}</option>
             					 	</select>
								</td>
         						<td><a href="javascript:void(0)" ng-click='addComponent(newComponentName, newComponentUnitOfMeasurement,newComponentTolerance, newComponentPhenomenon,newComponentDataType)' class="btn btn-sm"><i class='glyphicon glyphicon-plus'></i></a></td>
							</tr>
						</tbody>
					</table>
					<div class="alert alert-danger text-left" ng-show='insertComponentErrors.length>0'>
						<strong>{{updateError.error_message}}</strong>
						<ul><li ng-repeat="insertComponentError in insertComponentErrors "><span translate>{{insertComponentError}}</span></li></ul>
					</div>
				</div>
			</div>
		<div class="form-group">
			<div class=" col-sm-12 form-toolbar">
				<a ng-click='goToDetail()' class="btn " translate>BACK</a>
				<a ng-click='goToShare()' class="btn btn-wizard-next" ng-disabled="!isOwner() || componentsStreamForm.$invalid " translate>MANAGEMENT_NEW_STREAM_WIZARD_NEXT</a>
			</div>
		</div>
	</form>
</div>