<div>
		<div class="modal-header">
            <h3 class="modal-title">
            	<span translate>DATA_EXPLORER_SUBSCRIBE_MODAL_TITLE</span>
            </h3>
            <h4 class="modal-title">
            	<span translate>DATA_EXPLORER_SUBSCRIBE_MODAL_SUBTITLE</span>
            </h4>
        </div>
		<div class="modal-body table-responsive" ng-show="applicationList">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th><span translate>APPLICATIONS_NAME</span></th>
							<th><span translate>APPLICATIONS_DESCRIPTION</span></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="application in applicationList">
							<td><input type="checkbox" name="selected" ng-checked="isSelected(application)"  ng-click="updateSelection($event, stream)"/>
							<td>{{application.name}}</td>
							<td>{{application.description}}</td>
						</tr>
					</tbody>
				</table>
			</div>        
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">chiudi</button>
            <button class="btn btn-primary" type="button" ng-click="subscribe()">sottoscrivi</button>
        </div>
</div>