<div ng-controller="DashboardMenuCtrl as menu">
	<div class="btn-group" dropdown is-open="status.isopen">
		<button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled"  ng-class="{active:currentPanel=='main'}">
		
			<span class="glyphicon glyphicon-dashboard"></span> {{'DASHBOARD_DASHBOARD_BUTTON'|translate}} <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#/dashboard/main/overview">{{'DASHBOARD_SECTION_OVERVIEW'|translate}}</a></li>
			<li><a href="#/dashboard/main/example">{{'DASHBOARD_SECTION_EXAMPLE'|translate}}</a></li>
			<li><a href="#/dashboard/main/traffic">{{'DASHBOARD_SECTION_TRAFFIC'|translate}}</a></li>
			<li class="divider"></li>
			<li ng-repeat="tenant in tenantsList"><a href="#/dashboard/main/{{tenant.tenantName}}">{{tenant.tenantName}}</a></li>
		</ul>
	</div>
	<a href="#/dashboard/streams" class='btn btn-default' ng-class="{active:currentPanel=='streams'}">
		<span class="glyphicon glyphicon-list"></span> {{'DASHBOARD_STREAMS_BUTTON'|translate}}
	</a> 
	<a href="#/dashboard/error_log" class='btn btn-default'  ng-class="{active:currentPanel=='error_log'}">
		<span class="glyphicon glyphicon-exclamation-sign"></span> {{'DASHBOARD_ERROR_LOG_BUTTON'|translate}}
	</a>
</div>
