<div  class='section-dashboard' ng-controller="DashboardErrorLogCtrl as errorLogCtrl" ng-cloak>
	<div class="container">
		<div class='title-container row'>
			<h1>
				<span translate>DASHBOARD_ERROR_LOG_TITLE</span>  
				<small><span translate>DASHBOARD_ERROR_LOG_SUBTITLE</span></small>
			</h1>
			<div class="title-menu">
				<dashboard-menu></dashboard-menu>
			</div>
		</div>
		<p>&nbsp;</p>
		<p><span class="clientConnectBullet {{clientConnectionClass}}"></span> {{clientConnection}}</p>
		<p><span ng-bind-html="'DASHBOARD_ERROR_LOG_INTRO'|translate"></span></p>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<h4>
					<span translate>DASHBOARD_ERROR_LOG_TENANT_MENU_PLATFORM_TITLE</span> 
					<small><span translate>DASHBOARD_ERROR_LOG_TENANT_MENU_PLATFORM_SUBTITLE</span></small>
				</h4>
				<div class="list-group">
					<a  ng-click='selectTenant("*");' class="list-group-item">
						<span translate>DASHBOARD_ERROR_LOG_TENANT_MENU_PLATFORM_ITEM</span>
						<small class="text-muted"><i>Undefined tenant</i></small>
					</a> 
					<a ng-repeat="tenant in tenantsList" ng-click=" selectTenant(tenant);"	class="list-group-item">{{tenant}}</a>
				</div>
			</div>


			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				<div class="table-responsive dashboard-streamList-table">
					<table class="table">
						<thead>
							<tr>
								<th><a><span translate>DASHBOARD_ERROR_LIST_CODE</span> </a></th>
								<th><a><span translate>DASHBOARD_ERROR_LIST_NAME</span> </a></th>
								<th><a><span translate>DASHBOARD_ERROR_LIST_TENANT</span> </a></th>
								<th><a><span translate>DASHBOARD_ERROR_LIST_DATE</span> </a></th>
							</tr>
						</thead>
					</table>
				</div>

				<accordion close-others="true">
				 <accordion-group ng-repeat="errore in errorList track by $index"  is-open="accordionOpenError[$index]">
				<accordion-heading>		
				<div >
				<span>
				<span class="span-errors">
				{{$index}}
				</span>
				<span class="span-errors">
				{{errore.error_code}}
				</span>
				<span class="span-errors">
				{{errore.error_name}}
				</span>
				<span class="span-errors">
				{{errore.output}}
				</span>
				<span class="span-errors">
				{{errore.message.values.time}}
				</span>	
				<span>
				<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionOpenError[$index], 'glyphicon-chevron-right': !accordionOpenError[$index]}"></i>
				</span></span>	
				</div>	
								
				</accordion-heading> <pre pretty-json="errore" /> </accordion-group> </accordion>


			</div>
		</div>

	</div>
</div>
