
<div class='compact-panel'>
	<div class='compact-panel-title'>
		<h3>{{'DASHBOARD_STREAM_DETAIL_TITLE'|translate}}</h3>
	</div>
	<table class="table dashboard-table-stream-detail">
		<tbody>
			<tr>
				<td>{{'STREAM_FIELD_NAME'|translate}}</td>
				<td>{{stream.name}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_TENANT'|translate}}</td>
				<td>{{stream.tenant}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_SENSOR'|translate}}</td>
				<td>{{stream.sensor}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_DESCRIPTION'|translate}}</td>
				<td><span class='dashboard-stream-description' ng-bind-html="stream.description"></span></td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_COMPONENTS'|translate}}</td>
				<td>
					<table class='table-condensed table-supercondensed dashboard-table-components'>
						<thead>
							<tr>
								<th>{{'STREAM_FIELD_COMPONENTS_DESCRIPTION'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_DATA_TYPE'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="component in stream.components">
								<td>{{component.description}}</td>
								<td>{{component.unit_of_measurement}}</td>
								<td>{{component.data_type}}</td>
							</tr>
						</tbody>
					</table>

				</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_DOMAIN'|translate}}</td>
				<td>{{stream.domain}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_LICENCE'|translate}}</td>
				<td>{{stream.licence}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_DISCLAIMER'|translate}}</td>
				<td><a href='{{stream.disclaimer}}' target='_blank'>{{stream.disclaimer}}</a></td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_COPYRIGHT'|translate}}</td>
				<td>{{stream.copyright}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_VISIBIITY'|translate}}</td>
				<td>{{stream.visibiity}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_TAGS'|translate}}</td>
				<td>
					<ul class="list-inline">
						<li ng-repeat="tag in stream.tags"><span class="label label-info">{{tag}}</span></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_FPS'|translate}}</td>
				<td>{{stream.fps}}</td>
			</tr>
		</tbody>
	</table>
</div>
