<div class='section-dashboard' ng-controller="DashboardDataStreamCtrl as streamsDataCtrl" ng-cloak>
	<div class="container">
		<div class='title-container row'>
			<h1><span translate>DASHBOARD_STREAM_TITLE</span> <strong>{{stream.codiceStream}}</strong></h1>
			<div class="title-menu">
				<dashboard-menu></dashboard-menu>
			</div>
		</div>
		<div class='clearfix entity-info entity-info-top'>
			<div class='pull-left'>
				<div><small><span translate>STREAM_FIELD_NAME</span></small></div>
				<div class='main-info'><strong>{{stream.nomeStream}}</strong></div>
			</div>
			<div class='pull-right text-right'>
				<div><small><span translate>STREAM_FIELD_CREATION_DATE</span></small></div>
				<div><strong>{{stream.registrationDate}}</strong></div>
			
			</div>
		</div>
		<div class='clearfix entity-info entity-info-bottom'>
			<p>&nbsp;</p>
			<div class='pull-left'>
				<div><small><span translate>DASHBOARD_STREAM_WS_URL_TITLE</span></small></div>
				<div class='url'><strong>{{wsUrl}}</strong></div>
			</div>
			<div class='pull-right text-right'>
				<div><small><span translate>STREAM_FIELD_VERSION</span></small></div>
				<div><strong>{{stream.deploymentVersion}}</strong></div>
			
			</div>
		</div>
		<div class='clearfix'>
			<div class='pull-left'>
				<p>
					<span translate>DASHBOARD_STREAM_REALTIME_FPS</span>  <span class='important'>{{stream.fps|number_ellipse:0.01:1000}}</span> - <span translate>DASHBOARD_STREAM_REALTIME_SEC_BTW_EVENTS</span>  <span class='important'>{{stream.secondsBtwEvents|number_ellipse:0.01:1000}}</span> | 
					<span translate>DASHBOARD_STREAM_REALTIME_FPM</span>  <span class='important'>{{stream.fpm|number_ellipse:0.01:1000}}</span> - <span translate>DASHBOARD_STREAM_REALTIME_MIN_BTW_EVENTS</span>   <span class='important'>{{stream.minutesBtwEvents|number_ellipse:0.01:1000}}</span>
				</p>
				<p>
					<span class="clientConnectBullet {{clientConnectionClass}}"></span> {{clientConnection}} &nbsp;
				</p>
			</div> 
			<div class="pull-right text-right">
				<img ng-src="{{stream.streamIcon}}" alt="logo stream" class='dashboard-card-icon-preview-img' >
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-panel" id='chart-container'>
				<tabset>
    				<tab heading="{{'DASHBOARD_STREAM_WS_STATISTICS_CHART_TITLE'|translate}}">
						<div class='row'>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
								&nbsp;
							</div>
						</div>
						<div class='row'>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
								<div class='graph-container' id='stream-statistic-chart'>
			    					<nvd3-line-chart 
										data="nvWsStatisticData" 
										id="nvStatisticChart" 
										width="{{chartWidth}}"
										height="300" 
										showXAxis="true" 
										showYAxis="true" 
										tooltips="true" 
										interactive="true" 
										interpolate="true"
										objectEquality="true" 
							           
										> <svg></svg> 
									</nvd3-line-chart>
								</div>
							</div>
    					</div>
    				</tab>
    				<tab heading="{{'DASHBOARD_STREAM_DATA_CHART_TITLE'|translate}}">
						<div class='row' ng-show="isTwitter">
							<div class="col-sm-6" >
								<h4><span translate>DASHBOARD_STREAM_DATA_LAST_TWEET_TITLE</span></h4>
								<div class='tweets-container'>
									<div class='tweet-panel' ng-repeat="tweet in tweetData" ng-click="showTweetDetail(tweet)">
										<div><strong>{{tweet.components.userName}}</strong></div>
										<p ng-bind-html="tweet.components.getText|prettifyTweet"></p>
										<div class='clearfix tweet-info'>
											<div class='pull-left tweet-statistic-icons'>
												<i class="fa fa-retweet" ng-class="{'tweet-retweet': tweet.components.retweetCount>0}"></i> <span>{{tweet.components.retweetCount}}</span>
												<i class="fa fa-star"  ng-class="{'tweet-favorite': tweet.components.favoriteCount>0}"></i> <span>{{tweet.components.favoriteCount}}</span>
											</div>
											<div class='pull-right tweet-date'>{{tweet.components.createdAt|date:"MM/dd/yyyy  H:mm"}}</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="col-sm-6" >
								<h4><span translate>DASHBOARD_STREAM_DATA_TWEET_DETAIL_TITLE</span></h4>
								<div class='tweet-detail-container'>
									<div ng-repeat="(key, value) in tweetDetail.components">
										<div class='row'>
											<div class='col-sm-3'><strong>{{key}}</strong></div>
											<div class='col-sm-9' ng-bind-html="value|prettifyTweet"></div>
										</div>
									</div>
									<p>&nbsp;</p>
									<div class='text-center' ng-show="tweetDetail!=null">
										<a href='https://twitter.com/{{tweetDetail.components.userScreenName}}/status/{{tweetDetail.components.tweetid}}' class='btn btn-twitter' target='_blank'>
											<i class="fa fa-twitter"></i> <span translate>DASHBOARD_STREAM_VIEW_ON_TWITTER_BUTTON</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class='row' ng-show="!isTwitter">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
								<strong><span translate>DASHBOARD_STREAM_DATA_FILTER_CHART_LABEL</span></strong>&nbsp;
							</div>
							<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
								<label class="checkbox-inline chart-legend-checkbox"  style='background-color: {{component.color}}' ng-repeat="component in chartComponentNames ">
						  			<input type="checkbox" ng-model="component.view" ng-change="updateChart()" ng-disabled="!component.enabled">{{component.name}}
								</label>
							</div>
						</div>
						<div class='row' ng-show="!isTwitter">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class='graph-container' id='stream-data-chart'>
									<nvd3-line-chart 
										data="chartData" 
										id="nvDataChart" 
										width="{{chartWidth}}"
										height="300" 
										showXAxis="true" 
										showYAxis="true" 
										tooltips="true" 
										interactive="true" 
										objectEquality="true" 
										color="colorFunction()"
							            xAxisTickFormat="xAxisTickFormatFunction()"
							            tooltipcontent="toolTipContentFunction()"
										> <svg></svg> 
									</nvd3-line-chart>
								</div>
							</div>
						</div>
					</tab>
  				</tabset>
			</div>
		</div>
		<p>&nbsp;</p>
	<!-- <div class='row'>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<h3><strong><span translate>STREAM_FIELD_NAME</span></strong> &nbsp;{{stream.nomeStream}}</h3>
				<p>
					<strong><span translate>STREAM_FIELD_CREATION_DATE</span></strong> {{stream.registrationDate}} &nbsp;
					<strong><span translate>STREAM_FIELD_LASTUPDATE</span></strong> {{stream.registrationDate}} 
				</p>					
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
 				<h3><strong><span translate>DASHBOARD_STREAM_WS_URL_TITLE</span></strong> </h3>
 				<p>
    				<pre>{{wsUrl}}</pre>
  				</p>
			</div>
		</div>-->
		<accordion close-others="false">
			<accordion-group is-open="status1.open">
				<accordion-heading>
		 			<span translate>DASHBOARD_STREAM_DATA_MAIN_INFO_TITLE</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>
				</accordion-heading>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_CODE</span></strong></div>
						<div class="col-sm-10">{{stream.codiceStream}}</div>
					</div>			
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>VIRTUALENTITY</span></strong></div>
						<div class='col-sm-10'>{{stream.codiceVirtualEntity}} - {{stream.virtualEntityName}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_VERSION</span></strong></div>
						<div class='col-sm-10'>{{stream.deploymentVersion|nvl:' -'}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_STATUS</span></strong></div>
						<div class='col-sm-10'>{{stream.deploymentStatusDesc|nvl:' -'}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TAGS</span></strong></div>
						<div class='col-sm-10'>
							<ul class="list-inline">
								<li ng-repeat="tag in stream.streamTags.tag"><span class="label label-custom label-tag"><span ng-bind-html="tag.tagCode|translate"></span></span></li>
							</ul>
						</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_DOMAIN</span></strong></div>
						<div class='col-sm-10'>{{stream.domain|translate}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>TENANT</span></strong></div>
						<div class='col-sm-10'>{{stream.codiceTenant|nvl:''}} {{stream.nomeTenant|nvl:''}}</div>
					</div>	
				</div>
			</accordion-group>
			<accordion-group is-open="status2.open">
				<accordion-heading>
		 			<span translate>DASHBOARD_STREAM_DATA_DETAIL_INFO_TITLE</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i>
				</accordion-heading>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table class='table dashboard-table-components'>
						<thead>
							<tr>
								<th>{{'STREAM_FIELD_COMPONENTS_NAME'|translate}}</th>
								<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
								<th>{{'STREAM_FIELD_COMPONENTS_TOLERANCE'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_PHENOMENON'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_DATA_TYPE'|translate}}</th>
		
							</tr>	
						</thead>
						<tbody>
							<tr ng-repeat="component in stream.componenti.element">
								<td><span style="display: none"> {{component.idComponente}}</span>{{component.nome}}</td>
								<td>{{component.measureUnitCategory}}: {{component.measureUnit}}</td>
								<td>{{component.tolerance}}</td>
								<td>{{component.phenomenonCategory}}: {{component.phenomenon}}</td>
								<td>{{component.dataType}}</td>
							</tr>	
						</tbody>
					</table>

				</div>
			</accordion-group>
			<accordion-group is-open="status3.open">
				<accordion-heading>
		 			<span translate>DASHBOARD_STREAM_DATA_SHARE_INFO_TITLE</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i>
				</accordion-heading>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_LICENCE</span></strong></div>
						<div class='col-sm-10'>{{stream.licence|nvl:' -'}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_DISCLAIMER</span></strong></div>
						<div class='col-sm-10'>{{stream.disclaimer}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_COPYRIGHT</span></strong></div>
						<div class='col-sm-10'>{{stream.copyright|nvl:' -'}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span ng-bind-html="'STREAM_FIELD_VISIBILITY'|translate"></span></strong></div>
						<div class='col-sm-10'>{{stream.visibility|nvl:' -'}}</div>
					</div>	
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_IN_STORE</span></strong></div>
						<div class='col-sm-10'>TBD</div>
					</div>	
				</div>
			</accordion-group>
			<accordion-group is-open="status5.open"  ng-show="isTwitter">
				<accordion-heading>
		 			<span translate>DASHBOARD_STREAM_TWITTER_INFO_TITLE</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status5.open, 'glyphicon-plus': !status5.open}"></i>
				</accordion-heading>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_QUERY</span></strong></div>
					<div class='col-sm-6'>{{stream.twtQuery}}</div>
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_LANG</span></strong></div>
					<div class='col-sm-2'>{{stream.twtLang}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_GEO</span></strong></div>
					<div class='col-sm-6'><span ng-show="stream.twtGeolocLat!=0 || stream.twtGeolocLon!=0">{{stream.twtGeolocLat}},{{stream.twtGeolocLon}}</span></div>
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_GEO_RADIUS</span></strong></div>
					<div class='col-sm-2'><span ng-show="stream.twtGeolocRadius!=0">{{stream.twtGeolocRadius}} {{stream.twtUnit}}</span></div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_RATE</span></strong></div>
					<div class='col-sm-10'>{{stream.twtRatePercentage}}</div>
				</div>	
			</accordion-group>
			<accordion-group is-open="status4.open">
				<accordion-heading>
		 			<span translate>DASHBOARD_STREAM_WS_LASTMESSAGE_PANEL_TITLE</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status4.open, 'glyphicon-plus': !status4.open}"></i>
				</accordion-heading>				
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="lastMessageNotReceivedHint!=''">
					<div class='alert alert-info'>
						<span translate>{{lastMessageNotReceivedHint}}</span>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<pre pretty-json="wsLastMessageToShow" />
				</div>
			</accordion-group>
		</accordion>
	</div>
</div>

