
<div class='compact-panel' ng-cloak>
	<div class='compact-panel-title'>
		<h3>{{'DASHBOARD_STREAM_DETAIL_TITLE'|translate}}</h3>
	</div>
	<table class="table dashboard-table-stream-detail">
		<tbody>
			<tr><td colspan='2' class='row-title' class='row-title'>{{'STREAM'|translate}}</td></tr>
			<tr>
				<td>{{'STREAM_FIELD_CODE'|translate}}</td>
				<td>{{stream.codiceStream}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_NAME'|translate}}</td>
				<td>{{stream.nomeStream}}</td>
			</tr>
			<tr><td colspan='2' class='row-title'>{{'STREAM_FIELD_COMPONENTS'|translate}}</td></tr>
			<tr>
				<td colspan='2'>
					<table class='table-condensed table-supercondensed dashboard-table-components'>
						<thead>
							<tr>
								<th>{{'STREAM_FIELD_COMPONENTS_NAME'|translate}}</th>
								<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
								<th>{{'STREAM_FIELD_COMPONENTS_TOLERANCE'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_PHENOMENON'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_DATA_TYPE'|translate}}</th>
		
							</tr>	
						</thead>
						<tbody>
							<tr ng-repeat="component in stream.componenti.element">
								<td><span style="display: none"> {{component.idComponente}}</span>{{component.nome}}</td>
								<td>{{component.measureUnitCategory}}: {{component.measureUnit}}</td>
								<td>{{component.tolerance}}</td>
								<td>{{component.phenomenonCategory}}: {{component.phenomenon}}</td>
								<td>{{component.dataType}}</td>
							</tr>	
						</tbody>
					</table>
				</td>
			</tr>
			<tr><td colspan='2' class='row-title'>{{'VIRTUALENTITY'|translate}}</td></tr>
			<tr>
				<td>{{'STREAM_FIELD_VIRTUALENTITY_CODE'|translate}}</td>
				<td>{{stream.codiceVirtualEntity}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_VIRTUALENTITY_TYPE'|translate}}</td>
				<td>{{stream.tipoVirtualEntity}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_VIRTUALENTITY_NAME'|translate}}</td>
				<td>{{stream.virtualEntityName}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_VIRTUALENTITY_DESCRIPTION'|translate}}</td>
				<td>{{stream.virtualEntityDescription}}</td>
			</tr>			
			<tr><td colspan='2' class='row-title'>{{'TENANT'|translate}}</td></tr>
			<tr>
				<td>{{'STREAM_FIELD_TENANT_NAME'|translate}}</td>
				<td>{{stream.nomeTenant}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_TENANT_CODE'|translate}}</td>
				<td>{{stream.codiceTenant}}</td>
			</tr>
			<tr><td colspan='2' class='row-title'>{{'DASHBOARD_STREAM_DETAIL_OTHER_CONFIUGURATION'|translate}}</td></tr>
			<tr>
				<td>{{'STREAM_FIELD_DOMAIN'|translate}}</td>
				<td>{{stream.domainStream|translate}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_LICENCE'|translate}}</td>
				<td>{{stream.licence}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_DISCLAIMER'|translate}}</td>
				<td><a href='{{stream.disclaimer}}' target='_blank'>{{stream.disclaimer}}</a></td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_COPYRIGHT'|translate}}</td>
				<td>{{stream.copyright}}</td>
			</tr>
			<tr>
				<td><span ng-bind-html="'STREAM_FIELD_VISIBILITY'|translate"></span></td>
				<td>{{stream.visibility}}</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_TAGS'|translate}}</td>
				<td>
					<ul class="list-inline">
						<!-- <li ng-repeat="tag in stream.streamTags.tag"><span class="label label-info label-custom">{{tag.tagCode|translate}}</span></li> -->
						<li ng-repeat="tag in stream.streamTags.tag"><span class="label label-custom label-tag"><span ng-bind-html="tag.tagCode|translate"></span></span></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>{{'STREAM_FIELD_FPS'|translate}}</td>
				<td>{{stream.fps}}</td>
			</tr>
		</tbody>
	</table>
</div>
