<div class='section-dashboard' ng-cloak>
	<div class="container">
		<div class='title-container row'>
			<h1><span translate>DASHBOARD_TITLE</span></h1>
			<div class="title-menu">
				<dashboard-menu></dashboard-menu>
			</div>
		</div>
		<div class=row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="DashboardCtrl as streamsCtrl">

				<div class='clearfix  content-toolbar'>	
					<div class="btn-group pull-right">
						<form class="form-inline" role="form">
							<div class="form-group">
								<input type="text" class="form-control col-xs-2" ng-model="tenantsFilter" placeholder="{{'STREAM_LIST_TENANT_FILTER'|translate}}" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control col-xs-2" ng-model="statusFilter" placeholder="{{'STREAM_LIST_STATUS_FILTER'|translate}}" />
							</div>
							<div class="form-group">
								<input type="text" class="form-control col-xs-2" ng-model="codeFilter" placeholder="{{'STREAM_LIST_CODE_FILTER'|translate}}" />
							</div>
						</form>
					</div>
				</div>
				<div class="table-responsive dashboard-streamList-table">
					<table class="table">
						<thead>
							<tr>
								<th>
									<a href="" ng-click="predicate = 'nomeTenant'; reverse=!reverse"><span translate>DASHBOARD_STREAM_LIST_TENANT</span> 
									<span ng-show="predicate=='nomeTenant' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='nomeTenant' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								</th>
								<th>
									<a href="" ng-click="predicate = 'codiceStream'; reverse=!reverse"><span translate>DASHBOARD_STREAM_LIST_STREAM_NAME</span> 
										<span ng-show="predicate=='codiceStream' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
										<span ng-show="predicate=='codiceStream' && reverse" class="glyphicon glyphicon-chevron-down small"></span>
									</a>
								
								</th>
								<th>
									<a href="" ng-click="predicate = 'virtualEntityDescription'; reverse=!reverse"><span translate>STREAM_FIELD_VIRTUALENTITY_DESCRIPTION</span> 
									<span ng-show="predicate=='virtualEntityDescription' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='virtualEntityDescription' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								
								</th>
								<th>
									<a href="" ng-click="predicate = 'domainStream'; reverse=!reverse"><span translate>STREAM_FIELD_DOMAIN</span> 
									<span ng-show="predicate=='domainStream' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='domainStream' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								
								</th>
								<th>
									<a href="" ng-click="predicate = 'deploymentStatusCode'; reverse=!reverse"><span translate>DASHBOARD_STREAM_LIST_STATUS</span> 
									<span ng-show="predicate=='deploymentStatusCode' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='deploymentStatusCode' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-show="showLoading">
								<td colspan='5' >
									<div class='ajax-loading-container'>
										<span class='ajax-loading-big'></span>
										<h4>Loading...</h4>
									</div>
								</td>
							</tr>
							
							<tr ng-repeat="stream in filteredStreams = (streamsList | filter: searchCodeFilter | filter: searchTenantsFilter|  filter: searchStatusFilter|  orderBy:predicate:reverse )|startFrom:(currentPage-1)*pageSize | limitTo:pageSize  ">
								<td>{{stream.nomeTenant}}</td>
								<td class='text-left'>
									<a href="#/dashboard/stream/{{stream.codiceTenant}}/{{stream.codiceVirtualEntity}}/{{stream.codiceStream}}">
										<img ng-src="{{stream.streamIcon}}" alt="logo stream" class='list-entity-icon-preview-img' >
										<strong>{{stream.codiceStream}}</strong> - {{stream.nomeStream}}
									</a>
								</td>
								<!-- 
								<td><small>{{stream.codiceVirtualEntity}}</small></td>
								<td>{{stream.registration_date|date}}</td>
								<td>{{stream.lastUpdate|date}}</td>
								-->
								<td><small>{{stream.virtualEntityDescription}}</small></td>
								<td>{{stream.domainStream|translate}}</td>
								<td class='text-left'><span ng-bind-html="stream.statusIcon"></span> {{stream.deploymentStatusCode|translate}}</td>
							</tr>
						</tbody>
					</table>
					<pagination boundary-links="true" total-items="filteredStreams.length" ng-model="currentPage" ng-change="selectPage()" class="pagination-sm" previous-text="&lsaquo;"
						next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
					></pagination>
	
	
				</div>
			</div>
		</div>
	</div>
</div>