<div class='section-dashboard' ng-controller="DashboardStreamCtrl as streamsCtrl">
	<div class='page-top-panel'>
		<div class="title-container" ng-cloak>
			<div class='container clearfix'>
				<h1  class='pull-left'><span translate-cloak translate>DASHBOARD_STREAM_TITLE</span> <strong>{{stream.codiceStream}}</strong> </h1>
				<div class="pull-right title-menu">
					<dashboard-menu></dashboard-menu>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
				<stream-realtime></stream-realtime>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
				<stream-card></stream-card>
			</div>
		</div>
	</div>
</div>