<div class=''>
	<div class='row'>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<h4>{{'DASHBOARD_STREAM_WS_STATISTICS_CHART_TITLE'|translate}}&nbsp;<small>{{'STREAM_FIELD_FPS'|translate}} {{stream.fps}} </small></h4>
			<div class='mute'>
				{{'DASHBOARD_STREAM_REALTIME_FPS'|translate}} <span class='important'>{{stream.fps|number_ellipse:0.01:1000}}</span> - {{'DASHBOARD_STREAM_REALTIME_SEC_BTW_EVENTS'|translate}}  <span class='important'>{{stream.secondsBtwEvents|number_ellipse:0.01:1000}}</span> | 
				{{'DASHBOARD_STREAM_REALTIME_FPM'|translate}} <span class='important'>{{stream.fpm|number_ellipse:0.01:1000}}</span> - {{'DASHBOARD_STREAM_REALTIME_MIN_BTW_EVENTS'|translate}}  <span class='important'>{{stream.minutesBtwEvents|number_ellipse:0.01:1000}}</span> 
			</div>
			<div class='graph-container'>
				<nvd3-line-chart 
					data="nvWsStatisticData" 
					id="nvStatisticData" 
					width="600" 
					height="300" 
					showXAxis="true" 
					showYAxis="true" 
					tooltips="false" 
					interactive="false" 
					interpolate="basis"
					objectEquality="true" 
					> <svg></svg> 
				</nvd3-line-chart>
			<!-- <stream-components-real-time data='wsStatisticData'></stream-components-real-time>  -->
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class='panel-stream-realtime-statistics-time'>
				<div class='panel-stream-realtime-statistics-time-title'>
					<h5>{{'DASHBOARD_STREAM_WS_STATISTICS_TIME_TABLE_TITLE'|translate}}</h5>
				</div>
				<table class='table table-condensed table-supercondensed '>
					<tbody>
						<tr ng-repeat="row in wsStatisticMessages">
							<td>{{row[0]}}</td>
							<td>{{row[1]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class='panel-stream-realtime-errors-time'>
				<div class='panel-stream-realtime-errors-time-title'>
					<h5>{{'DASHBOARD_STREAM_WS_ERROR_TIME_TABLE_TITLE'|translate}}</h5>
				</div>
				<table class='table table-condensed table-supercondensed '>
					<tbody>
						<tr ng-repeat="row in wsErrorMessages">
							<td>{{row[0]}}</td>
							<td>{{row[1]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div>
	<h4>{{'DASHBOARD_STREAM_SYSTEM_STATUS'|translate}}</h4>
	<div class='row'>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
			<p><strong>{{'STREAM_FIELD_STATUS'|translate}}</strong> {{stream.deploymentStatusDesc}}</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
			<p><strong>{{'STREAM_FIELD_LASTUPDATE'|translate}}</strong> {{stream.lastUpdate|date}}</p>
		</div>
	</div>
	<div class='row hide'>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
			<div class='panel-stream-realtime-statistics'>
				<div class='panel-stream-realtime-statistics-title'>
					<h4>{{'DASHBOARD_STREAM_REALTIME_STATISTIC_TITLE'|translate}}</h4>
				</div>
				<table class="table table-supercondensed ">
					<tbody>
						<tr>
							<td><strong>{{'STREAM_FIELD_STATUS'|translate}}</strong></td>
							<td>{{stream.deploymentStatusDesc}}</td>
						</tr>
						<tr>
							<td><strong>{{'STREAM_FIELD_LASTUPDATE'|translate}}</strong></td>
							<td>{{stream.lastUpdate|date}}</td>
						</tr>
						<tr>
							<td><strong>{{'STREAM_FIELD_NUM_EVENTS_QUEUED'|translate}}</strong></td>
							<td>{{stream.num_events_queued}} <span class="label label-danger">nascondere ?</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
			<div class='panel-stream-realtime-statistics'>
				<div class='panel-stream-realtime-statistics-title'>
					<h4>{{'STREAM_FIELD_MESSAGE_SIZE'|translate}}</h4>
				</div>
				<table class="table table-supercondensed">
					<tbody>
						<tr>
							<td><strong>{{'STREAM_FIELD_MESSAGE_SIZE_AVERAGE'|translate}}</strong></td>
							<td>{{stream.message_size.average}}</td>
						</tr>
						<tr>
							<td><strong>{{'STREAM_FIELD_MESSAGE_SIZE_MAX'|translate}}</strong></td>
							<td>{{stream.message_size.max}}</td>
						</tr>
						<tr>
							<td><strong>{{'STREAM_FIELD_MESSAGE_SIZE_MIN'|translate}}</strong></td>
							<td>{{stream.message_size.min}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<div class=''>
	<h4>{{'DASHBOARD_STREAM_WS_URL_TITLE'|translate}}</h4>
	<div class="alert alert-warning" role="alert">
		<p>{{wsUrl}}</p>
	</div>
</div>

<div class=''>
	<h4>
		{{'DASHBOARD_STREAM_WS_LASTMESSAGE_PANEL_TITLE'|translate}}
		<button class='btn btn-default pull-right' ng-click="refreshLastMessage()">
			<span class="glyphicon glyphicon-refresh"></span> {{'DASHBOARD_STREAM_WS_LASTMESSAGE_REFRESH_BUTTON'|translate}}
		</button>
	</h4>
	<div>&nbsp;</div>
	<pre pretty-json="wsLastMessageToShow" />

</div>




<!--  	<cr-d3-bars data='myData'></cr-d3-bars> -->