
<div ng-controller="DashboardCtrl as dashboardCtrl" id='backoffice-dashboard'>
	<div class='container' ng-cloak>
		<div class='title-container clearfix' ng-cloak>
			<h1 class='pull-left'><span translate>DASHBOARD_TITLE</span></h1>
			<div class="title-menu">
				<a href ng-click="changeSection('streamsSection')" class='btn  btn-top-toolbar' ng-class="{active: currentSection == 'streamsSection'}" translate>DASHBOARD_MENU_STREAMS</a>
				<a href ng-click="changeSection('tenantsSection')" class='btn  btn-top-toolbar' ng-class="{active: currentSection == 'tenantsSection'}" translate>DASHBOARD_MENU_TENANTS</a>
				<a href ng-click="changeSection('usersSection')" class='btn  btn-top-toolbar' ng-class="{active: currentSection == 'usersSection'}" translate>DASHBOARD_MENU_USERS</a>
			</div>
		</div>
	</div>
	<p>&nbsp;</p>
	<div class=''>
		<div class='container'  >
			<div class='alert ng-hide' ng-cloak>
				<strong><i class="fa fa-exclamation-triangle"></i>&nbsp;<span translate>WARNING</span></strong>&nbsp;&nbsp;<span translate>DASHBOARD_WARNING</span>
			</div>
			<div class='row'>
				<div class="col-sm-12 ">
					<carousel id='newDatasetWizard' interval="-1">
						<slide  active="currentSection == 'streamsSection'">
							<dashboard-streams></dashboard-streams>
						</slide>
						<slide active="currentSection == 'tenantsSection'">
							<dashboard-tenants></dashboard-tenants>
						</slide>
						<slide active="currentSection == 'usersSection'">
							<dashboard-users></dashboard-users>
						</slide>
					</carousel>
				</div>
			</div>
			<div ng-show='showTenantDetail'>
				<dashboard-tenant-detail></dashboard-tenant-detail>
			</div>
			<div ng-show='showUserDetail'>
				<dashboard-user-detail></dashboard-user-detail>
			</div>
		</div>
	</div>
</div>