<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/Master.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Smart Data Platform</title>
<!-- InstanceEndEditable -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../css/stile.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="../js/gmaps.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="MenuLaterale" type="boolean" value="false" -->
<!-- InstanceParam name="acgest" type="text" value="" -->
<!-- InstanceParam name="acmonit" type="text" value="active" -->
<!-- InstanceParam name="acdash" type="text" value="" -->
<!-- InstanceParam name="acflussi" type="text" value="" -->
<!-- InstanceParam name="acve" type="text" value="" -->
<!-- InstanceParam name="acdataset" type="text" value="" -->
<!-- InstanceParam name="acstore" type="text" value="" -->
<!-- InstanceParam name="acmarket" type="text" value="" -->
</head>
<body>
<div role="navigation" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="../index.html" class="navbar-brand">Smart Data Platform</a> </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="../gestione/gestione.html">Gestione</a></li>
        <li class="active"><a href="monitoraggio.html">Monitoraggio</a></li>
        <li class=""><a href="../store/store.html">Store</a></li>
        <li class=""><a href="../market/market.html">Marketplace</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">  <!-- InstanceBeginEditable name="body" -->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <h2>Flusso XYZ</h2>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="btn-group pull-right"> <a href="../gestione/flussi/modifica_flusso.html">
        <button type="button" class="btn btn-primary">Modifica</button>
        </a></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
      <!-- Main component for a primary marketing message or call to action -->
      <div class="well">
        <h2>Grafico del numero di eventi creati da device attivi (espresso nel tempo)</h2>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"> 
      <!-- Main component for a primary marketing message or call to action -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Dettaglio Flusso</h2>
        </div>
        <div class="panel-body">
          <div class="">
            <p>{ "glossary": { "title": "example glossary", "GlossDiv": { "title": "S", "GlossList": { "GlossEntry": { "ID": "SGML", "SortAs": "SGML", "GlossTerm": "Standard Generalized Markup Language", "Acronym": "SGML", "Abbrev": "ISO 8879:1986", "GlossDef": { "para": "A meta-markup language, used to create markup languages such as DocBook.", "GlossSeeAlso": ["GML", "XML"] }, "GlossSee": "markup" } } } } }</p>
          </div>
        </div>
      </div>
      
      <div class="well">
        <h2>Statistiche del flusso</h2>
        <ul>
          <li>Dimensione minima messaggio: 1Kb</li>
          <li>Dimensione media messaggio: 12Kb</li>
          <li>Dimensione massima messaggio: 23 Kb</li>
          <li>Numero eventi accodati: 7 </li>
        </ul>
        <p>&nbsp;</p>
      </div>
      
      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
      <!-- Main component for a primary marketing message or call to action -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Anagrafica Flusso</h2>
        </div>
        <div class="panel-body">
          <div class="">
            <p>Nome: Flusso XYZ</p>
            <p>Virtual Entity: 550e8400-e29b-41d4-a716-446655440000</p>
            <p>Descrizoine: <strong>Weather station</strong> with the following instruments:</p>
            <ul>
              <li><strong>Thermometer</strong> for measuring air and sea surface temperature</li>
              <li><strong>Barometer</strong> for measuring atmospheric pressure</li>
              <li><strong>Hygrometer</strong> for measuring humidity</li>
              <li><strong>Anemometer</strong> for measuring wind speed</li>
              <li><strong>Rain gauge</strong> for measuring liquid precipitation over a set period of time</li>
            </ul>
            <p>Componenti</p>
            <table>
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Unit of measurement</th>
                  <th>Data type</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="component in stream.components">
                  <td>Temperature</td>
                  <td>C</td>
                  <td>double</td>
                </tr>
                <tr ng-repeat="component in stream.components">
                  <td>Atmospheric pressure</td>
                  <td>hPa</td>
                  <td>double</td>
                </tr>
              </tbody>
            </table>
            <p>Dominio: Meteo</p>
            <p>Licenza: CC-0</p>
            <p>Displaimer: http://www.example.com/discalimer</p>
            <p>Copyright: 2014 - CSP</p>
            <p>Visibilità: Pubblico</p>
            <p>Tag: </p>
            <p>FPS:</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>

    <!-- InstanceEndEditable --> </div>
</div>
<div class="footer">
  <div class="container">
    <p class="text-muted">CSI-Piemonte 2014</p>
  </div>
</div>
</body>
<!-- InstanceEnd --></html>