<div class='domains-panel'>
	<div ng-repeat='domain in domainList' ng-if="$index % 2 == 0" class="row " >
		<div class='col-sm-4 col-sm-offset-2 browsedata-choosing-domain-box' ng-click='selectDomain(domainList[$index])'ng-class="{'browsedata-choosing-domain-box-selected':domainList[$index]==selectedDomain}">
			<span translate-cloak translate>{{domainList[$index]}}</span>
		</div>
		<div class='col-sm-4 browsedata-choosing-domain-box' ng-click='selectDomain(domainList[$index+1])' ng-class="{'browsedata-choosing-domain-box-selected':domainList[$index+1]==selectedDomain}">
			<span translate-cloak translate>{{domainList[$index+1]}}</span>
		</div>
	</div>
</div>

