body{font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 20px;font-weight: 100;}

table>thead>tr>th{color: #1dbbee; font-weight: 500; text-transform: uppercase;padding: 4px 5px;}

/* logo */

.navbar-brand{padding: 0px;}
.logo{letter-spacing: 2px;}
.logo-text-smart{color: #707c7c;}
.logo-text-data{color: #00963d;}
.logo-text-net{color: #707c7c;}

.menu-flag-icon{display: block; height: 40px; width: 40px;}
.menu-flag-icon-en{background: url("../img/flags/en.png") center center no-repeat; }
.menu-flag-icon-it{background: url("../img/flags/it.png") center center no-repeat; }

footer {   width: 100%; height: auto; }/*position: fixed; bottom: 0px;left: 0px; }*/
footer{text-align: center;    background-color:#efefef; border-top:1px solid #e1e1e1; padding: 2em;}
footer ul {list-style-type: none;}
footer ul li { display:inline;}
footer ul li + li::before  { content: "|"; padding: 0 .5em; }

.title-container{ background-color:#efefef;  border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1; margin-bottom:1em; color: #333;	}

.top-toolbar{margin-bottom: 1em;}

.compact-panel{border: 2px solid #00963d; border-radius: 4px; margin-bottom: 1em;}
.compact-panel-title{background-color: #00963d;overflow: auto; padding: 0 1em; color: white; }
.compact-panel table .row-title{background-color: #efefef; font-weight: bold;}

.data-summary-panel{border-color: #efefef;}
.data-summary-panel table{width: 100%;}
.data-summary-panel tr{border-bottom: #efefef 1px solid;}
.data-summary-panel tr:last-child{border-bottom: none;}
.data-summary-panel td{padding-left: 1em!important;padding-right: 1em!important;}



.label a{color: white;}
.label-custom{font-size:85%; padding:0.5em 0.8em;}
.required-asterisk {color: #009640;}


.graph-container-svg{ width: 600px; height: 300px;}

.table-supercondensed{font-size: 9pt; line-height: auto; border-spacing: 1px;margin-bottom: 0px;}
.table-noborder>tbody>tr>td{border-top: none;}


small pre{font-size: 11px;padding: 4px;}

/* validation */
.ng-dirty.ng-invalid{border-color: #b50000;}
.error-validation-icon{color: #b50000;}

/* help */
.help-panel{border:5px solid #DBDB01; color:#000000;}
.help-title{color: #666666;}
.help-bullet{color: #1cbcee;}

/* button colors */
.action-new{color: #19aeff;}
.action-edit{color: #edd400;}
.action-delete{color: #b50000;}
.action-install{color: #9ade00;}
.action-uninstall{color: #d49725;}
.action-historical{color: #9955bb;}

.btn-new{color: white; background-color: #19aeff;border-color: #06a8ff;}
.btn-edit{color: white; background-color: #edd400;border-color: #bda900;}
.btn-delete{color: white; background-color: #ff4141;border-color: #f31010;}
.btn-install{color: white; background-color: #9ade00;border-color: #7ab100;}
.btn-uninstall{color: white; background-color: #d49725;border-color: #a87412;}
.btn-historical{color: white; background-color: #9955bb;border-color: #7f37a3;}

.btn-default.disabled,.btn-default[disabled]{background-color: #ddd; color: #888;border-color: #585858;}

/* dashboard */
.dashboard-streamList-table{margin-top: 20px;}



.dashboard-stream-description{font-size: 9pt; }
.dashboard-stream-description ul {list-style-type:circle;}

.panel-stream-realtime-statistics-time{border: 1px solid #5497c5; border-radius: 4px; overflow: hidden;margin-top: 20px;}
.panel-stream-realtime-statistics-time-title{background-color: #5497c5;overflow: auto; padding: 0 1em; color: white;}

.panel-stream-realtime-errors-time{border: 1px solid #c63e3e; border-radius: 4px; overflow: hidden;margin-top: 20px;}
.panel-stream-realtime-errors-time-title{background-color: #c63e3e;overflow: auto; padding: 0 1em; color: white;}

.panel-stream-realtime-statistics{border: 1px solid #00963d; border-radius: 4px;}
.panel-stream-realtime-statistics-title{background-color: #00963d;overflow: auto; padding: 0 .5em; color: white; }


.form-label-separator{font-size: 1.2em; font-weight: bold; color: #bbb; border-bottom: 1px solid #ccc;margin: .5em 0;padding: .5em 0;}
.form-toolbar{margin: .5em 0; padding: .4em; border-top: 1px solid #ccc;text-align: right;}

.card-label-separator{font-size: 1.2em; font-weight: bold; color: #bbb; border-bottom: 1px solid #ccc;margin: .5em 0;padding: .5em 0;}
.card-label{text-align: right;}
.card-row{padding: .5em 0;}
.card-toolbar{margin: .5em 0; padding: .4em; border-top: 1px solid #ccc;text-align: right;}
.mute{color: #ccc;}

.big-alert{ font-size: 2em; }

#management-edit-stream-component-help-fix{padding-right: 2px;}

/* Work in progress */

.work-in-progress{}
.work-in-progress-top{border-bottom: 1px solid  #ccc; margin:2em; padding: 2em;}
.work-in-progress-logo{text-align: center;}
.work-in-progress h1{font-weight: bold; font-size: 48pt; text-align: center; letter-spacing: .1em; color: #666; font-family: Arial;}
.work-in-progress h2{font-weight: bold; font-size: 42pt; color: #ccc;text-align: center; margin-bottom: 1em;letter-spacing: .2em;}



.span-errors{
	margin-left:30px;
	
}
/* json custom color */
/*
pre{outline:1px solid #f5f5f5;padding:5px;margin:5px;width:100%;height:100%; background-color: #f5f5f5; color: white;}
.string{color: #ccff42}  
.number{color:#ff9900}  
.boolean{color:#19aeff} 
.null{color: #F414C0}  
.key{color:#DD4B39} */

/*.graph-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.graph-container-svg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}*/
