body{font-family: Helvetica, Arial, Sans-Serif;font-size: 14px;line-height: 20px;font-weight: 100;}

table>thead>tr>th{color: #1dbbee; font-weight: 500; text-transform: uppercase;padding: 4px 5px;}

/* logo */

.navbar-brand{padding: 0px;}
.logo{letter-spacing: 2px;}
.logo-text-smart{color: #707c7c;}
.logo-text-data{color: #00963d;}
.logo-text-net{color: #707c7c;}

.menu-flag-icon{display: block; height: 40px; width: 40px;}
.menu-flag-icon-en{background: url("../img/flags/en.png") center center no-repeat; }
.menu-flag-icon-it{background: url("../img/flags/it.png") center center no-repeat; }

footer {   width: 100%; height: auto; }/*position: fixed; bottom: 0px;left: 0px; }*/
footer{text-align: center;    background-color:#efefef; border-top:1px solid #e1e1e1; padding: 2em;}
footer ul {list-style-type: none;}
footer ul li { display:inline;}
footer ul li + li::before  { content: "|"; padding: 0 .5em; }

.title-container{ background-color:#efefef;  border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1; margin-bottom:1em; color: #333;	}

.top-toolbar{margin-bottom: 1em;}

.compact-panel{border: 2px solid #1074c2; border-radius: 4px; margin-bottom: 1em;}
.compact-panel-title{background-color: #1074c2;overflow: auto; padding: 0 1em; color: white; }
.compact-panel table .row-title{background-color: #efefef; font-weight: bold;}

.data-summary-panel{border-color: #efefef;}
.data-summary-panel table{width: 100%;}
.data-summary-panel tr{border-bottom: #efefef 1px solid;}
.data-summary-panel tr:last-child{border-bottom: none;}
.data-summary-panel td{padding-left: 1em!important;padding-right: 1em!important;}



.label a{color: white;}
.label-custom{font-size:85%; padding:0.5em 0.8em;margin: .1em;}
.required-asterisk {color: #009640;}

.label-tag{background-color:  #bada55;}


.graph-container-svg{ width: 600px; height: 300px;}

.table-supercondensed{font-size: 8pt; line-height: auto; border-spacing: 1px;margin-bottom: 0px;}
.table-noborder>tbody>tr>td{border-top: none;}


small pre{font-size: 11px;padding: 4px;}

/* validation */
.ng-dirty.ng-invalid{border-color: #b50000;}
.error-validation-icon{color: #b50000;}

/* help */
.help-panel{border:5px solid #DBDB01; color:#000000;}
.help-title{color: #666666;}
.help-bullet{color: #1cbcee;}

/* button colors */
.action-new{color: #19aeff;}
.action-edit{color: #edd400;}
.action-request-installation{color: #ff9900;}
.action-delete{color: #b50000;}
.action-install{color: #9ade00;}
.action-uninstall{color: #d49725;}
.action-historical{color: #9955bb;}

.btn-new{color: white!important; background-color: #19aeff;border-color: #0aa9ff;}
.btn-new:hover{background-color: #0085cc;}
.btn-edit{color: white!important; background-color: #edd400;border-color: #e0ca00;}
.btn-edit:hover{background-color: #938300;}
.btn-delete{color: white!important; background-color: #ff4141;border-color: #ff3333;}
.btn-delete:hover{background-color: #b80606;}
.btn-install{color: white!important; background-color: #9ade00;border-color: #8fcc00;}
.btn-install:hover{background-color: #5f8a00;}
.btn-uninstall{color: white!important; background-color: #d49725;border-color: #bf8822;}
.btn-uninstall:hover{background-color: #734b00;}
.btn-historical{color: white!important; background-color: #9955bb;border-color: #8c46af;}
.btn-historical:hover{background-color: #5f1585;}

.btn-default.disabled,.btn-default[disabled]{background-color: #ddd; color: #888;border-color: #ccc;}

/* dashboard */
.dashboard-streamList-table{margin-top: 20px;}



.dashboard-stream-description{font-size: 9pt; }
.dashboard-stream-description ul {list-style-type:circle;}

.panel-stream-realtime-statistics-time{border: 1px solid #5497c5; border-radius: 4px; overflow: hidden;margin-top: 20px;}
.panel-stream-realtime-statistics-time-title{background-color: #5497c5;overflow: auto; padding: 0 1em; color: white;}

.panel-stream-realtime-errors-time{border: 1px solid #c63e3e; border-radius: 4px; overflow: hidden;margin-top: 20px;}
.panel-stream-realtime-errors-time-title{background-color: #c63e3e;overflow: auto; padding: 0 1em; color: white;}

.panel-stream-realtime-statistics{border: 1px solid #00963d; border-radius: 4px;}
.panel-stream-realtime-statistics-title{background-color: #00963d;overflow: auto; padding: 0 .5em; color: white; }


.form-label-separator{font-size: 1.2em; font-weight: bold; color: #bbb; border-bottom: 1px solid #ccc;margin: .5em 0;padding: .5em 0;}
.form-toolbar{margin: .5em 0; padding: .4em; border-top: 1px solid #ccc;text-align: right;}

.card-label-separator{font-size: 1.2em; font-weight: bold; color: #bbb; border-bottom: 1px solid #ccc;margin: .5em 0;padding: .5em 0;}
.card-label{text-align: right;}
.card-row{padding: .5em 0;}
.card-toolbar{margin: .5em 0; padding: .4em; border-top: 1px solid #ccc;text-align: right;}
.mute{color: #ccc;}

.big-alert{ font-size: 2em; }

#management-edit-stream-component-help-fix{padding-right: 2px;}

/* Work in progress */

.work-in-progress{}
.work-in-progress-top{border-bottom: 1px solid  #ccc; margin:2em; padding: 2em;}
.work-in-progress-logo{text-align: center;}
.work-in-progress h1{font-weight: bold; font-size: 48pt; text-align: center; letter-spacing: .1em; color: #666; font-family: Arial;}
.work-in-progress h2{font-weight: bold; font-size: 42pt; color: #ccc;text-align: center; margin-bottom: 1em;letter-spacing: .2em;}



.span-errors{margin-left:30px;}


/* freeboard */
#freeboard-container{overflow: hidden; min-height: 400px;}
/* dark */
/*
#freeboard-container .gridster{color: #abaaaa;}
#freeboard-container .gridster .gs_w { background: #474747; border-radius: 6px;border: solid 1px #373737;}
#freeboard-container .gridster header {background-color: #373737; color: #abaaaa;}
#freeboard-container .sub-section {border-bottom: solid 1px #373737;}


#freeboard-container .gridster{color: #5e8292;}
#freeboard-container .gridster .gs_w { background: #e5ebee; border-radius: 0px;border: solid 0px #8ca6b2;}
#freeboard-container .gridster header {background-color: #8ca6b2; color: #fdfdfd;}
#freeboard-container .sub-section {border-bottom: solid 1px #8ca6b2;}
#freeboard-container a{color: #01796f;}

*/

/* blu */

#freeboard-container .gridster{color: white;}
#freeboard-container .gridster .gs_w { background: #075B9B;}
#freeboard-container .gridster header {background-color: #054678; color: #fdfdfd;}
#freeboard-container .sub-section {border-bottom: solid 1px #054678;}
#freeboard-container a{color: #B6D9F4; letter-spacing: .1em;}
#freeboard-container a:hover{color: #fff;}


/* light gray */
/*
#freeboard-container .gridster{color: #A4A09B;}
#freeboard-container .gridster .gs_w { background: #EAE9E6;}
#freeboard-container .gridster header {background-color: #F6F5F4; color: #938D8B;}
#freeboard-container .sub-section {border-bottom: solid 4px #Fff;}
#freeboard-container a{color: #5B9FD3;}
*/
/*
#freeboard-container .gridster{color: #76746F;}
#freeboard-container .gridster .gs_w { background: #EAE9E6;}
#freeboard-container .gridster header {background-color: #EAE9E6; color: #938D8B;  }
#freeboard-container .gridster header h1{font-size: 24px; font-weight: 300;  color: #054678; margin: .5em 0;}
#freeboard-container .sub-section {border-bottom: solid 4px #EAE9E6;}
#freeboard-container a{color: #5B9FD3; font-weight: 300;  }
#freeboard-container strong{font-weight: 300;  font-size: 17px;}
*/
.jqstooltip { -webkit-box-sizing: content-box; -moz-box-sizing: content-box;  box-sizing: content-box;}

/* home page */
#homepage{ font-weight:300; letter-spacing:0.05em; }
#homepage header{margin-top: 1em;}
#homepage h1{   font-size:42px;    font-weight:300; line-height:56px;}
#homepage h2{   font-size:42px;  font-weight:300; line-height:56px;}
#homepage .slogan{margin-bottom: .7em; margin-top: 0; text-align: center;}
#homepage .row-separator{margin: 2em 0;}

.tile{ margin: .5em 0; color: white; }
.tile a{ color: white; display: block; width: 100%; height: 100%;padding: 1em; }
.tile a:hover{ text-decoration: none;}
.tile h3{margin-top: 1em;  text-align: right;}

.tile-main{padding: 2em 2em 1em 2em;}
.tile .main-icon{font-size: 128px;}

.tile-counter{font-size: 64px; line-height: 1.5em; text-align: right; padding-bottom: 0.5em; }
.tile-menuitem {font-size:larger;margin: .5em 0; }
.tile-subtitle {padding: 1em; font-size:larger; }
.tile-subtitle-link {font-size:larger; }


.dashboard-menu .tile-main, .btn-dashboard.active, .btn-dashboard:hover {background-color: #1074c2; color: white;  }
.dashboard-menu .tile-menuitem, .btn-dashboard {background-color: #1CBDF1;color: white!important; border: none; }
.dashboard-menu .tile-menuitem:hover {background-color: #1074c2;}

.management-menu .tile-main, .btn-management.active,  .btn-management:hover{background-color: #662577;color: white; }
.management-menu .tile-menuitem,  .btn-management{background-color: #9F4F98; color: white; border: none;}
.management-menu .tile-menuitem:hover {background-color: #662577;}

.tenant-menu .tile-main {background-color: #EA178C;}
.tenant-menu .tile-subtitle{background-color: #ED59AD; }

.stream-menu .tile-main {background-color: #81AE1D;}
.stream-menu .tile-subtitle{background-color: #BBC71D; }

.virtualentity-menu .tile-main {background-color: #F3953E;}
.virtualentity-menu .tile-subtitle{background-color: #E4AA2F; }

.about-menu .tile-main {background-color: #118171;}
.about-menu .tile-subtitle-link{background-color: #21B196; }
.about-menu .tile-subtitle-link:hover{background-color: #118171; }


#homepage .desc{font-size: 16pt; line-height: 2em;}
#homepage .desc li .glyphicon-check{color: #81AE1D;}
#homepage .btn-startdemo{font-size: 32px; padding: .6em;}



/* metrostyle */


.navbar-default {background-color: white; border-color: white;margin-top: 1em;}
.navbar-default .navbar-nav>li>a {}

.btn{border-radius: 0px; font-size: 17px; border: 0px solid #ccc;}
.nav-pills>li>a{border-radius: 0px; font-size: 17px;border: 0px solid #ccc;}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{background-color: #ccc;}

.main-menu-item{font-weight: bold;font-size: 17px; color: #ccc;}
.main-menu-item-dashboard.active{color: #1CBDF1!important;}
.main-menu-item-management.active{color: #9F4F98!important; }

/* dashboard */
.section-dashboard .btn-default.active, .section-dashboard .btn-default:hover {background-color: #1074c2!important; color: white;  }
.section-dashboard .btn-default {background-color: #1CBDF1;color: white!important; border: none; }
.section-dashboard .title-container{background-color:white;  border-bottom:3px solid #1074c2; border-top: 0px; margin-bottom:1em;	}
.section-dashboard a{color: #1074c2;}
.section-dashboard .pagination>.active>a, .section-dashboard .pagination>.active>span, .section-dashboard .pagination>.active>a:hover, .section-dashboard .pagination>.active>span:hover, .section-dashboard .pagination>.active>a:focus, .section-dashboard .pagination>.active>span:focus{background-color: #1074c2;border-color: #1074c2; color: white;}
.section-dashboard .pagination>li>a:hover, .section-dashboard .pagination>li>span:hover, .pagination>li>a:focus, .section-dashboard .pagination>li>span:focus,.section-dashboard .pagination>li>a:hover{color: #054678}
.section-dashboard .pagination>li>a, .section-dashboard .pagination>li>span{color: #054678}

/* management */
.section-management .btn-default.active, .section-management .btn-default:hover {background-color: #662577!important; color: white;  }
.section-management .btn-default {background-color: #9F4F98;color: white!important; border: none; }
.section-management .title-container{background-color:white;  border-bottom:3px solid #662577; border-top: 0px; margin-bottom:1em;	}
.section-management a{color: #662577;}
.section-management .pagination>.active>a, .section-management .pagination>.active>span, .section-management .pagination>.active>a:hover, .section-management .pagination>.active>span:hover, .section-management .pagination>.active>a:focus, .section-management .pagination>.active>span:focus{background-color: #662577;border-color: #662577; color: white;}
.section-management .pagination>li>a:hover, .section-management .pagination>li>span:hover, .pagination>li>a:focus, .section-management .pagination>li>span:focus,.section-management .pagination>li>a:hover{color: #054678}
.section-management .pagination>li>a, .section-management .pagination>li>span{color: #350242}


.navbar .space-vertical { height: 50px; margin: 0 27px; }
.navbar .divider-vertical { height: 50px; margin: 0 9px; border-right: 1px solid #ffffff; border-left: 1px solid #f2f2f2; }
.navbar-inverse .divider-vertical { border-right-color: #222222; border-left-color: #111111; }

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {  display: none; }
	.navbar-collapse .nav > .space-vertical {  display: none; }
}

/* json custom color */
/*
pre{outline:1px solid #f5f5f5;padding:5px;margin:5px;width:100%;height:100%; background-color: #f5f5f5; color: white;}
.string{color: #ccff42}  
.number{color:#ff9900}  
.boolean{color:#19aeff} 
.null{color: #F414C0}  
.key{color:#DD4B39} */

/*.graph-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.graph-container-svg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}*/


.terms-of-privacy{
	height:100%;
}
.clientConnecting{
	color: #FF9900;
}
.clientNotConnected{
	color: red;
}
.clientConnected{
	color: #00FF00;
}
