
.icon-CULTURE:before { content: '\e800'; } /* '' */
.icon-SMART_COMMUNITY:before { content: '\e801'; } /* '' */
.icon-SECURITY:before { content: '\e802'; } /* '' */
.icon-ENERGY:before { content: '\e803'; } /* '' */
.icon-TRANSPORT:before { content: '\e804'; } /* '' */
.icon-SCHOOL:before { content: '\e805'; } /* '' */
.icon-HEALTH:before { content: '\e806'; } /* '' */
.icon-ENVIRONMENT:before { content: '\e807'; } /* '' */
.icon-AGRICULTURE:before { content: '\e808'; } /* '' */