<div class="panel panel-default panel-dataexplorer-sidebar">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class='glyphicon glyphicon-record'></i>&nbsp;
			<span translate-cloak translate>DATA_EXPLORER_DETAIL_PANEL_TITLE</span>
			<a href ng-click="close()" class='panel-hide-button'>&times;</a>
		</h3>
	</div>
	<div class="panel-body">
		<accordion close-others="false">
			<accordion-group is-open="!status0.open">
			 	<accordion-heading>
		 			<span translate-cloak translate>MANAGEMENT_EDIT_DATASET_GENERAL_INFO</span>
		 			<i class="pull-right glyphicon hide" ng-class="{'glyphicon-minus': status0.open, 'glyphicon-plus': !status0.open}"></i>
				</accordion-heading>
				<div class='panel-content'>
					<p>					
						<strong><span translate-cloak translate>DATASET_FIELD_METADATA_DESCRIPTION</span></strong>
						<span>{{dataset.info.description}}</span>
					</p>
					<p>
						<strong><span translate-cloak translate>DATASET_FIELD_METADATA_DATADOMAIN</span></strong>
						<span >{{dataset.info.dataDomain|translate}}</span>
					</p>	
					<p>
						<strong><span translate-cloak translate>DATASET_FIELD_METADATA_TAGS</span></strong>
						<ul class="list-inline">
							<li ng-repeat="tag in dataset.info.tagsArray"><span class="label label-tag label-custom"><span ng-bind-html="tag|translate"></span></span></li>
						</ul>
					</p>
					<p>
						<strong><span ng-bind-html="'DATASET_FIELD_METADATA_VISIBILITY'|translate"></span></strong>
						{{dataset.info.visibility}}
					</p>
				</div>	
			</accordion-group>
			<accordion-group is-open="statusOpendata.open" ng-show="dataset.opendata.isOpendata==true">
			 	<accordion-heading>
		 			<span ng-bind-html="'DATASET_FIELD_METADATA_OPENDATA'|translate"></span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': statusOpendata.open, 'glyphicon-plus': !statusOpendata.open}"></i>
				</accordion-heading>
				<p>
					<strong><span ng-bind-html="'DATASET_FIELD_METADATA_OPENDATA_AUTHOR'|translate"></span></strong>
					{{dataset.opendata.author}}
				</p>	
				<p>
					<strong><span translate-cloak translate>DATASET_FIELD_METADATA_OPENDATA_LANG</span></strong>
					{{dataset.opendata.language}} - {{dataset.opendata.language|translate}}
				</p>	
				<p>
					<strong><span translate-cloak translate>DATASET_FIELD_METADATA_OPENDATA_DATA_UPDATE_DATE</span></strong>
					{{dataset.opendata.dataUpdateDate|date}}
				</p>	
			</accordion-group>
			<accordion-group is-open="status1.open">
			 	<accordion-heading>
		 			<span translate-cloak translate>MANAGEMENT_EDIT_DATASET_LEGAL_INFO</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>
				</accordion-heading>
				<p>
					<strong><span translate-cloak translate>DATASET_FIELD_METADATA_LICENSE</span></strong>
					{{dataset.info.license|nvl:' -'}}
				</p>	
				<p>
					<strong><span translate-cloak translate>DATASET_FIELD_METADATA_DISCLAIMER</span></strong>
					{{dataset.info.disclaimer|nvl:' -'}}
				</p>	
				<p>
					<strong><span translate-cloak translate>DATASET_FIELD_METADATA_COPYRIGHT</span></strong>
					{{dataset.info.copyright|nvl:' -'}}
				</p>	
			</accordion-group>
			<accordion-group is-open="status2.open" ng-show="dataset.Stream!=null">
				<accordion-heading>
					<span translate-cloak translate>VIRTUALENTITY</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i>
				</accordion-heading>
				<p>
					<strong><span translate-cloak translate>VIRTUALENTITY_FIELD_NAME</span></strong>
					{{dataset.info.Stream.smartOName|nvl:''}}
				</p>	
				<p>
					<strong><span translate-cloak translate>VIRTUALENTITY_FIELD_CODE</span></strong>
					{{dataset.info.Stream.smartOCode|nvl:''}}
				</p>	
				<p>
					<strong><span translate-cloak translate>VIRTUALENTITY_FIELD_DESCRIPTION</span></strong>
					{{dataset.info.Stream.smartODescription|nvl:''}}
				</p>	
				<p>
					<strong><span translate-cloak translate>VIRTUALENTITY_FIELD_TYPE</span></strong>
					{{dataset.info.Stream.smartOType|nvl:''}}
				</p>	
				<p>
					<strong><span translate-cloak translate>VIRTUALENTITY_FIELD_CATEGORY</span></strong>
					{{dataset.Stream.smartOCategory|nvl:''}}
				</p>	
				<p ng-show="dataset.Stream.latitude!=null && dataset.Stream.longitude!=null">
					<strong><span translate-cloak translate>VIRTUALENTITY_FIELD_POSITION</span></strong>
					[{{dataset.info.Stream.latitude}};{{dataset.info.Stream.longitude}}]
					<strong><span translate-cloak translate>VIRTUALENTITY_FIELD_ELEVATION</span></strong>
					{{dataset.info.Stream.elevation|nvl:' -'}}
				</p>	
			</accordion-group>
			<accordion-group is-open="status3.open" ng-show="stream!=null">
				<accordion-heading>
					<span translate-cloak translate>STREAM</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i>
				</accordion-heading>
				<p>
					<strong><span translate-cloak translate>STREAM_FIELD_NAME</span></strong>
					{{dataset.info.Stream.streamName|nvl:' -'}}
				</p>	
				<p>
					<strong><span translate-cloak translate>STREAM_FIELD_CODE</span></strong>
					{{dataset.info.Stream.streamCode|nvl:' -'}}
				</p>	
				<p>
					<strong><span translate-cloak translate>STREAM_FIELD_FPS</span></strong>
					{{dataset.info.fps|nvl:' -'}}
				</p>	
			</accordion-group>
			<accordion-group is-open="status4.open" ng-show="dataset.Stream.twtQuery!=null">
				<accordion-heading>
		 			<span translate-cloak translate>MANAGEMENT_EDIT_STREAM_TWITTER_DATA</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status4.open, 'glyphicon-plus': !status4.open}"></i>
				</accordion-heading>
				<p>
					<strong><span translate-cloak translate>STREAM_FIELD_TWT_QUERY</span></strong>
					{{dataset.info.Stream.twtQuery}}
				</p>	
				<p>
					<strong><span translate-cloak translate>STREAM_FIELD_TWT_LANG</span></strong>
					{{dataset.info.Stream.twtLang}}
				</p>	
				<p>
					<strong><span translate-cloak translate>MANAGEMENT_NEW_STREAM_GEO_COORDINATES</span></strong>
					<span ng-show="stream.twtGeolocLat!=0 || stream.twtGeolocLon!=0">[{{dataset.info.Stream.twtGeolocLat}},{{dataset.info.Stream.twtGeolocLon}}]</span>
				</p>	
				<p>
					<strong><span translate-cloak translate>STREAM_FIELD_TWT_GEO_RADIUS</span></strong>
					<span ng-show="stream.twtGeolocRadius!=0">{{dataset.info.Stream.twtGeolocRadius}} {{dataset.info.Stream.twtUnit}}</span>
				</p>	
				<p>
					<strong><span translate-cloak translate>STREAM_FIELD_TWT_RATE</span></strong>
					{{dataset.info.Stream.twtRatePercentage}}
				</p>	
			</accordion-group>
			<accordion-group is-open="status5.open">
				<accordion-heading>
					<span translate-cloak translate>MANAGEMENT_EDIT_DATASET_COLUMNS</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status5.open, 'glyphicon-plus': !status5.open}"></i>
				</accordion-heading>
			
				<p>
					<div class='table-supercondensed-container'>
						<table class="table table-supercondensed">
							<thead>
								<tr>
									<th translate-cloak translate>DATASET_FIELD_METADATA_FIELD_NAME</th>
									<th translate-cloak translate>DATASET_FIELD_METADATA_FIELD_ALIAS</th>
									<th translate-cloak translate>DATASET_FIELD_METADATA_FIELD_DATATYPE</th>
									<th translate-cloak translate>DATASET_FIELD_METADATA_FIELD_SOURCE_COLUMN</th>
									<th translate-cloak translate>DATASET_FIELD_METADATA_FIELD_UNIT</th>
									<th translate-cloak translate>DATASET_FIELD_METADATA_FIELD_IS_KEY</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="field in dataset.info.fields">
									<td>{{field.fieldName}}</td>
									<td>{{field.fieldAlias}}</td>
									<td>{{field.dataType|nvl:' - '}}</td>
									<td>{{field.sourceColumn}}</td>
									<td>{{field.measureUnit|nvl:' - '}}</td>
									<td>{{field.isKey|booleanToString|translate}}</td>
									
							</tbody>
						</table>
					</div>
				</p>
			</accordion-group>
			<accordion-group is-open="status6.open">
				<accordion-heading>
					<span translate-cloak translate>MANAGEMENT_VIEW_DATASET_DATA_URLS</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status6.open, 'glyphicon-plus': !status6.open}"></i>
				</accordion-heading>
				<p>
					<strong><span translate-cloak translate>MANAGEMENT_EDIT_DATASET_API_URL</span></strong><br/><br/>
					<a ng-href="#/dataexplorer/dataset/{{dataset.configData.tenantCode}}/{{dataset.datasetCode}}" ><span translate-cloak translate>DATA_EXPLORER_DETAIL_BACK_TO_DATASET_CARD</span></a>
				</p>	
			</accordion-group>
			<accordion-group is-open="status7.open">
				<accordion-heading>
					<span translate-cloak translate>MANAGEMENT_NEW_DATASET_DCAT</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status7.open, 'glyphicon-plus': !status7.open}"></i>
				</accordion-heading>
				<div class='container'>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_CREATORNAME</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatCreatorName}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_CREATORTYPE</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatCreatorType}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_CREATORID</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatCreatorId}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_RIGHTHOLDERNAME</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatRightsHolderName}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_RIGHTHOLDERTYPE</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatRightsHolderType}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_RIGHTHOLDERID</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatRightsHolderId}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_NOMEORG</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatNomeOrg}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate-cloak translate>DATASET_FIELD_METADATA_DCAT_EMAILORG</span></strong></div>
					<div class='col-sm-10'>{{dataset.dcatEmailOrg}}</div>
				</div>	
			</div>
			</accordion-group>
		</accordion>
	</div>
</div>

