<div class='container' id='userportal-info'>
	<div class='title-container'>
		<div class="container">
			<h1>{{'INFO_TITLE'|translate}}</h1>
		</div>
	</div>
	<div class="row intro">
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 '>
			<span ng-bind-html="'INFO_INTRO'|translate"></span>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 '>
			<div>
				<img src='img/info/html5-logo.png' alt='Github'>
			</div>
			<h2>HTML 5</h2>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 '>
			<div>
				<img src='img/info/css3-logo.png' alt='Github'>
			</div>
			<h2>CSS 3</h2>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-2 col-lg-2 '>
			<div>
				<img src='img/info/js-logo.png' alt='Github'>
			</div>
			<h2>Javascript </h2>
		</div>
	</div>
	<h2>{{'INFO_MAIN_FRAMEWORK_TITLE'|translate}}</h2>
	<div class="row">
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  portalinfo-tile'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/angularjs-logo.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='https://angularjs.org/' target='_blank'>HTML enhanced for web apps!</a></div>

			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8  portalinfo-tile'>
			<div class='tile'>
				<div class='tile-uptitle'><span class='glyphicon glyphicon-th-large'></span>&nbsp;	<span>AngularJS Plugins</span></div>
				<div class='tile-main'>
					<div class='tile-img'>
						<div class='row'>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'><a href='http://angular-ui.github.io/bootstrap/' target='_blank'>angular-bootstrap</a></div>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8'>Angular directives for Boostrap</div>
						</div>
						<div class='row'>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'><a href='http://angular-translate.github.io/' target='_blank'>angular-translate</a></div>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8'>i18n for your Angular apps, made easy</div>
						</div>
						<div class='row'>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'><a href='https://github.com/cmaurer/angularjs-nvd3-directives' target='_blank'>angularjs-nvd3-directives</a></div>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8'>Angular Directives for nvd3.js, d3.js charts</div>
						</div>
						<div class='row'>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'><a href='http://darul75.github.io/ng-prettyjson/' target='_blank'>ng-prettyjson</a></div>
							<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8'>Angular directive pretty json display</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<h2>{{'INFO_LIBRARIES_TITLE'|translate}}</h2>
	<div class="row">
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile tile-4'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/bootstrap-logo-small.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='http://getbootstrap.com/' target='_blank'>Get Bootstrap</a></div>

			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3 portalinfo-tile tile-4'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/jquery-logo-small.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='http://jquery.com/' target='_blank'>Write less, do more.</a></div>

			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile tile-4'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/openlayers3-logo-small.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='http://openlayers.org/' target='_blank'>OpenLayers 3.0</a></div>

			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3  portalinfo-tile tile-4'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/nvd3-logo-small.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='http://http://nvd3.org/' target='_blank'>Re-usable charts for d3.js</a></div>

			</div>
		</div>
	</div>

	<h2>{{'INFO_SOURCE_TOOL_TITLE'|translate}}</h2>
	<div class="row">
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  portalinfo-tile'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/grunt-logo.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='http://gruntjs.com/' target='_blank'>The JavaScript Task Runner</a></div>

			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  portalinfo-tile'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/maven-logo.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='https://github.com/' target='_blank'>Build software better, together.</a></div>
			</div>
		</div>
		<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  portalinfo-tile'>
			<div class='tile'>
				<div class='tile-main'>
					<img src='img/info/github-logo.png' alt='Github'>
				</div>
				<div class='tile-subtitle'><a href='http://maven.apache.org/' target='_blank'>Apache Maven</a></div>
			</div>
		</div>
	</div>
</div>
