<h2>
	{{'MANAGEMENT_TITLE'|translate}} <small>{{'MANAGEMENT_EDIT_STREAM_FROM_VIRTUAL_ENTITY_SUBTITLE'|translate}} </small>
</h2>
<div class='row'>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="ManagementStreamCtrl as streamCtrl">
		<div class="alert alert-danger" ng-show='updateError'>
			<strong>{{updateError.error_message}}</strong>
			{{updateError.error_detail}}
		</div>
		<div class="alert alert-success" ng-show='updateInfo'>
			<strong>{{'MANAGE_EDIT_STREAM_DATA_SAVED_INFO'|translate}}</strong> {{updateInfo.status}}
		</div>
		<div class='clearfix'>
			<div class='compact-panel data-summary-panel pull-left'>
				<table class='table-condensed table-supercondensed'>
					<tbody>
						<tr>
							<td><strong>{{'STREAM'|translate}}</strong></td>
							<td>{{stream.codiceStream}} - {{stream.nomeStream}}</td>
						</tr>
						<tr>
							<td><strong>{{'VIRTUALENTITY'|translate}}</strong></td>
							<td>{{stream.codiceVirtualEntity}} - {{stream.nomeVirtualEntity}}</td>
						</tr>
						<tr>
							<td><strong>{{'STREAM_FIELD_VERSION'|translate}}</strong></td>
							<td>Version (TODO)</td>
						</tr>
						<tr>
							<td><strong>{{'STREAM_FIELD_STATUS'|translate}}</strong></td>
							<td>{{stream.statoStream}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label">{{'STREAM_FIELD_COMPONENTS'|translate}}</label>
				<div class="col-sm-10">
					<a class="btn btn-success btn-xs">{{'MANAGEMENT_EDIT_STREAM_READ_COMPONENT_FROM_STREAM_BUTTON'|translate}}</a>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>{{'STREAM_FIELD_COMPONENTS_ID'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_NAME'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_TOLERANCE'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_PHENOMENON'|translate}}</th>
								<th>{{'STREAM_FIELD_COMPONENTS_DATA_TYPE'|translate}}</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="component in stream.componenti">
								<td>{{component.id}}</td>
								<td>{{component.name}}</td>
								<td>{{component.unitOfMeasurement.name}}</td>
								<td>{{component.tolerance}}</td>
								<td>{{component.phenomenom.name}}</td>
								<td>{{component.dataType}}</td>
								<td><a href="javascript:void(0)" ng-click='removeComponent($index)' class="btn btn-danger btn-sm"><i class='glyphicon glyphicon-minus'></i></a></td>
							</tr>
							<tr>
								 <td><input class="input-sm form-control"type="text" name="newComponentId" id="newComponentId" ng-model="newComponent.id"></td>
               					 <td><input class="input-sm form-control" type="text" name="newComponentName" id="newComponentName" ng-model="newComponent.name"></td>
             					 <td>
             					 	<select class="input-sm form-control" ng-model="newComponent.unitOfMeasurement" ng-options="unitOfMesaurement.name group by unitOfMesaurement.type for unitOfMesaurement in unitOfMesaurementList" />
								</td>
				                <td><input class="input-sm form-control" type="text" name="newComponentTolerance" id="newComponentTolerance" ng-model="newComponent.tolerance"></td>
             					 <td>
             					 	<select class="input-sm form-control" ng-model="newComponent.phenomenom" ng-options="phenomenom.name group by phenomenom.type for phenomenom in phenomenomList" />
								</td>
             					 <td>
             					 	<select class="input-sm form-control" ng-model="newComponent.dataType" ng-options="dataType for dataType in dataTypeList" />
             					 	
								</td>
         						<td><a href="javascript:void(0)" ng-click='addComponent()' class="btn btn-success btn-sm"><i class='glyphicon glyphicon-plus'></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="form-group">
				<label for="RadioGroupSaveData" class="col-sm-2 control-label">{{'MANAGEMENT_EDIT_STREAM_SAVE_DATA_LABEL'|translate}}</label>
				<div class="col-sm-10">
					<label class="radio-inline">
              			<input type="radio" name="RadioGroupSaveData" value="true" id="RadioGroupSaveData_0" ng-model="stream.saveData">{{'MANAGEMENT_EDIT_STREAM_SAVE_DATA'|translate}}
            		</label>
					<label class="radio-inline">
              			<input type="radio" name="RadioGroupSaveData" value="false" id="RadioGroupSaveData_1" ng-model="stream.saveData">{{'MANAGEMENT_EDIT_STREAM_DONT_SAVE_DATA'|translate}}
            		</label>
				</div>
			</div>
			<div class="form-group">
				<label for="RadioGroupVisibility" class="col-sm-2 control-label">{{'STREAM_FIELD_VISIBILITY'|translate}}</label>
				<div class="col-sm-10">
					<label class="radio-inline">
              			<input type="radio" name="RadioGroupVisibility" value="public" id="RadioGroupVisibility_0" ng-model="stream.visibiity">{{'MANAGEMENT_EDIT_STREAM_VISIBIITY_PUBLIC'|translate}}
            		</label>
					<label class="radio-inline">
              			<input type="radio" name="RadioGroupVisibility" value="private" id="RadioGroupVisibility_1" ng-model="stream.visibiity">{{'MANAGEMENT_EDIT_STREAM_VISIBIITY_PRIVATE'|translate}}
            		</label>
				</div>
			</div>
			<div class="form-group">
				<label for="RadioGroupPublish" class="col-sm-2 control-label">{{'MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE_LABEL'|translate}}</label>
				<div class="col-sm-10">
					<label class="radio-inline">
              			<input type="radio" name="RadioGroupPublish" value="true" id="RadioGroupPublish_0" ng-model="stream.publish">{{'MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE'|translate}}
            		</label>
					<label class="radio-inline">
              			<input type="radio" name="RadioGroupPublish" value="false" id="RadioGroupPublish_1" ng-model="stream.publish">{{'MANAGEMENT_EDIT_STREAM_NOT_PUBLISH_ON_STORE'|translate}}
            		</label>
				</div>
			</div>
			<div class="form-group">
				<label for="inputStreamAddTag" class="col-sm-2 control-label">{{'STREAM_FIELD_TAGS'|translate}}</label>
				<div class="col-sm-10">
					<p>
						<span  ng-repeat="tag in stream.tags">
							<span class="label label-info">{{tag}} &nbsp;<a href="javascript:void(0)" ng-click='removeTag($index)'>&times;</a></span> &nbsp;
						</span>
					</p>
					<p>
						<div class="input-group">
      						<input type="text" class="form-control" id="inputStreamAddTag"  placeholder="{{'STREAM_FIELD_TAGS'|translate}}" ng-model="newTag" ng-enter="addTag()" >
						      <span class="input-group-btn">
						        	<a class="btn btn-default"  href="javascript:void(0)" ng-click='addTag()' >{{'MANAGEMENT_EDIT_STREAM_ADD_TAG'|translate}}</a>
						      </span>
    					</div>
					</p>
				</div>
			</div>			
			<div class="form-group">
				<label for="inputStreamFps" class="col-sm-2 control-label">{{'STREAM_FIELD_FPS'|translate}}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputStreamFps" placeholder="{{'STREAM_FIELD_FPS'|translate}}" ng-model="stream.fps">
				</div>
			</div>			
			<div class="form-group">
				<label for="inputStreamDomain" class="col-sm-2 control-label">{{'STREAM_FIELD_DOMAIN'|translate}}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputStreamDomain" placeholder="{{'STREAM_FIELD_DOMAIN'|translate}}" ng-model="stream.domain">
				</div>
			</div>			
			<div class="form-group">
				<label for="v" class="col-sm-2 control-label">{{'STREAM_FIELD_LICENCE'|translate}}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputStreamLicence" placeholder="{{'STREAM_FIELD_LICENCE'|translate}}" ng-model="stream.licence">
				</div>
			</div>			
			<div class="form-group">
				<label for="inputStreamDisclaimer" class="col-sm-2 control-label">{{'STREAM_FIELD_DISCLAIMER'|translate}}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputStreamDisclaimer" placeholder="{{'STREAM_FIELD_DISCLAIMER'|translate}}" ng-model="stream.disclaimer">
				</div>
			</div>			
			<div class="form-group">
				<label for="inputStreamCopyright" class="col-sm-2 control-label">{{'STREAM_FIELD_COPYRIGHT'|translate}}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputStreamCopyright" placeholder="{{'STREAM_FIELD_COPYRIGHT'|translate}}" ng-model="stream.copyright">
				</div>
			</div>			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a  ng-click='cancel()' class="btn btn-default">{{'MANAGEMENT_EDIT_STREAM_FINISH_BUTTON'|translate}}</a>
					<a  ng-click='updateStream()'  class="btn btn-primary">{{'MANAGEMENT_EDIT_STREAM_SAVE_AS_DRAFT_BUTTON'|translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>
