<div ng-controller="ManagementStreamCtrl as streamCtrl"  ng-cloak>
	<div class='container'>
		<h3 class='content-edit-title'><span translate-cloak translate>STREAM</span> <small><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_FROM_VIRTUAL_ENTITY_SUBTITLE</span>   {{stream.codiceStream}}</small></h3>
		<div class='clearfix entity-info entity-info-top'>
			<div class='pull-left'>
				<div><small><span translate-cloak translate>STREAM_FIELD_NAME</span></small></div>
				<div class='main-info'><strong>{{stream.streamname}}</strong></div>
			</div>
			<div class='pull-right text-right'>
				<div><small><span translate-cloak translate>STREAM_FIELD_CREATION_DATE</span></small></div>
				<div><strong>{{stream.registrationdate}}</strong></div>
			
			</div>
		</div>
		<div class='clearfix entity-info entity-info-bottom'>
			<div class='pull-left'>
				<div><small><span translate-cloak translate>DASHBOARD_STREAM_WS_URL_TITLE</span></small></div>
				<div class='url'><strong>{{wsUrl}}</strong></div>
			</div>
			<div class='pull-right text-right'>
				<div><small><span translate-cloak translate>STREAM_FIELD_VERSION</span></small></div>
				<div><strong>{{stream.version}}</strong></div>
			
			</div>
		</div>
	</div>
	<div class='content-gray'>
		<div class='container'>
			<div class='alert alert-sandbox ng-hide' ng-show='tenant=="sandbox"'><strong><i class="fa fa-exclamation-triangle"></i>&nbsp;<span translate-cloak translate>WARNING_TITLE</span></strong>&nbsp;&nbsp;<span translate-cloak translate>MANAGEMENT_SANDBOX_WARNING</span></div>
		<p>&nbsp;</p>
		<div class="col-sm-10 col-sm-offset-1">
			<!-- <div class="alert alert-danger" ng-show='updateError'>
				<strong>{{updateError.error_message|translate}}</strong>
				{{updateError.error_detail}}
			</div>
			<div class="alert alert-warning" ng-show='updateWarning'>
				<strong><span translate-cloak translate>WARNING_TITLE</span></strong> 
				<span ng-bind-html="'WARNING_SUBTITLE'|translate"></span>
				<ul>
					<li ng-repeat="warning in warningMessages">
					<span translate-cloak translate><span ng-bind-html="warning|translate"></span></span>
					</li>
				</ul>
			</div>
			<div class="alert alert-success" ng-show='updateInfo'>
				<strong><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_DATA_SAVED_INFO</span></strong> {{updateInfo.status}}
			</div>-->
			<alert-panel ng-if='admin_response.message' message='{{admin_response.message}}'  code="{{admin_response.code}}" detail="{{admin_response.detail}}" type='{{admin_response.type}}'></alert-panel>
			
		</div>
			<div class='row'>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate-cloak translate>STREAM_FIELD_CODE</span></strong></div>
						<div class="col-sm-10">{{stream.streamcode}}</div>
					</div>			
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate-cloak translate>VIRTUALENTITY</span></strong></div>
						<div class="col-sm-10">{{stream.smartobject.socode}} - {{stream.smartobject.name}}</div>
					</div>			
					<div class="row card-row">
						<div class="col-sm-2 card-label"><strong><span translate-cloak translate>STREAM_FIELD_STATUS</span></strong></div>
						<div class="col-sm-10">{{stream.smartobject.status.descriptionStatus}}</div>
					</div>			
				</div>
			</div>
			<div class='row'>
				<div class="col-sm-10 col-sm-offset-1">
		
					<form class="form-horizontal" role="form" name="editStreamForm">
						<div class='form-label-separator'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_GENERAL_INFO</span></div>
						<div class="form-group">
							<label for="inputStreamName" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_NAME</span></label>
							<div class="col-sm-5">
								<input type="text" class="form-control" ng-model="stream.streamname"  id="inputStreamName" placeholder="{{'STREAM_FIELD_NAME'|translate}}" maxlength="40" >
							</div>
							<div class="col-sm-5 form-hint">
								<span class='hint-message' ng-bind-html="'MANAGEMENT_DESCRIPTION_ON_STORE_HINT'|translate"></span>  <i class="fa fa-long-arrow-right hint-arrow"></i>  <i class="fa fa-user hint-store-icon"></i>
							</div>
						</div>
															
						<div class="form-group">
							<label for="inputStreamAddTag" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_TAGS</span><span class='required-asterisk'>*</span></label>
							<div class="col-sm-4 text-left">
								<div class="input-group input-group-sm popover-html tag-html-tooltip-container text-left">
									<input type="text" ng-model="newTag.value" typeahead="tagCode as tag.tagLabel for tag in tagList | filter:{tagLabel:$viewValue} | limitTo:8" class="form-control"
											typeahead-editable="false" typeahead-on-select="onTagSelect($item, $model, $label)"/>
									<span class="input-group-addon tag-html-tooltip-button" ng-click="showChooseTagTable()">&quest;</span>
								</div>	
							</div>
							<div class="col-sm-5 text-left">
								<span  ng-repeat="tag in stream.tags">		
									<span class="label label-tag label-custom" ng-if="(tag|tagFromId:tagMap)"><span>{{(tag|tagFromId:tagMap).tagLabel|translate}}</span> &nbsp;
									<a href="javascript:void(0)" ng-click='removeTag($index)'  class='close-button'>&times;</a>
									</span> &nbsp;	
									<span class="label label-tag label-custom" ng-if="!(tag|tagFromId:tagMap)"><span ng-bind-html="tag.tagcode|translate"></span>
									<a href="javascript:void(0)" ng-click='removeTag($index)'  class='close-button'>&times;</a>
									</span>
								</span>
							</div>							
						</div>		
							<!--  						
							<div class="col-sm-5 text-left">
								<span  ng-repeat="tag in stream.tags">
									<span class="label label-tag label-custom"><span>{{(tag|tagFromId:tagMap).tagLabel|translate}}</span> &nbsp;
									<a href="javascript:void(0)" ng-click='removeTag($index)'  class='close-button'>&times;</a>
									</span> &nbsp;
								</span>
							</div></div>-->	
						
						
										<!--  
						<div class="form-group">
							<label for="inputStreamAddTag" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_TAGS</span></label>
							<div class="col-sm-10">
								<p>
									<span  ng-repeat="tag in stream.tags">
										<span class="label label-tag label-custom"><span ng-bind-html="tag.tagcode|translate"></span> &nbsp;
										<a href="javascript:void(0)" ng-click='removeTag($index)'  class='close-button'>&times;</a>
										</span> &nbsp;
									</span>
								</p>						
								<div class="input-group input-group-sm popover-html tag-html-tooltip-container">
    								<input type="text" ng-model="newTag.value" typeahead="tagCode as tag.tagLabel for tag in tagList | filter:{tagLabel:$viewValue} | limitTo:8" class="form-control"
    								typeahead-editable="false" typeahead-on-select="onTagSelect($item, $model, $label)"/>
    								<span class="input-group-addon tag-html-tooltip-button" tooltip-html-unsafe="{{tagTooltipHtml}}" tooltip-trigger="click" tooltip-placement="bottom">&quest;</span>
		    					</div>			    												
							</div>
						</div>		
						-->
						<div class="form-group">
							<label for="inputStreamDomain" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_DOMAIN</span></label>
							<div class="col-sm-10">
								<div class='col-sm-10'>{{stream.domain.domaincode|translate}}<span ng-show='stream.subdomain.subdomaincode!= stream.domain.domaincode'> - {{stream.subdomain.subdomaincode|translate}}</span></div>
								<!-- 
								<select ng-disabled="true" class="input-sm form-control" ng-model="stream.domain" ng-options="domain as (domain|translate) for domain in domainList">
			    					<option value="">{{'MANAGEMENT_EDIT_STREAM_DOMAIN_PLACEHOLDER'|translate}}</option>
			    				</select>
								 -->
								<!-- <input type="text" class="form-control" id="inputStreamDomain" placeholder="{{'STREAM_FIELD_DOMAIN'|translate}}" ng-model="stream.domain"> -->
							</div>
						</div>		
						<div class="form-group">
							<label for="inputStreamFps" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_FPS</span></label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputStreamFps" placeholder="{{'STREAM_FIELD_FPS'|translate}}" ng-model="stream.fps" ng-pattern="validationPatternFloat">
								<span class='glyphicon glyphicon-remove  form-control-feedback error-validation-icon' title="{{'VALIDATION_PATTERN_FLOAT_TOOLTIP'|translate}}"
									ng-show="editStreamForm.inputStreamFps.$error.pattern  && editStreamForm.inputStreamFps.$dirty"></span>
							</div>
						</div>	
						<div class="form-group">
							<label for="inputDatasetExternalReference" class="col-sm-2 control-label ng-scope" translate-cloak translate>STREAM_FIELD_METADATA_EXTERNAL_REFERENCE</label>
							<div class="col-sm-10">
								<input type="text" class="form-control ng-pristine ng-valid" id="inputDatasetExternalReference" placeholder="Riferimento Esterno" ng-model="stream.openData.opendataexternalreference">
							</div>
						</div>			
						<div class="form-group">
							<label for="inputStreamIcon" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_ICON</span></label>
							<div class="col-sm-3">
								<div ng-file-drop="onIconSelect($files)" class='upload-icon-drop-area' ng-file-drag-over-class="upload-icon-drop-area-hover" ng-show="dropSupported">
									<div translate-cloak translate>MANAGEMENT_EDIT_STREAM_UPLOAD_ICON_DROPAREA</div>
									<div class='desc'>256x256</div>
									<div class='desc'>jpg | png</div>
								</div>
								<div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
							</div>
							<div class="col-sm-3">
								<div ng-file-select="onIconSelect($files)" data-multiple="true" title="select file" onclick="this.value = null" class="upload-icon-selecticon-button">
									<span translate-cloak translate>MANAGEMENT_EDIT_STREAM_UPLOAD_ICON_BUTTON_LOAD_FILE</span>
								</div>
							</div>
							<div class="col-sm-3 col-sm-offset-1 text-right">
								<img src="{{stream.icon}}" alt="logo dataset" class='upload-icon-preview-img' ng-if='stream.icon' >
								<img src="{{DEFAULT_STREAM_ICON}}" alt="logo dataset" class='upload-icon-preview-img' ng-if='!stream.icon' >
							</div>
						</div>	
							<div ng-hide='stream.smartobject.socode!="internal" || internalStreams.length==0' class='form-label-separator'><span translate-cloak translate>STREAM_INPUT_FIELDS</span></div>
						<div ng-hide='stream.smartobject.socode!="internal" || internalStreams.length==0' class="form-group">
							<label for="streamNameToAdd" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_INTERNAL_SELECTED_STREAM</span></label>
							<div class="col-sm-10">
								<div class="table-responsive">
		   					 		<table class="table">
		   					  			<tbody class="internalStreamsBorder" ng-repeat="streamInt in internalStreams track by $index">
						       				<tr>
									            <td>{{streamInt.streamname}}</td>
									            <td>{{streamInt.smartobject.socode}}</td>
									            <td> as input{{$index}}</td>	
									        	<td><a  ng-click='cancelStreamToArray($index)' class="btn btn-remove btn-sm"><i class='glyphicon glyphicon-trash'></i></a></td>
						        			</tr>
						        			<tr>
						        			<!-- td colspan="3"><small><pre pretty-json="{'componenti' : streamInt.componenti}"/></small></td-->
						        				<td colspan="3">
						        					<table class="table">
														<thead>
															<tr>
																<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_NAME</span></th>
																<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
																<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_TOLERANCE</span></th>
																<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_PHENOMENON</span></th>
																<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_DATA_TYPE</span></th>
																<th>&nbsp;</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="el in stream.components">
																<td><span style="display: none"> {{el.idComponent}}</span>{{el.name}}</td>
																<td>{{el.measureUnit.measureunitcategory}} : {{el.measureUnit.measureunit}}</td>
																<td>{{el.tolerance}} </td>
																<td>{{el.phenomenon.phenomenoncetegory}} : {{el.phenomenon.phenomenonname}}</td>
																<td>{{el.dataType.description}}</td>									
															</tr>
														</tbody>
													</table>
												<td>			        		        
						        			</tr>
						     			</tbody>   					 
		   					 		</table>
		   						</div>
							</div>					
						</div>
					
						<div ng-hide='stream.smartobject.socode!="internal"' class="form-group">
							<label for="streamNameToAdd" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_TYPE_DEFINITION</span> <span class='required-asterisk'>*</span></label>
							<div class="col-sm-8">
								<select class="form-control col-sm-8" ng-model="streamSelectedItem">
									  <option ng-repeat="streamItem in streamsList" class="{{streamItem.cssClass}}" value="{{$index}}">{{streamItem.label}}</option>
								</select>
							</div>
							<div class="col-sm-2"><a ng-click='addStreamToArray(streamSelectedItem)' class="btn btn-sm"><i class='glyphicon glyphicon-plus'></i></a></div>	
						</div>
						<div ng-hide='stream.smartobject.socode!="internal"' class="form-group option-warning">
							<i class="fa fa-lightbulb-o"></i> <span translate>MANAGEMENT_EDIT_STREAM_INTERNAL_STREAM_DRAFT_WARNING</span>
						</div>
						
					
						<div ng-hide='stream.smartobject.socode!="internal"'>
							<div id="validateMsg" class="col-sm-10 col-sm-offset-2">
								<div class="alert-danger"><p ng-hide='validationRes!=1'>{{errorMsg|translate}}</p></div>
								<div class="alert-success"><p ng-hide='validationRes!=0'><span translate-cloak translate>STREAM_SIDDHI_QUERY_SUCCESS</span></p></div>
								
							</div>	
					
						</div >
						<div ng-hide='stream.smartobject.socode!="internal"' class="form-group">
							<div class="col-sm-2">
								<label for="streamSiddhiQueryLabel" class="control-label"><span translate-cloak translate>STREAM_SIDDHI_QUERY</span> <span class='required-asterisk'>*</span></label>
								<a href="http://developer.smartdatanet.it/docs/specifiche-di-creazione-stream-a-partire-da-stream-esistenti/" target="_blank" class="link-help" >Help <i class="glyphicon glyphicon-question-sign"></i></a>
							</div>
							<div class="col-sm-8">													
								<textarea id="code" class="form-control" ui-codemirror="cmOption" ng-model="streamSiddhiQuery"></textarea>
							</div>
							<div class="col-sm-2">
								<button class="btn btn-default" ng-click="valideteSiddhi(streamSiddhiQuery)"><span translate-cloak translate>STREAM_SIDDHI_VALIDATE_BUTTON</span></button>
							</div>					
						</div>
						<div ng-show="stream.smartobject.soType.idSoType == VIRTUALENTITY_TYPE_TWITTER_ID">	
							<div class='form-label-separator'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_TWITTER_DATA</span></div>
							<div class="form-group has-feedback">
								<label for="inputStreamTwtQuery" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_TWT_QUERY</span> <span class='required-asterisk'>*</span></label>
								<div class="col-sm-6">
									<input type="text" class="form-control" ng-model="stream.twitterInfo.twtquery"  id="inputStreamTwtQuery"  name="inputStreamTwtQuery"
									placeholder="{{'STREAM_FIELD_CODE_PLACEHOLDER'|translate}}" ng-required="true">
								</div>
								<label for="inputStreamTwtLang" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_TWT_LANG</span> </label>
								<div class="col-sm-2">
									<select class="input-sm form-control" ng-model="stream.twitterInfo.twtlang" ng-options="k as v for (k, v) in Lang_ISO_639_1">
						  				<option value="">{{'CHOOSE'|translate}}</option>
						  			</select>
								</div>
							</div>
							<div class="form-group">
								<label for="inputStreamTwtGeoLat" class="col-sm-2 control-label"><span translate-cloak translate>MANAGEMENT_NEW_STREAM_GEO_COORDINATES</span> </label>
								<div class="col-sm-3">
									<input type="text" class="form-control" ng-model="stream.twitterInfo.twtgeoloclat"  id="inputStreamTwtGeoLat"  name="inputStreamTwtGeoLat" ng-pattern="validationPatternFloat"
									placeholder="{{'STREAM_FIELD_TWT_GEO_LAT'|translate}}">
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" ng-model="stream.twitterInfo.twtgeoloclon"  id="inputStreamTwtGeoLon"  name="inputStreamTwtGeoLon" ng-pattern="validationPatternFloat"
									placeholder="{{'STREAM_FIELD_TWT_GEO_LON'|translate}}">
								</div>
								<label for="inputStreamTwtGeoRadius" class="col-sm-1  control-label"><span translate-cloak translate>STREAM_FIELD_TWT_GEO_RADIUS</span></label>
								<div class="col-sm-1">
									<input type="text" class="form-control" ng-model="stream.twitterInfo.twtgeolocradius"  id="inputStreamTwtGeoRadius"  name="inputStreamTwtGeoRadius" ng-pattern="validationPatternFloat">
								</div>
								<div class="col-sm-2">
									<select class="input-sm form-control" ng-model="stream.twitterInfo.twtuntil" ng-options="k as v for (k, v) in TWITTER_GEO_SEARCH_RADIUS_UNIT">
						  				<option value="">{{'CHOOSE'|translate}}</option>
						  			</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_TWT_RATE</span></label>
								<div class="col-sm-1">
									<span>{{twitterPollingInterval}}</span>
								</div>
								<div class="col-sm-9 ">
									<i><span translate class='' >MANAGEMENT_EDIT_STREAM_TWT_POLLING_HELP</span></i>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_TWT_QUERY_CHECK</span></label>
								<div class="col-sm-2">
									<a href ng-click="checkTwitterQuery()" class='btn btn-default btn-sm' translate-cloak translate>MANAGEMENT_EDIT_STREAM_TWT_QUERY_CHECK_RESPONSE</a>
								</div>
								<div ng-show="checkTwitterQueryResult.result=='KO'" class='twitter-feedback-error-panel'>
									<div class='col-sm-1 text-center text-danger'>
										<div><i class="fa fa-times" title="Invalid Query"></i></div>
										<div>Invalid</div>
									</div>
									<div class='col-sm-7'>
										<span class='twitter-feedback-message'>{{checkTwitterQueryResult.message}}</span>
									</div>									
								</div>
								<div ng-show="checkTwitterQueryResult.result=='OK'" class='twitter-feedback-ok-panel'>
									<div class='col-sm-1 text-center text-success'>
										<div><i class="fa fa-check twitter-feedback-icon" title="{{checkTwitterQueryResult.message}}"></i></div>
										<div>Valid</div>
									</div>
									<div class='col-sm-7'>
										<div class='tweet-panel' ng-show="checkTwitterQueryResult.twitterMessage.getText!=null">
											<div><strong>{{checkTwitterQueryResult.twitterMessage.userName}}</strong></div>
											<p ng-bind-html="checkTwitterQueryResult.twitterMessage.getText|prettifyTweet"></p>
											<div class='clearfix tweet-info'>
												<div class='pull-left tweet-statistic-icons'>
													<i class="fa fa-retweet" ng-class="{'tweet-retweet': checkTwitterQueryResult.twitterMessage.retweetCount>0}"></i> 
													<span>{{checkTwitterQueryResult.twitterMessage.retweetCount}}</span>
													<i class="fa fa-star"  ng-class="{'tweet-favorite': checkTwitterQueryResult.twitterMessage.favoriteCount>0}"></i> 
													<span>{{checkTwitterQueryResult.twitterMessage.favoriteCount}}</span>
												</div>
												<div class='pull-right tweet-date'>{{checkTwitterQueryResult.twitterMessage.createdAt|date:"MM/dd/yyyy  H:mm"}}</div>
											</div>										
										</div>	
										<span translate ng-show="checkTwitterQueryResult.twitterMessage.getText==null">MANAGEMENT_EDIT_STREAM_TWT_QUERY_CHECK_OK_NO_MESSAGE</span>								
									</div>
								</div>
							</div>
						</div>
						<div ng-show="stream.smartobject.soType.idSoType != VIRTUALENTITY_TYPE_TWITTER_ID"> 
							<div class='form-label-separator'><span translate-cloak translate>STREAM_FIELD_COMPONENTS_OUTPUT</span></div>
							<div class="form-group">
								<div class="col-sm-2" id="management-edit-stream-component-help-fix">
									<h5 class="help-title"><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_COMPONENT_EXAMPLE_TITLE</span></h5>						
									<small><pre pretty-json="componentJsonExample"/></small>
								</div>
								<div></div>
								<div class="col-sm-10">
									<a class="btn btn-default btn-xs"  ng-disabled="true"><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_READ_COMPONENT_FROM_STREAM_BUTTON</span></a>
										<table class="table">
											<thead>
												<tr>
													<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_NAME</span></th>
													<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
													<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_TOLERANCE</span></th>
													<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_PHENOMENON</span></th>
													<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_DATA_TYPE</span></th>
													<th><span translate-cloak translate>STREAM_FIELD_COMPONENTS_SINCE_VERSION</span></th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="component in stream.components">
													<td>
														<span style="display: none"> {{component.idComponent}}</span>
														{{component.name}}
														
														<!-- <span ng-show="editingComponentIndex!=$index">{{component.nome}}</span>
														<div class="has-feedback" ng-show="editingComponentIndex==$index">
															<input type="text" class="form-control" ng-model="editComponentName"  id="editComponentName{{$index}}"  name="editComponentName{{$index}}"
															placeholder="{{'STREAM_FIELD_COMPONENTS_NAME_PLACEHOLDER'|translate}}" ng-required="true" ng-pattern="validationPatternNoSpace">
															<span class='glyphicon glyphicon-remove  form-control-feedback error-validation-icon' title="{{'VALIDATION_PATTERN_NO_SPACE_TOOLTIP'|translate}}"
																ng-show="editStreamForm.editComponentName{{$index}}.$error.pattern  && editStreamForm.editComponentName{{$index}}.$dirty"></span>
														</div>-->
													</td>
													<td>
														<span ng-show="editingComponentIndex!=$index">{{component.measureUnit.measureunitcategory}}: {{component.measureUnit.measureunit}}</span>
														<div class="has-feedback" ng-show="editingComponentIndex==$index">
															<select class="input-sm form-control" ng-model="editComponentUnitOfMeasurement" id="editComponentUnitOfMeasurement{{$index}}"  ng-required="true"  name="editComponentUnitOfMeasurement{{$index}}"
						             					 		ng-options="measureUnit.measureunit group by measureUnit.measureunitcategory for measureUnit in measureUnitsList track by measureUnit.idMeasureUnit">
						             					 		<option value="">{{'MANAGEMENT_EDIT_STREAM_UNIT_OF_MEASUREMENT_PLACEHOLDER'|translate}}</option> 
						             					 	</select>
															<span class='glyphicon glyphicon-remove  form-control-feedback error-validation-icon' title="{{'MANAGEMENT_EDIT_STREAM_ERROR_COMPONENT_UNIT_OF_MEASUREMENT_REQUIRED'|translate}}"
																ng-show="editStreamForm.editComponentUnitOfMeasurement{{$index}}.$error.pattern  && editStreamForm.editComponentUnitOfMeasurement{{$index}}.$dirty"></span>
														</div>
													</td>
													<td>
														<span ng-show="editingComponentIndex!=$index">{{component.tolerance}}</span>
														<div class="has-feedback" ng-show="editingComponentIndex==$index">
										                	<input class="input-sm form-control" type="text" name="editComponentTolerance{{$index}}"  ng-required="true" id="editComponentTolerance{{$index}}" 
										                		ng-model="editComponentTolerance" placeholder="{{'STREAM_FIELD_COMPONENTS_TOLERANCE_PLACEHOLDER'|translate}}">
															<span class='glyphicon glyphicon-remove  form-control-feedback error-validation-icon' title="{{'MANAGEMENT_EDIT_STREAM_ERROR_COMPONENT_TOLLERANCE_REQUIRED'|translate}}"
																ng-show="editStreamForm.editComponentTolerance{{$index}}.$error.pattern  && editStreamForm.editComponentTolerance{{$index}}.$dirty"></span>
														</div>
													</td>
													<td>
														<span ng-show="editingComponentIndex!=$index">{{component.phenomenon.phenomenoncetegory}}: {{component.phenomenon.phenomenonname}}</span>
														<div class="has-feedback" ng-show="editingComponentIndex==$index">
															<select class="input-sm form-control" ng-model="editComponentPhenomenon" name="editComponentPhenomenon{{$index}}" ng-required="true"  id="editComponentPhenomenon{{$index}}" 
						             					 		ng-options="phenomenom.phenomenonname group by phenomenom.phenomenoncetegory for phenomenom in phenomenomList track by phenomenom.idPhenomenon" >
						             						 	<option value="">{{'MANAGEMENT_EDIT_STREAM_PHENOMENOM_PLACEHOLDER'|translate}}</option>
						             					 	</select>
															<span class='glyphicon glyphicon-remove  form-control-feedback error-validation-icon' title="{{'MANAGEMENT_EDIT_STREAM_ERROR_COMPONENT_PHENOMENON_REQUIRED'|translate}}"
																ng-show="editStreamForm.editComponentPhenomenon{{$index}}.$error.pattern  && editStreamForm.editComponentPhenomenon{{$index}}.$dirty"></span>
														</div>
														
													</td>
													<td>{{component.dataType.description}}</td>
													<td>{{component.sinceVersion}}</td>
													<td ng-show="editingComponentIndex!=$index">
														<a href ng-click='startEditComponent($index)' class="btn btn-icon-edit btn-sm" title="{{'EDIT'|translate}}">
															<i class='glyphicon glyphicon-pencil'></i>
														</a>
													</td>
													<td ng-show="editingComponentIndex!=$index">
														<a  href ng-click='removeComponent($index)' class="btn btn-icon-remove btn-sm" title="{{'DELETE'|translate}}"  ng-disabled="stream.deploymentVersion>1 && component.idComponente != null && component.idComponente != ''">
															<i class='glyphicon glyphicon-trash'></i>
														</a>
													</td>
													<td ng-show="editingComponentIndex==$index">
														<a href ng-click='editComponent($index, editComponentUnitOfMeasurement, editComponentTolerance, editComponentPhenomenon)' class="btn btn-icon-add btn-sm" title="{{'SAVE'|translate}}"><i class='glyphicon glyphicon-ok'></i></a>
													</td>
													<td ng-show="editingComponentIndex==$index">
														<a href ng-click='cancelEditComponent($index)' class="btn btn-icon-undo btn-sm" title="{{'UNDO'|translate}}"><i class='glyphicon glyphicon-repeat'></i></a>
													</td>
												</tr>
												<tr>
					               					 <td ng-class="{ 'has-error': insertComponentError }">
					               					 	<input class="input-sm form-control" type="text" name="newComponentName" id="newComponentName" ng-model="newComponent.name" 
					               					 		 placeholder="{{'STREAM_FIELD_COMPONENTS_NAME_PLACEHOLDER'|translate}}"></td>
					             					 <td>
					             					 	<select class="input-sm form-control" ng-model="newComponent.measureUnit" 
					             					 		ng-options="measureUnit.measureunit group by measureUnit.measureunitcategory for measureUnit in measureUnitsList track by measureUnit.idMeasureUnit">
					             					 		<option value="">{{'MANAGEMENT_EDIT_STREAM_UNIT_OF_MEASUREMENT_PLACEHOLDER'|translate}}</option> 
					             					 	</select>
													</td>
									                <td>
									                	<input class="input-sm form-control" type="text" name="newComponentTolerance" id="newComponentTolerance" 
									                		ng-model="newComponent.tolerance" placeholder="{{'STREAM_FIELD_COMPONENTS_TOLERANCE_PLACEHOLDER'|translate}}">
									                </td>
					             					<td>
					             					 	<select class="input-sm form-control" ng-model="newComponent.phenomenon" 
					             					 		ng-options="phenomenom.phenomenonname group by phenomenom.phenomenoncetegory for phenomenom in phenomenomList track by phenomenom.idPhenomenon" >
					             						 	<option value="">{{'MANAGEMENT_EDIT_STREAM_PHENOMENOM_PLACEHOLDER'|translate}}</option>
					             					 	</select>
													</td>
					             					 <td>
					             					 	<select class="input-sm form-control" ng-model="newComponent.dataType" ng-options="dataType.datatypecode for dataType in dataTypeList track by dataType.idDataType" >
					             						 	<option value="">{{'MANAGEMENT_EDIT_STREAM_PHENOMENOM_PLACEHOLDER'|translate}}</option>
					             					 	</select>
													</td>
					             					 <td>
					             					 	&nbsp;
													</td>
					         						<td><a href ng-click='addComponent(newComponent)' class="btn btn-sm"><i class='glyphicon glyphicon-plus'></i></a></td>
												</tr>
											</tbody>
										</table>
									<div class="alert alert-danger" ng-show='insertComponentErrors.length>0'>
										<strong>{{updateError.error_message}}</strong>
										<ul><li ng-repeat="insertComponentError in insertComponentErrors "><span translate-cloak translate>{{insertComponentError}}</span></li></ul>
									</div>
								</div>
							</div>
						</div>
						<div class='form-label-separator'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_SETTINGS</span></div>
						<div class="form-group">
							<label for="RadioGroupSaveData" class="col-sm-2 control-label"><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_SAVE_DATA_LABEL</span></label>
							<div class="col-sm-10">
								<label class="radio-inline">
			              			<input type="radio" name="RadioGroupSaveData" value="1"  id="RadioGroupSaveData_0" ng-model="stream.savedata" ><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_SAVE_DATA</span>
			            		</label>
								<label class="radio-inline active">
			              			<input type="radio" name="RadioGroupSaveData" value="0" id="RadioGroupSaveData_1" ng-model="stream.savedata" ><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_DONT_SAVE_DATA</span>
			            		</label>
							</div>
						</div>
						<div class="form-group">
							<label for="RadioGroupVisibility" class="col-sm-2 control-label"><span ng-bind-html="'STREAM_FIELD_VISIBILITY'|translate"></span></label>
							<div class="col-sm-10">
								<label class="radio-inline">
			              			<input type="radio" name="RadioGroupVisibility" value="public" id="RadioGroupVisibility_0" ng-model="stream.visibility" ng-disabled='!canCreatePublicStream()'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_VISIBILITY_PUBLIC</span>
			            		</label>
								<label class="radio-inline">
			              			<input type="radio" name="RadioGroupVisibility" value="private" id="RadioGroupVisibility_1" ng-model="stream.visibility" ng-disabled='!canCreatePublicStream()'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_VISIBILITY_PRIVATE</span>
			            		</label>
			            	</div>
						</div>
						<div class="form-group" ng-show="stream.visibility=='public'">
							<label for="RadioGroupVisibility" class="col-sm-2 control-label"><span ng-bind-html="'STREAM_FIELD_ISOPENDATA'|translate"></span></label>
							<div class="col-sm-10  text-left">
								<label class="radio-inline">
				             			<input type="radio" name="RadioGroupisOpendata" value="0" id="RadioGroupisOpendata_0" ng-model="isOpendata"><span translate-cloak translate>STREAM_FIELD_ISOPENDATA_FALSE</span>
				           		</label>
								<label class="radio-inline">
				             			<input type="radio" name="RadioGroupisOpendata" value="1" id="RadioGroupisOpendata_1" ng-model="isOpendata"><span translate-cloak translate>STREAM_FIELD_ISOPENDATA_TRUE</span>
				           		</label>
							</div>
						</div>
						<div class="form-group" ng-show="isOpendata">
							<label for="inputStreamOpendataAuthor" class="col-sm-2 control-label" translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_AUTHOR</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputStreamOpendataAuthor" placeholder="{{'STREAM_FIELD_METADATA_OPENDATA_AUTHOR_PLACEHOLDER'|translate}}" 
								ng-model="stream.openData.opendataauthor" >
							</div>
						</div>
						<div class="form-group" ng-show="isOpendata">
							<label for="inputStreamDomain" class="col-sm-2 control-label"translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_LANG</label>
							<div class="col-sm-10">
								<select class="input-sm form-control" ng-model="stream.openData.opendatalanguage" ng-options="k as v for (k, v) in OPENDATA_LANGUAGES">
				   					<option value="" translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_LANG_PLACEHOLDER</option>
				   				</select>
							</div>
						</div>
						<div class="form-group" ng-show="isOpendata">
							<label for="inputStreamOpendataDataUpdateDate" class="col-sm-2 control-label" translate-cloak translate>STREAM_FIELD_METADATA_OPENDATA_DATA_UPDATE_DATE</label>
							<div class="col-sm-3">
								<input type="date" class="form-control" ng-model="stream.openData.opendataupdatedate" close-text="Close" />
							</div>
						</div>
						<div class="form-group" ng-if="stream.visibility=='private'  && canShareStream()">
							<label for="inputStreamAddTenantSharing" class="col-sm-2 control-label"><span translate-cloak translate>DATASET_FIELD_TENANTSSHARING</span></label>
							<div class="col-sm-4 text-left">
								<div class="input-group input-group-sm popover-html tag-html-tooltip-container text-left">
									<input type="text" ng-model="newTenantSharing.value" typeahead="tenant as tenant.name for tenant in tenantsList | filter:{name:$viewValue} | limitTo:8" class="form-control"
											typeahead-editable="false" typeahead-on-select="onTenantSharingSelect($item, $model, $label)"/>
									<span class="input-group-addon tag-html-tooltip-button" ng-click="showChooseTenantTable()">&quest;</span>
									
								</div>	
							</div>
							<div class="col-sm-6 text-left">
								<div>
									<span  ng-repeat="tenantSharing in stream.sharingTenants">
										<span class="label label-custom label-tenant-sharing"><span title="{{tenantSharing.tenantcode}} - {{tenantSharing.description}}">{{tenantSharing.name}}</span> &nbsp;
										<a href ng-click='removeTenantSharing($index)' ng-if="tenantSharing.tenantcode!=tenantCode"  class='close-button'>&times;</a>
										</span> &nbsp;
									</span>
								</div>						
							</div>
						</div>	
						<!--  
						<div class="form-group" ng-show="stream.visibility=='private' && canShareStream()">
							<label for="inputStreamAddTenantSharing" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_TENANTSSHARING</span></label>
							<div class="col-sm-10">
								<p>
									<span  ng-repeat="tenantSharing in stream.tenantsShare.tenantList">
										<span class="label label-custom label-tenant-sharing"><span title="{tenantSharing.tenantcode}">{{tenantSharing.name}}</span> &nbsp;
										<a href ng-click='removeTenantSharing($index)' ng-show="tenantSharing.isOwner==0"  class='close-button'>&times;</a>
										</span> &nbsp;
									</span>
								</p>						
								<div class="input-group">															
									<select class="input-sm form-control" ng-model="newTenantSharing" ng-options="tenant as tenant.name for tenant in tenantsList">
										<option value="" ng-bind-html="'MANAGEMENT_EDIT_STREAM_TENANT_SHARING_PLACEHOLDER'|translate" ></option>
									</select>
								    <span class="input-group-btn">
								    	<a class="btn  btn-sm"  href ng-click='addTenantSharing(newTenantSharing)' title="{{'MANAGEMENT_EDIT_STREAM_ADD_TENANT_SHARING'|translate}}" >
								    		<i class='glyphicon glyphicon-plus'></i>
								    	</a>
								    </span>
		    					</div>								
							</div>		
						</div>-->
						<div class="form-group">
							<label for="RadioGroupPublish" class="col-sm-2 control-label"><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE_LABEL</span></label>
							<div class="col-sm-10">
								<label class="radio-inline">
			              			<input type="radio" name="RadioGroupPublish" value="1" id="RadioGroupPublish_0" ng-model="stream.publishStream" disabled><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE</span>
			            		</label>
								<label class="radio-inline">
			              			<input type="radio" name="RadioGroupPublish" value="0"  id="RadioGroupPublish_1" ng-model="stream.publishStream" disabled><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_NOT_PUBLISH_ON_STORE</span>
			            		</label>
							</div>
						</div>	
						<div class='form-label-separator' translate-cloak translate>MANAGEMENT_NEW_DATASET_DCAT</div>	
						<div class="form-group">
							<label for="inputStreamDcatRightHolderName" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERNAME</span><span class='required-asterisk'>*</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputStreamDcatRightHolderName" ng-model="stream.dcat.dcatrightsholdername" ng-required="true">
							</div>	
						</div>		
						<div class="form-group">
							<label for="inputStreamDcatRightHolderType" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERTYPE</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputStreamDcatRightHolderType" ng-model="stream.dcat.dcatrightsholdertype">
							</div>	
						</div>		
						<div class="form-group">
							<label for="inputStreamDcatRightHolderId" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_RIGHTHOLDERID</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputStreamDcatRightHolderId" ng-model="stream.dcat.dcatrightsholderid">
							</div>	
						</div>		
						<div class="form-group">
							<label for="inputDatasetDcatCreatorName" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_CREATORNAME</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputDatasetDcatCreatorName" ng-model="stream.dcat.dcatcreatorname">
							</div>	
						</div>		
						<div class="form-group">
							<label for="inputDatasetDcatCreatorType" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_CREATORTYPE</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputDatasetDcatCreatorType" ng-model="stream.dcat.dcatcreatortype">
							</div>	
						</div>		
						<div class="form-group">
							<label for="inputStreamDcatCreatorId" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_CREATORID</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputStreamDcatCreatorId" ng-model="stream.dcat.dcatcreatorid">
							</div>	
						</div>		
						<div class="form-group">
							<label for="inputStreamOpendataNomeOrg" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_NOMEORG</span><span class='required-asterisk'>*</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputStreamOpendataNomeOrg" ng-model="stream.dcat.dcatnomeorg" ng-required="true">
							</div>	
						</div>		
						<div class="form-group">
							<label for="inputStreamOpendataEmailOrg" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_METADATA_DCAT_EMAILORG</span><span class='required-asterisk'>*</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="inputStreamOpendataEmailOrg" ng-model="stream.dcat.dcatemailorg" ng-required="true">
							</div>	
						</div>	
						<div class='form-label-separator'><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_OTHER_INFO</span></div>
						
						<div class="form-group" ng-show="stream.visibility!='private'">
							<label for="inputStreamLicense" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_LICENCE</span></label>
							<div class="col-sm-10 text-left">
								<label class="radio-inline">
					         		<input type="radio" name="RadioGroupLicence" value="{{'STREAM_FIELD_METADATA_LICENSE_CCBY'|translate}}" id="RadioGroupLicence_0" ng-model="stream.licence">
					         		<span translate-cloak translate>STREAM_FIELD_METADATA_LICENSE_CCBY</span>
					       		</label>
								<label class="radio-inline">
					         		<input type="radio" name="RadioGroupLicence" value="{{'STREAM_FIELD_METADATA_LICENSE_CC0'|translate}}" id="RadioGroupLicence_0" ng-model="stream.licence">
					         		<span translate-cloak translate>STREAM_FIELD_METADATA_LICENSE_CC0</span>
					       		</label>
								<label class="radio-inline">
					         		<input type="radio" name="RadioGroupLicence" value="" id="RadioGroupLicence_1" ng-model="stream.licence">
					         		<span translate-cloak translate>STREAM_FIELD_METADATA_LICENSE_OTHER</span>
					       		</label>
								<textarea id="inputDatasetLicence" class="form-control" rows="4" resize="none" ng-model="stream.licence" placeholder="{{'STREAM_FIELD_METADATA_LICENSE'|translate}}" ng-show='isLicenseVisible(stream)' >
								</textarea>
							</div>
						</div>			
						<div class="form-group" ng-show="stream.visibility!='private'">
							<label for="inputStreamDisclaimer" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_DISCLAIMER</span></label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="4" resize="none" ng-model="stream.disclaimer"  placeholder="{{'STREAM_FIELD_DISCLAIMER'|translate}}" id="inputStreamDisclaimer" >
								</textarea>					
								
							</div>
						</div>			
						<div class="form-group" ng-show="stream.visibility=='private'">
							<label for="inputStreamCopyright" class="col-sm-2 control-label"><span translate-cloak translate>STREAM_FIELD_COPYRIGHT</span></label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputStreamCopyright" placeholder="{{'STREAM_FIELD_COPYRIGHT'|translate}}" ng-model="stream.copyright" >
							</div>
						</div>			
		
						<div class="row" ng-show="!isUpdating">
							<div class=" col-sm-12 form-toolbar"  ng-show="isAuthorized('management/streams/update')" >
								<a  href='#/management/viewStream/{{tenant}}/{{stream.codiceVirtualEntity}}/{{stream.codiceStream}}' class="btn"><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_FINISH_BUTTON</span></a>
								<a  ng-click='save()'  class="btn btn-default" ng-disabled="!isOwner() "><span translate-cloak translate>MANAGEMENT_EDIT_STREAM_SAVE_AS_DRAFT_BUTTON</span></a>
							</div>
						</div>
						<div class="row"  ng-show="isUpdating" ng-cloak>
							<div class=" col-sm-12 col-lg-12 form-toolbar">
								<div class='ajax-loading'><span translate-cloak translate>LOADING</span></div>
							</div>				
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
