<div ng-controller="ManagementStreamCtrl as streamCtrl">
	<h2>
		{{'STREAM'|translate}} <small>{{'MANAGEMENT_EDIT_STREAM_FROM_VIRTUAL_ENTITY_SUBTITLE'|translate}}  {{stream.codiceStream}}</small>
	</h2>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="alert alert-danger" ng-show='updateError'>
				<strong>{{updateError.error_message}}</strong>
				{{updateError.error_detail}}
			</div>
			<div class="alert alert-success" ng-show='updateInfo'>
				<strong>{{'MANAGEMENT_EDIT_STREAM_DATA_SAVED_INFO'|translate}}</strong> {{updateInfo.status}}
			</div>
		</div>
	</div>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_CODE'|translate}}</strong></div>
				<div class="col-sm-10">{{stream.codiceStream}}</div>
			</div>			
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY'|translate}}</strong></div>
				<div class="col-sm-10">{{stream.codiceVirtualEntity}} - {{stream.virtualEntityName}}</div>
			</div>			
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_VERSION'|translate}}</strong></div>
				<div class="col-sm-10">{{stream.versionStream}}</div>
			</div>			
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_STATUS'|translate}}</strong></div>
				<div class="col-sm-10">{{stream.deploymentStatusDesc}}</div>
			</div>			
		</div>
	</div>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<form class="form-horizontal" role="form" name="editStreamForm">
				<div class='form-label-separator'>{{'MANAGEMENT_EDIT_STREAM_GENERAL_INFO'|translate}}</div>
				<div class="form-group">
					<label for="inputStreamName" class="col-sm-2 control-label">{{'STREAM_FIELD_NAME'|translate}}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="stream.nomeStream"  id="inputStreamName" placeholder="{{'STREAM_FIELD_NAME'|translate}}" >
					</div>
				</div>
				<div class="form-group">
					<label for="inputStreamAddTag" class="col-sm-2 control-label">{{'STREAM_FIELD_TAGS'|translate}}</label>
					<div class="col-sm-10">
						<p>
							<span  ng-repeat="tag in stream.streamTags.tag">
								<span class="label label-tag label-custom"><span ng-bind-html="tag.tagCode|translate"></span> &nbsp;
								<a href="javascript:void(0)" ng-click='removeTag($index)'>&times;</a>
								</span> &nbsp;
							</span>
						</p>						
						<p>
							<!-- <div class="input-group">
	      						<input type="text" class="form-control" id="inputStreamAddTag"  placeholder="{{'STREAM_FIELD_TAGS'|translate}}" ng-model="newTag" ng-enter="addTag()" >
							      <span class="input-group-btn">
							        	<a class="btn btn-default"  href="javascript:void(0)" ng-click='addTag()' >{{'MANAGEMENT_EDIT_STREAM_ADD_TAG'|translate}}</a>
							      </span>
	    					</div>-->
							<div class="input-group">
	    						<select class="input-sm form-control" ng-model="newTag" ng-options="tag as (tag|translate) for tag in tagList">
	    							<option value="" ng-bind-html="'MANAGEMENT_EDIT_STREAM_TAG_PLACEHOLDER'|translate" ></option>
	    						</select>
							    <span class="input-group-btn">
							    	<a class="btn  btn-sm"  href="javascript:void(0)" ng-click='addTag()' title="{{'MANAGEMENT_EDIT_STREAM_ADD_TAG'|translate}}" ><i class='glyphicon glyphicon-plus'></i></a>
							    </span>
	    					</div>
						</p>
					</div>
				</div>			
				<div class="form-group">
					<label for="inputStreamDomain" class="col-sm-2 control-label">{{'STREAM_FIELD_DOMAIN'|translate}}</label>
					<div class="col-sm-10">
						<select class="input-sm form-control" ng-model="stream.domain" ng-options="domain as (domain|translate) for domain in domainList">
	    					<option value="">{{'MANAGEMENT_EDIT_STREAM_DOMAIN_PLACEHOLDER'|translate}}</option>
	    				</select>
						
						<!-- <input type="text" class="form-control" id="inputStreamDomain" placeholder="{{'STREAM_FIELD_DOMAIN'|translate}}" ng-model="stream.domain"> -->
					</div>
				</div>		
				
				
		<div class='form-label-separator'>{{'STREAM_FIELS'|translate}}</div>
				<div ng-hide='stream.codiceVirtualEntity!="internal" || internalStreams.length==0' class="form-group">
				<label for="streamNameToAdd" class="col-sm-2 control-label">Stream Selezionati</label>
				<div class="col-sm-10">
				<div class="table-responsive">
   					 <table class="table table-striped">
   					  <tbody class="internalStreamsBorder" ng-repeat="streamInt in internalStreams track by $index">
				        <tr>
				            <td>{{streamInt.nomeStream}}</td>
				            <td>{{streamInt.codiceVirtualEntity}}</td>
				             <td> as input{{$index}}</td>	
				        	<td><a  ng-click='cancelStreamToArray($index)' class="btn btn-danger "><i class='glyphicon glyphicon-minus'></i></a></td>
				        	</tr>
				        	<tr>
				        	<!-- td colspan="3"><small><pre pretty-json="{'componenti' : streamInt.componenti}"/></small></td-->
				        	<td colspan="3">
				        	<table class="table table-striped">
							<thead>
								<tr>
									<th>{{'STREAM_FIELD_COMPONENTS_NAME'|translate}}</th>
									<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
									<th>{{'STREAM_FIELD_COMPONENTS_TOLERANCE'|translate}}</th>
									<th>{{'STREAM_FIELD_COMPONENTS_PHENOMENON'|translate}}</th>
									<th>{{'STREAM_FIELD_COMPONENTS_DATA_TYPE'|translate}}</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="component in streamInt.componenti">
									<td><span style="display: none"> {{component.element.idComponente}}</span>{{component.element.nome}}</td>
									<td>{{component.element.measureUnitCategory}} : {{component.element.measureUnit}}</td>
									<td>{{component.element.tolerance}} </td>
									<td>{{component.element.phenomenonCategory}} : {{component.element.phenomenon}}</td>
									<td>{{component.element.dataType}}</td>									
								</tr>
								</tbody>
							</table><td>			        		        
				        </tr>
				      </tbody>   					 
   					 </table></div>
			</div>					
			</div>
			
			<div ng-hide='stream.codiceVirtualEntity!="internal"' class="form-group">
				<label for="streamNameToAdd" class="col-sm-2 control-label">{{'STREAM_TYPE_DEFINITION'|translate}} <span class='required-asterisk'>*</span></label>
				<div class="col-sm-8">
				<select class="form-control col-sm-8" ng-model="streamSelectedItem" ng-options="streamItem.nomeStream for streamItem in streamsList" ng-required="inputTypeStream==0">
				</select>
				</div>
				<div class="col-sm-2"><a ng-click='addStreamToArray()' class="btn btn-default"><i class='glyphicon glyphicon-plus'></i></a></div>	
			</div>
			
			
			<div ng-hide='stream.codiceVirtualEntity!="internal"' class="form-group">
				<label for="streamSiddhiQueryLabel" class="col-sm-2 control-label">SIDDHI Query <span class='required-asterisk'>*</span></label>
				<div class="col-sm-10">													
				<textarea class="form-control" rows="4" resize="none" ng-model="streamSiddhiQuery"  ng-required="inputTypeStream==0" placeholder="from input0 insert into outputStream;">
				</textarea>
				</div>					
			</div>
			
					
				<div class='form-label-separator'>{{'STREAM_FIELD_COMPONENTS_OUTPUT'|translate}}</div>
				<div class="form-group">
					<div class="col-sm-2" id="management-edit-stream-component-help-fix">
						<h5 class="help-title">{{'MANAGEMENT_EDIT_STREAM_COMPONENT_EXAMPLE_TITLE'|translate}}</h5>						
						<small><pre pretty-json="componentJsonExample"/></small>
					</div>
					<div class="col-sm-10">
						<a class="btn btn-default btn-xs"  ng-disabled="true">{{'MANAGEMENT_EDIT_STREAM_READ_COMPONENT_FROM_STREAM_BUTTON'|translate}}</a>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>{{'STREAM_FIELD_COMPONENTS_NAME'|translate}}</th>
									<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
									<th>{{'STREAM_FIELD_COMPONENTS_TOLERANCE'|translate}}</th>
									<th>{{'STREAM_FIELD_COMPONENTS_PHENOMENON'|translate}}</th>
									<th>{{'STREAM_FIELD_COMPONENTS_DATA_TYPE'|translate}}</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="component in stream.componenti.element">
									<td><span style="display: none"> {{component.idComponente}}</span>{{component.nome}}</td>
									<td>{{component.measureUnitCategory}}: {{component.measureUnit}}</td>
									<td>{{component.tolerance}}</td>
									<td>{{component.phenomenonCategory}}: {{component.phenomenon}}</td>
									<td>{{component.dataType}}</td>
									<td><a href="javascript:void(0)" ng-click='removeComponent($index)' class="btn btn-remove btn-sm"><i class='glyphicon glyphicon-minus'></i></a></td> 
									<!--  <td><a href="javascript:void(0)"  class="btn btn-danger btn-sm disabled" title="{{'COMING_SOON'|translate}}"><i class='glyphicon glyphicon-minus'></i></a></td>-->
								</tr>
								<tr>
	               					 <td ng-class="{ 'has-error': insertComponentError }">
	               					 	<input class="input-sm form-control" type="text" name="newComponentName" id="newComponentName" ng-model="newComponent.nome" 
	               					 		 placeholder="{{'STREAM_FIELD_COMPONENTS_NAME_PLACEHOLDER'|translate}}"></td>
	             					 <td>
	             					 	<select class="input-sm form-control" ng-model="newComponentUnitOfMeasurement" 
	             					 		ng-options="unitOfMesaurement.measureUnit group by unitOfMesaurement.measureUnitType for unitOfMesaurement in unitOfMesaurementList track by unitOfMesaurement.idMeasureUnit">
	             					 		<option value="">{{'MANAGEMENT_EDIT_STREAM_UNIT_OF_MEASUREMENT_PLACEHOLDER'|translate}}</option> 
	             					 	</select>
									</td>
					                <td>
					                	<input class="input-sm form-control" type="text" name="newComponentTolerance" id="newComponentTolerance" 
					                		ng-model="newComponent.tolerance" placeholder="{{'STREAM_FIELD_COMPONENTS_TOLERANCE_PLACEHOLDER'|translate}}">
					                </td>
	             					<td>
	             					 	<select class="input-sm form-control" ng-model="newComponentPhenomenom" 
	             					 		ng-options="phenomenom.phenomenon group by phenomenom.phenomenonType for phenomenom in phenomenomList track by phenomenom.idPhenomenon" >
	             						 	<option value="">{{'MANAGEMENT_EDIT_STREAM_PHENOMENOM_PLACEHOLDER'|translate}}</option>
	             					 	</select>
									</td>
	             					 <td>
	             					 	<select class="input-sm form-control" ng-model="newComponentDataType" ng-options="dataType.dataType for dataType in dataTypeList track by dataType.idDataType" >
	             						 	<option value="">{{'MANAGEMENT_EDIT_STREAM_PHENOMENOM_PLACEHOLDER'|translate}}</option>
	             					 	</select>
									</td>
	         						<td><a href="javascript:void(0)" ng-click='addComponent()' class="btn btn-sm"><i class='glyphicon glyphicon-plus'></i></a></td>
								</tr>
							</tbody>
						</table>
						<div class="alert alert-danger" ng-show='insertComponentError'>
							<strong>{{updateError.error_message}}</strong>
							{{insertComponentError|translate}}
						</div>
					</div>
				</div>
				<div class='form-label-separator'>{{'MANAGEMENT_EDIT_STREAM_SETTINGS'|translate}}</div>
				<div class="form-group">
					<label for="RadioGroupSaveData" class="col-sm-2 control-label">{{'MANAGEMENT_EDIT_STREAM_SAVE_DATA_LABEL'|translate}}</label>
					<div class="col-sm-10">
						<label class="radio-inline">
	              			<input type="radio" name="RadioGroupSaveData" value="1" id="RadioGroupSaveData_0" ng-model="stream.saveData" disabled>{{'MANAGEMENT_EDIT_STREAM_SAVE_DATA'|translate}}
	            		</label>
						<label class="radio-inline active">
	              			<input type="radio" name="RadioGroupSaveData" value="0" id="RadioGroupSaveData_1" ng-model="stream.saveData" disabled>{{'MANAGEMENT_EDIT_STREAM_DONT_SAVE_DATA'|translate}}
	            		</label>
					</div>
				</div>
				<div class="form-group">
					<label for="RadioGroupVisibility" class="col-sm-2 control-label"><span ng-bind-html="'STREAM_FIELD_VISIBILITY'|translate"></span></label>
					<div class="col-sm-10">
						<label class="radio-inline">
	              			<input type="radio" name="RadioGroupVisibility" value="public" id="RadioGroupVisibility_0" ng-model="stream.visibility" disabled>{{'MANAGEMENT_EDIT_STREAM_VISIBILITY_PUBLIC'|translate}}
	            		</label>
						<label class="radio-inline">
	              			<input type="radio" name="RadioGroupVisibility" value="private" id="RadioGroupVisibility_1" ng-model="stream.visibility" disabled>{{'MANAGEMENT_EDIT_STREAM_VISIBILITY_PRIVATE'|translate}}
	            		</label>
					</div>
				</div>
				<div class="form-group">
					<label for="RadioGroupPublish" class="col-sm-2 control-label">{{'MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE_LABEL'|translate}}</label>
					<div class="col-sm-10">
						<label class="radio-inline">
	              			<input type="radio" name="RadioGroupPublish" value="1" id="RadioGroupPublish_0" ng-model="stream.publish" disabled>{{'MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE'|translate}}
	            		</label>
						<label class="radio-inline">
	              			<input type="radio" name="RadioGroupPublish" value="0" id="RadioGroupPublish_1" ng-model="stream.publish" disabled>{{'MANAGEMENT_EDIT_STREAM_NOT_PUBLISH_ON_STORE'|translate}}
	            		</label>
					</div>
				</div>
				<div class='form-label-separator'>{{'MANAGEMENT_EDIT_STREAM_OTHER_INFO'|translate}}</div>
				
				<div class="form-group">
					<label for="inputStreamFps" class="col-sm-2 control-label">{{'STREAM_FIELD_FPS'|translate}}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputStreamFps" placeholder="{{'STREAM_FIELD_FPS'|translate}}" ng-model="stream.fps" >
					</div>
				</div>			
				<div class="form-group">
					<label for="v" class="col-sm-2 control-label">{{'STREAM_FIELD_LICENCE'|translate}}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputStreamLicence" placeholder="{{'STREAM_FIELD_LICENCE'|translate}}" ng-model="stream.licence" >
					</div>
				</div>			
				<div class="form-group">
					<label for="inputStreamDisclaimer" class="col-sm-2 control-label">{{'STREAM_FIELD_DISCLAIMER'|translate}}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputStreamDisclaimer" placeholder="{{'STREAM_FIELD_DISCLAIMER'|translate}}" ng-model="stream.disclaimer" >
					</div>
				</div>			
				<div class="form-group">
					<label for="inputStreamCopyright" class="col-sm-2 control-label">{{'STREAM_FIELD_COPYRIGHT'|translate}}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputStreamCopyright" placeholder="{{'STREAM_FIELD_COPYRIGHT'|translate}}" ng-model="stream.copyright" >
					</div>
				</div>			
				<div class='form-label-separator'></div>
				<div class="row">
					<div class=" col-sm-12 form-toolbar">
						<a  href='#/management/viewStream/{{tenant}}/{{stream.codiceVirtualEntity}}/{{stream.codiceStream}}' class="btn">{{'MANAGEMENT_EDIT_STREAM_FINISH_BUTTON'|translate}}</a>
						<a  ng-click='updateStream()'  class="btn btn-default" ng-disabled="!isOwner() || editStreamForm.$invalid">{{'MANAGEMENT_EDIT_STREAM_SAVE_AS_DRAFT_BUTTON'|translate}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
