
<div class='title-container'>
	<div class="container">
		<h1>{{'MANAGEMENT_TITLE'|translate}}</h1>
	</div>
</div>
<div class="container"  ng-controller="ManagementNavigationCtrl as navigationCtrl">
	<div class='row'>
		<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
			<ul class="nav  nav-pills nav-stacked">
				<li ng-class="{active: managementTab == 'dashboard'}"><a href="#/management/dashboard">{{'MANAGEMENT_MENU_DASHBOARD'|translate}}</a></li>
				<li ng-class="{active: managementTab == 'streams'}"><a href="#/management/streams">{{'MANAGEMENT_MENU_STREAMS'|translate}}</a></li>
				<li ng-class="{active: managementTab == 'virtualEntities'}"><a href="#/management/virtualEntities">{{'MANAGEMENT_MENU_VIRTUAL_ENTITIES'|translate}}</a></li>
				<li ng-class="{active:  managementTab == 'dataset'}"><a href="#/management/dataset">{{'MANAGEMENT_MENU_DATASET'|translate}}</a></li>
			</ul>
		</div>
		<div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
			<ng-include src=" 'partials/management/' + managementTab+ '.html' "></ng-include>
		</div>
	</div>
</div>