
<div ng-controller="ManagementStreamCtrl as streamCtrl">
	<div class='container'>
		<h3 class='content-edit-title'><span translate>MANAGEMENT_NEW_STREAM_SUBTITLE</span></h3>
	</div>
	<div class='container'>
		<div class='row'>
			<div class="col-sm-10  col-sm-offset-1 wizard-nav" >
				<ul class="nav nav-pills " role="tablist">
				  <li role="presentation" ng-class="{active: currentStep == 'register'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[0].style">
				  		<span class='wizard-step-counter'>1</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_REGISTER</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'requestor'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[1].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>2</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_REQUESTOR</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'detail'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[2].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>3</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_DETAIL</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'components'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[3].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>4</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_COMPONENTS</span> 
				  	</a>
				  </li>
				  <li role="presentation" ng-class="{active: currentStep == 'share'}">
				  	<a href='javascript:void(0)' ng-class="wizardSteps[4].style">
				  		<span class='wizard-step-counter wizard-step-counter-notfirst'>5</span>
				  		<span class='wizard-step-label wizard-step-label-notlast' translate>MANAGEMENT_NEW_STREAM_WIZARD_STEP_SHARE</span> 
				  	</a>
				  </li>
			</ul>
			</div>
		</div>
	</div>
	<p>&nbsp;</p>
	<div class='content-gray'>
		<div class='container'  >
			<div class='row'>
				<div class="col-sm-10 col-sm-offset-1">
					<carousel id='newDatasetWizard' interval="-1">
						<slide  active="currentStep == 'register'">
							<new-stream-wizard-register></new-stream-wizard-register>
						</slide>
						<slide active="currentStep == 'requestor'">
							<new-stream-wizard-requestor></new-stream-wizard-requestor>
						</slide>
						<slide active="currentStep == 'detail'">
							<new-stream-wizard-detail></new-stream-wizard-detail>
						</slide>
						<slide active="currentStep == 'components'">
							<new-stream-wizard-components></new-stream-wizard-components>
						</slide>
						<slide active="currentStep == 'share'">
							<new-stream-wizard-share></new-stream-wizard-share>
						</slide>
					</carousel>
				</div>
			</div>
		</div>
	</div>
</div>