<div ng-controller="ManagementStreamListCtrl as streamsCtrl"  ng-cloak>
	<div class='container'>
		<h3><span translate-cloak translate>MANAGEMENT_STREAM_SUBTITLE</span></h3>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<!-- Main component for a primary marketing message or call to action -->
		
				<!-- Single button -->
				<div class='row  content-toolbar row-compact'>
					<div class="col-sm-3">
			        	<a  href="#/management/newStream/{{tenantCode}}" class="btn  btn-new" ng-disabled="!isAuthorized('management/streams/update') || !isOwner()">
							<span class="glyphicon glyphicon-plus "></span>&nbsp;<span translate-cloak translate>MANAGEMENT_STREAM_LIST_NEW_STREAM</span>
						</a>
						<!-- button  href="javascript:void(0)" ng-click='editStream()' class="btn  btn-edit" ng-disabled="!isAuthorized('management/streams/update') || !isOwner() || !canEdit()" title="{{'MANAGEMENT_STREAM_LIST_EDIT_STREAM_BUTTON_HINT'|translate}}">
							<span class="glyphicon glyphicon-pencil "></span>&nbsp;<span translate-cloak translate>MANAGEMENT_STREAM_LIST_EDIT_STREAM</span>
						</button> -->
						<a  ng-href='{{editStream()}}' class="btn btn-edit" ng-if="isOwner() && canEdit() && isAuthorized('management/datasets/update')">
						<span class="glyphicon glyphicon-pencil "></span> {{'MANAGEMENT_VIEW_DATASET_EDIT_BUTTON'|translate}}
					</a>
						<button href="javascript:void(0)" ng-click='deleteStream()'class="btn  btn-delete" ng-hide="true" title="{{'MANAGEMENT_STREAM_LIST_DELETE_STREAM_BUTTON_HINT'|translate}}">
							<span class="glyphicon glyphicon-trash "></span>&nbsp;<span translate-cloak translate>MANAGEMENT_STREAM_LIST_DELETE_STREAM</span>
						</button>
					</div>

					<div class="col-sm-9">
						<form class="form form-horizontal-compact" role="form">   						 	
							<div class="row">
								<div class="col-sm-2">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model="viewUnistalledCheck">
											<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
											<span translate-cloak translate title="{{'MANAGEMENT_STREAM_LIST_SHOW_UNINSTALLED_HINT'|translate}}">MANAGEMENT_STREAM_LIST_SHOW_UNINSTALLED&nbsp;</span>
										</label>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model="viewUnpublishedCheck">
											<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
											<span translate-cloak translate title="{{'MANAGEMENT_STREAM_LIST_SHOW_UNPUBLISHED_HINT'|translate}}">MANAGEMENT_STREAM_LIST_SHOW_UNPUBLISHED&nbsp;</span>
										</label>
									</div>
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control input-sm " ng-model="domainFilter" placeholder="{{'STREAM_LIST_DOMAIN_FILTER'|translate}}" />
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control input-sm" ng-model="statusFilter" placeholder="{{'STREAM_LIST_STATUS_FILTER'|translate}}" />
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control input-sm" ng-model="nameFilter" placeholder="{{'STREAM_LIST_NAME_FILTER'|translate}}" />
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control input-sm" ng-model="codeFilter" placeholder="{{'STREAM_LIST_CODE_FILTER'|translate}}" />
								</div>
							</div>
						</form>

					</div>
				</div>
				<div class="table-responsive dashboard-streamList-table">
					<table class="table">
						<thead>
							<tr>
								<th>
								</th>
								<th>
								</th>
								<th class='text-left'>
									<a href="" ng-click="predicate = 'streamcode'; reverse=!reverse"><span translate-cloak translate>STREAM</span> 
									<span ng-show="predicate=='streamcode' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='streamcode' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								
								</th>
								<th class='text-left'>
									<a href="" ng-click="predicate = 'smartobject.socode'; reverse=!reverse"><span translate-cloak translate>VIRTUALENTITY</span> 
									<span ng-show="predicate=='smartobject.socode' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='smartobject.socode' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								
								</th>
								<th>
									<a href="" ng-click="predicate = 'domain.domaincode|translate'; reverse=!reverse"><span translate-cloak translate>STREAM_FIELD_DOMAIN</span> 
									<span ng-show="predicate=='domain.domaincode|translate' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='domain.domaincode|translate' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								</th>
								<th>
									<a href="" ng-click="predicate = 'registrationdate'; reverse=!reverse"><span translate-cloak translate>STREAM_FIELD_CREATION_DATE</span> 
									<span ng-show="predicate=='registrationdate' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='registrationdate' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								
								</th>
								<th>
									<a href="" ng-click="predicate = 'status.statuscode|translate'; reverse=!reverse"><span translate-cloak translate>STREAM_FIELD_STATUS</span> 
									<span ng-show="predicate=='status.statuscode|translate' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='status.statuscode|translate' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								</th>
								<th>
									<a href="" ng-click="predicate = 'version'; reverse=!reverse"><span translate-cloak translate>STREAM_FIELD_VERSION</span> 
									<span ng-show="predicate=='version' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='version' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								</th>
								<th>
									<a href="" ng-click="predicate = 'visibility'; reverse=!reverse"><span translate-cloak translate>DATASET_FIELD_METADATA_VISIBILITY</span>
									<span ng-show="predicate=='version' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
									<span ng-show="predicate=='version' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
								</th>
							</tr>
						</thead>
						<tbody  >
							<tr ng-if="showLoading">
								<td colspan='9' >
									<div class='ajax-loading-container'>
										<span class='ajax-loading-big'></span>
										<h4>Loading...</h4>
									</div>
								</td>
							</tr>
							<tr ng-if="admin_response.message">
								<td colspan='8' >
									<alert-panel content='admin_response'></alert-panel>
								</td>
							</tr>
							<tr ng-repeat="stream in filteredStreamsList = (streamsList | filter: searchCodeFilter | filter: searchNameFilter | filter: viewUnpublishedFilter | filter: searchStatusFilter| filter: viewUnistalledFilter| filter:searchDomainFilter | orderBy:predicate:reverse) |startFrom:(currentPage-1)*pageSize | limitTo:pageSize ">
								<!-- <td><input type="checkbox" name="selected" ng-checked="isSelected(stream)"  ng-click="updateSelection($event, stream)"/></td>  -->
								<td>
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-checked="isSelected(stream)"  ng-click="updateSelection($event, stream)">
											<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
										</label>
									</div>
								</td>
								
								
								<td class='text-center no-border-right'>
									<a href="#/management/viewDatasource/stream/{{tenant}}/{{stream.streamcode}}/{{stream.idstream}}">
								<!-- 	<a href="#/management/viewStream/{{tenant}}/{{stream.smartobject.socode}}/{{stream.streamcode}}/{{stream.idstream}}"> -->
										<img ng-src="{{streamIconUrl(organizationCode,stream.idstream)}}" alt="logo stream" class='list-entity-icon-preview-img' >
									</a>
								</td>
								<td class='text-left no-border-left'>
									<a href="#/management/viewDatasource/stream/{{tenant}}/{{stream.streamcode}}/{{stream.idstream}}">
										<strong title='{{"STREAM_FIELD_CODE"|translate}}'>{{stream.streamcode}}</strong> <br> 
										<span title='{{"STREAM_FIELD_NAME"|translate}}'>{{stream.streamname}}</span>
									</a>
								</td>
								
								<td class='text-left'>
									<strong title='{{"VIRTUALENTITY_FIELD_CODE"|translate}}'>{{stream.smartobject.socode}}</strong> <br> 
									<span title='{{"VIRTUALENTITY_FIELD_NAME"|translate}}'>{{stream.smartobject.name}}</span>
								</td>
								<td><div class='domain-column'><i class="icon-{{stream.domain.domaincode}} domain-icon" title="{{stream.domain.domaincode|translate}}"></i></div></td>
								<td>{{stream.registrationdate|smartobject_date_format}}</td>
								<td class='text-left'><span class="stream-status stream-status-{{stream.status.statuscode}}" title="{{stream.status.statuscode|translate}}">{{stream.status.statuscode|translate|string_ellipse:12}}</span></td>
								<td><span>{{stream.version}}</span> <strong class='text-icon entity-uninstalled-icon' ng-if="stream.status.idStatus==5 || stream.status.idStatus==4" title='{{"DATASET_FIELD_CONFIGDATA_DELETED"|translate}}'>D</strong></td>
								<td><span translate-cloak translate>{{stream.visibility}}</span> <strong class='text-icon entity-unpublished-icon' ng-if="stream.unpublished" title='{{"DATASET_FIELD_UNPUBLISHED_TRUE"|translate}}'>NP</strong></td>
								
							</tr>
						</tbody>
					</table>
					<div  class='text-center'>
						<pagination boundary-links="true" total-items="filteredStreamsList.length" ng-model="currentPage" ng-change="selectPage()" class="pagination-sm" previous-text="&lsaquo;"
							next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
						></pagination>
		
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>