<div ng-controller="ManagementVirtualentityCtrl as streamCtrl">
	<h2>
		{{'VIRTUALENTITY'|translate}} <small> {{virtualentity.nomeVirtualEntity}}</small>
	</h2>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_CODE'|translate}}</strong></div>
				<div class="col-sm-10">{{virtualentity.codeVirtualEntity}}</div>
			</div>			
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_NAME'|translate}}</strong></div>
				<div class="col-sm-10">{{virtualentity.nomeVirtualEntity}}</div>
			</div>			
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_TYPE'|translate}}</strong></div>
				<div class="col-sm-10">{{virtualentity.tipoVirtualEntity}}</div>
			</div>			
			<div class="row card-row" ng-show="isDevice()">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_CATEGORY'|translate}}</strong></div>
				<div class="col-sm-10">{{virtualentity.categoriaVirtualEntity}}</div>
			</div>			
			<div class="row card-row"  ng-show="isDevice()">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_MODEL'|translate}}</strong></div>
				<div class="col-sm-10">{{virtualentity.modelVirtualEntity}}</div>
			</div>			
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_DESCRIPTION'|translate}}</strong></div>
				<div class="col-sm-10">{{virtualentity.descrizioneVirtualEntity}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_CREATION_DATE'|translate}}</strong></div>
				<div class="col-sm-10">{{virtualentity.creationDate|date}}</div>
			</div>			
			<div  ng-show="isDevice()">
				<div class='card-label-separator'>{{'MANAGEMENT_EDIT_VIRTUALENTITY_COLLOCATION'|translate}}</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_POSITION'|translate}}</strong></div>
					<div class="col-sm-10">{{virtualentity.positionType}}</div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_LATITUDE'|translate}}</strong></div>
					<div class="col-sm-2">{{virtualentity.coordinates[0]}}</div>
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_LONGITUDE'|translate}}</strong></div>
					<div class="col-sm-2">{{virtualentity.coordinates[1]}}</div>
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_ELEVATION'|translate}}</strong></div>
					<div class="col-sm-2">{{virtualentity.elevation}}</div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_POSITION'|translate}}</strong></div>
					<div class="col-sm-10">{{virtualentity.positionType}}</div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_ESPOSITION'|translate}}</strong></div>
					<div class="col-sm-2">{{virtualentity.esposition}}</div>
					<div class="col-sm-2" ng-show="virtualentity.esposition=='indoor'">{{'VIRTUALENTITY_FIELD_INDOOR_BUILDING'|translate}}</div>
					<div class="col-sm-2" ng-show="virtualentity.esposition=='indoor'">{{virtualentity.building}}</div>
					<div class="col-sm-2" ng-show="virtualentity.esposition=='indoor'">{{'VIRTUALENTITY_FIELD_INDOOR_ROOM'|translate}}</div>
					<div class="col-sm-2" ng-show="virtualentity.esposition=='indoor'">{{virtualentity.room}}</div>
				</div>
				<div class='card-label-separator'>{{'MANAGEMENT_EDIT_VIRTUALENTITY_OTHER_INFO'|translate}}</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_SUPPLY'|translate}}</strong></div>
					<div class="col-sm-10">{{virtualentity.supply}}</div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_ADMIN_URI'|translate}}</strong></div>
					<div class="col-sm-10">{{virtualentity.adminUri}}</div>
				</div>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY_FIELD_SOFTWARE_VERSION'|translate}}</strong></div>
					<div class="col-sm-10">{{virtualentity.softwareVersion}}</div>
				</div>
			</div>
			<div class="row card-toolbar">
				<a  href='#' class="btn btn-default disabled" title="{{'COMING_SOON'|translate}}">
					<span class="glyphicon glyphicon-trash mute"></span> {{'MANAGEMENT_VIEW_VIRTUALENTITY_DELETE_BUTTON'|translate}}
				</a>
				<a  href='#/management/editVirtualentity/{{tenant}}/{{virtualentity.codeVirtualEntity}}' class="btn btn-default disabled" title="{{'COMING_SOON'|translate}}">
					<span class="glyphicon glyphicon-pencil mute"></span> {{'MANAGEMENT_VIEW_VIRTUALENTITY_EDIT_BUTTON'|translate}}
				</a>
			</div>
		</div>
	</div>
</div>