<div ng-controller="ManagementStreamCtrl as streamCtrl">
	<h2>
		{{'STREAM'|translate}} <small>{{stream.codiceStream}} - {{stream.nomeStream}}</small>
	</h2>
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="alert alert-danger" ng-show='updateError'>
				<strong>{{updateError.error_message}}</strong>
				{{updateError.error_detail}}
			</div>
			<div class="alert alert-success" ng-show='updateInfo'>
				<strong>{{'MANAGEMENT_VIEW_STREAM_LIFECYCLE_OK_INFO'|translate}}</strong> {{updateInfo.status}}
			</div>
		</div>
	</div>
	
	<div class='row'>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_CODE'|translate}}</strong></div>
				<div class="col-sm-10">{{stream.codiceStream}}</div>
			</div>			
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_NAME'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.nomeStream}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'VIRTUALENTITY'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.codiceVirtualEntity}} - {{stream.virtualEntityName}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_VERSION'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.deploymentVersion}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_STATUS'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.deploymentStatusDesc|translate}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_TAGS'|translate}}</strong></div>
				<div class='col-sm-10'>
					<ul class="list-inline">
						<li ng-repeat="tag in stream.streamTags.tag"><span class="label label-tag label-custom"><span ng-bind-html="tag.tagCode|translate"></span></span></li>
						
					</ul>
				</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_DOMAIN'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.domain|translate}}</div>
			</div>	
			<div class='card-label-separator'>{{'MANAGEMENT_EDIT_STREAM_OTHER_INFO'|translate}}</div>
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_FPS'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.fps}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_LICENCE'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.licence}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_DISCLAIMER'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.disclaimer}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_COPYRIGHT'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.copyright}}</div>
			</div>	
			<div class='card-label-separator'>{{'STREAM_FIELD_COMPONENTS'|translate}}</div>
			<table class='table-condensed table-supercondensed dashboard-table-components'>
				<thead>
					<tr>
						<th>{{'STREAM_FIELD_COMPONENTS_NAME'|translate}}</th>
						<th><span ng-bind-html="'STREAM_FIELD_COMPONENTS_UNIT_OF_MEASUREMENT'|translate"></span></th>
						<th>{{'STREAM_FIELD_COMPONENTS_TOLERANCE'|translate}}</th>
						<th>{{'STREAM_FIELD_COMPONENTS_PHENOMENON'|translate}}</th>
						<th>{{'STREAM_FIELD_COMPONENTS_DATA_TYPE'|translate}}</th>

					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="component in stream.componenti.element">
						<td><span style="display: none"> {{component.idComponente}}</span>{{component.nome}}</td>
						<td>{{component.measureUnitCategory}}: {{component.measureUnit}}</td>
						<td>{{component.tolerance}}</td>
						<td>{{component.phenomenonCategory}}: {{component.phenomenon}}</td>
						<td>{{component.dataType}}</td>
					</tr>	
				</tbody>
			</table>
			<div class='card-label-separator'>{{'MANAGEMENT_EDIT_STREAM_SETTINGS'|translate}}</div>
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'MANAGEMENT_EDIT_STREAM_SAVE_DATA_LABEL'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.saveData}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'STREAM_FIELD_VISIBILITY'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.visibility}}</div>
			</div>	
			<div class="row card-row">
				<div class="col-sm-2 card-label"><strong>{{'MANAGEMENT_EDIT_STREAM_PUBLISH_ON_STORE_LABEL'|translate}}</strong></div>
				<div class='col-sm-10'>{{stream.publish}}</div>
			</div>	
			<div class="row card-toolbar">
				<a  href='#' class="btn  disabled btn-historical" title="{{'COMING_SOON'|translate}}">
					<span class="glyphicon glyphicon-time "></span> {{'MANAGEMENT_VIEW_STREAM_HISTORICAL_BUTTON'|translate}}
				</a>
				<a  href='#' class="btn  btn-delete disabled" title="{{'COMING_SOON'|translate}}">
					<span class="glyphicon glyphicon-trash "></span> {{'MANAGEMENT_VIEW_STREAM_DELETE_BUTTON'|translate}}
				</a>
				<a  href='#/management/editStream/{{tenant}}/{{stream.codiceVirtualEntity}}/{{stream.codiceStream}}' class="btn btn-default btn-edit" ng-show="isOwner() && canEdit()">
					<span class="glyphicon glyphicon-pencil "></span> {{'MANAGEMENT_VIEW_STREAM_EDIT_BUTTON'|translate}}
				</a>
				<a  href='javascript:void(0)' class="btn  btn-uninstall" ng-show="isOwner() && canUnistall()" ng-click='requestUnistallation()'>
					<span class="glyphicon glyphicon-open "></span> {{'MANAGEMENT_VIEW_STREAM_UNINSTALL_BUTTON'|translate}}
				</a>
				<a  href='javascript:void(0)' class="btn  btn-new" ng-show="isOwner() && canCreateNewVersion()" ng-click='createNewVersion()'>
					<span class="glyphicon glyphicon-export "></span> {{'MANAGEMENT_VIEW_STREAM_NEWVERSION_BUTTON'|translate}}
				</a>
				<a  href='javascript:void(0)' class="btn  btn-install" ng-show="isOwner() && canInstall()" ng-click='requestInstallation()'>
					<span class="glyphicon glyphicon-save "></span> {{'MANAGEMENT_VIEW_STREAM_INSTALL_BUTTON'|translate}}
				</a>
			</div>
		</div>
	</div>
</div>
