<h2>{{'MANAGEMENT_TITLE'|translate}} <small>{{'MANAGEMENT_VIRTUALENTITY_SUBTITLE'|translate}} </small></h2>
<div class='row'>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="ManagementVirtualentityListCtrl as virtualentitiesCtrl">
		<!-- Main component for a primary marketing message or call to action -->

		<!-- Single button -->
		<div class='clearfix'>
			<div class="pull-left">
				<a  href="#/management/newVirtualentity/{{tenantCode}}" class="btn btn-default btn-new" >
					<span class="glyphicon glyphicon-plus"></span> {{'MANAGEMENT_VIRTUALENTITY_LIST_NEW_VIRTUALENTITY'|translate}}
				</a>
				<button  href="javascript:void(0)" ng-click='editVirtualentity()' class="btn btn-default btn-edit" ng-disabled="selectedVirtualentities.length!=1" title="{{'MANAGEMENT_VIRTUALENTITY_LIST_EDIT_VIRTUALENTITY_BUTTON_HINT'|translate}}">
					<span class="glyphicon glyphicon-pencil "></span> {{'MANAGEMENT_VIRTUALENTITY_LIST_EDIT_VIRTUALENTITY'|translate}}
				</button>
				<button href="javascript:void(0)" ng-click='deleteVirtualentity()'class="btn btn-default btn-delete" ng-disabled="true" title="{{'MANAGEMENT_VIRTUALENTITY_LIST_DELETE_VIRTUALENTITY_BUTTON_HINT'|translate}}">
					<span class="glyphicon glyphicon-trash"></span> {{'MANAGEMENT_VIRTUALENTITY_LIST_DELETE_VIRTUALENTITY'|translate}}
				</button>
			</div>
			<div class="btn-group pull-right">
				<form class="form-inline" role="form">
					<div class="form-group">
						<div class="form-group">
							<input type="text" class="form-control col-xs-2" ng-model="codeFilter" placeholder="{{'VIRTUALENTITY_LIST_CODE_FILTER'|translate}}" />
						</div>
						<div class="form-group">
							<input type="text" class="form-control col-xs-2" ng-model="statusFilter" placeholder="{{'VIRTUALENTITY_LIST_STATUS_FILTER'|translate}}" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="table-responsive dashboard-streamList-table">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
						</th>
						<th>
							<a href="" ng-click="predicate = 'code'; reverse=!reverse">{{'VIRTUALENTITY_FIELD_CODE'|translate}} 
							<span ng-show="predicate=='code' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
							<span ng-show="predicate=='code' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
						
						</th>
						<th>
							<a href="" ng-click="predicate = 'name'; reverse=!reverse">{{'VIRTUALENTITY_FIELD_NAME'|translate}} 
							<span ng-show="predicate=='name' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
							<span ng-show="predicate=='name' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
						
						</th>
						<th>
							<a href="" ng-click="predicate = 'streamsCount'; reverse=!reverse">{{'VIRTUALENTITY_FIELD_STREAMS_COUNT'|translate}} 
							<span ng-show="predicate=='streamsCount' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
							<span ng-show="predicate=='streamsCount' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
						
						</th>
						<th>
							<a href="" ng-click="predicate = 'creationdate'; reverse=!reverse">{{'VIRTUALENTITY_FIELD_CREATION_DATE'|translate}} 
							<span ng-show="predicate=='creationdate' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
							<span ng-show="predicate=='creationdate' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
						
						</th>
						<th>
							<a href="" ng-click="predicate = 'status'; reverse=!reverse">{{'VIRTUALENTITY_FIELD_STATUS'|translate}} 
							<span ng-show="predicate=='status' && !reverse" class="glyphicon glyphicon-chevron-up small"></span>
							<span ng-show="predicate=='status' && reverse" class="glyphicon glyphicon-chevron-down small"></span></a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="virtualentity in filteredVirtualentitiesList = ( virtualentitiesList | filter: searchCodeFilter | filter: searchStatusFilter|  orderBy:predicate:reverse  )  |startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
						<td><input type="checkbox" name="selected" ng-checked="isSelected(virtualentity)"  ng-click="updateSelection($event, virtualentity)" ng-show="!isInternal(virtualentity)"/>
						<td><a href="#/management/viewVirtualentity/{{tenant}}/{{virtualentity.codeVirtualEntity}}">{{virtualentity.codeVirtualEntity}}</a></td>
						<td>{{virtualentity.virtualEntityName}}</td>
						<td># TBD</td>
						<td>{{virtualentity.lastupdate|date}}</td>
						<td>{{virtualentity.deploymentStatusDesc}}</td>
					</tr>
				</tbody>
			</table>
			<pagination boundary-links="true" total-items="filteredVirtualentitiesList.length" ng-model="currentPage" ng-change="selectPage()" class="pagination-sm" previous-text="&lsaquo;"
				next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
			></pagination>


		</div>
	</div>
</div>
