<style>
#map_canvas{
  height:300px;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #efefef;
  text-align: center ;
  background: url(' http://maps.googleapis.com/maps/api/staticmap?center=45.0706029,7.6867102&zoom=12&size=1200x400&scale=2') no-repeat center center;
 
}
</style>
<div id='homepage' ng-controller="HomeCtrl as homeController">
	<div class='container'>

		<h1 class=''>Yucca Platform <small ><span translate>HOME_SUBTITLE</span></small></h1>
		<h2 class='slogan'></h2>
		<div class="row tile-row">
			<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
				 <div id="map" class="map">
      				<div id="popup" class="ol-popup">
          				<a href="#" id="popup-closer" class="ol-popup-closer"></a>
        				<div id="popup-content"></div>
      				</div>
    			</div>
			</div> 
		</div>
		<div class='row-separator'></div>
		<div class="row tile-row">
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3 dashboard-menu ' ng-show="isAuthorized('monitoring/*')" >
				<div class='tile'>
					<div class='tile-main'>
						<div class="glyphicon glyphicon-dashboard main-icon"></div>
						<div class='tile-subtitle'><span translate>MENU_DASHBOARD</span></div>
					</div>
				
					<div class='tile-menuitem'><a href="#/dashboard/main/overview"><span translate>DASHBOARD_DASHBOARD_BUTTON</span></a></div>
					<div class='tile-menuitem'><a href="#/dashboard/streams"><span translate>DASHBOARD_STREAMS_BUTTON</span></a></div>
					<div class='tile-menuitem'><a href="#/dashboard/error_log"><span translate>DASHBOARD_ERROR_LOG_BUTTON</span></a></div>
				</div>
			</div>	
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-3 management-menu ' ng-show="isAuthorized('management/*')" >
				<div class='tile'>
					<div class='tile-main'>
						<div class="glyphicon glyphicon-wrench main-icon"></div>
						<div class='tile-subtitle'><span translate>MENU_MANAGEMENT</span></div>
					</div>
				
					<div class='tile tile-menuitem' ng-show="isAuthorized('management/smartobjects/*')"><a href="#/management/virtualentities/{{activeTenantCode}}"><span translate>MANAGEMENT_MENU_VIRTUAL_ENTITIES</span></a></div>
					<div class='tile tile-menuitem' ng-show="isAuthorized('management/streams/*')"><a href="#/management/streams/{{activeTenantCode}}"><span translate>MANAGEMENT_MENU_STREAMS</span></a></div>
					<div class='tile tile-menuitem' ng-show="isAuthorized('management/datasets/*')"><a href="#/management/datasets/{{activeTenantCode}}"><span translate>MANAGEMENT_MENU_DATASET</span></a></div>
				</div>
			</div>	
			<div>
				
			</div>
			<div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 '>
				<div class="row"  ng-show="isAuthorized('store/*')" >
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-8 discovery-menu small-padding' >
						<div class='tile'>
							<div class='tile-main'>
								<div class=''> <span class='main-icon glyphicon glyphicon-search'></span>
								</div> 
								<div class='tile-subtitle tile-subtitle-link'><a href="#/discovery/"><span translate>HOME_SEARCH_TITLE</span></a></div>
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4 about-menu small-padding'>
						<div class='tile'>
							<div class='tile-main'>
								<div class=''><span class=' main-icon glyphicon glyphicon-globe'></span></div> 
								<div class='tile-subtitle tile-subtitle-link'><a href="#/discovery/"><small>smartdatanet.it</small></a></div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  tenant-menu small-padding'>
						<div class='tile'>
							<div class='tile-main'>
								<div class='tile-counter'>{{tenantsCount}}</div>
								<div class='tile-subtitle tile-subtitle-small'><span translate>HOME_TENANT_TITLE</span></div>
							</div>
							
						</div>
					</div>
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4  virtualentity-menu small-padding'>
						<div class='tile'>
							<div class='tile-main'>
								<div class='tile-counter'>{{virtualentitiesCount}}</div>
								<div class='tile-subtitle tile-subtitle-small'><span translate>HOME_VIRTUALENTITY_TITLE</span></div>
							</div>
							
						</div>
					</div>
					<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4 stream-menu small-padding'>
						<div class='tile'>
							<div class='tile-main'>
								<div class='tile-counter'>{{streamsCount}}</div>
								<div class='tile-subtitle tile-subtitle-small'><span translate>HOME_STREAM_TITLE</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='row-separator'></div>
		<h2><span translate>HOME_HOWTO_TITLE</span></h2>
		<div class='desc clearfix'>
			<ul class="list-unstyled">
				<span ng-bind-html="'HOME_HOWTO_TEXT_HTML'|translate"></span>
			</ul>
		</div>
		<div class='row-separator'></div>

	
		
		
	</div>
	
</div>

