<style>
#map_canvas{
  height:300px;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #efefef;
  text-align: center ;
  background: url(' http://maps.googleapis.com/maps/api/staticmap?center=45.0706029,7.6867102&zoom=12&size=1200x400&scale=2') no-repeat center center;
 
}
</style>
<div id='homepage' ng-controller="HomeCtrl as homeController">

	<div id='home-landing-section' ng-cloak>
		<div class='row'>
			<div class='col-sm-5 col-sm-offset-1'>
				<div class='home-logo'></div>
				<p class='intro-desc'>
					<span ng-bind-html="'HOME_INTRO_HTML'|translate"></span>
				</p>
			</div>
			<div class='col-sm-6' >
				<div class='main-title-container'>
					<h1 class='main-title'>yucca</h1>
				</div>
				<div ng-show="!user.loggedIn">
					<div class='main-action-panel row' >
						<div  class='col-sm-1 col-sm-offset-1 first-block'>&nbsp;</div>
						<div class='col-sm-8 action actions'>
							<div class='row'>
								<div class='col-sm-7 text-right main-action-button-desc'>
									<span translate>HOME_START_BUTTON_DESC</span>  
								</div>
								<div  class='col-sm-5 text-center'>
									<a class='btn main-action-button' href="/userportal/api/authorize?returnUrl=%23%2Fhome%3FscrollTo%3Dhome-operation-section-anchor"><span translate>HOME_START_BUTTON</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class='row main-action-panel-demo-link'>
						<div class='col-sm-12 text-center'>
							<a  href="#/management/virtualentities/sandbox"><span translate>HOME_START_DEMO_BUTTON</span></a>
						</div>
					</div>
				</div>
				<div ng-show="user.loggedIn">
					<div class='main-action-panel row' >
						<div  class='col-sm-1 col-sm-offset-1 first-block'>&nbsp;</div>
						<div class='col-sm-8 action actions'>
							<div class='row'>
								<div class='col-sm-5 text-right'>
									<span class='main-action-username'>
										<span translate>HOME_LOGGED_IN_WELCOME</span> 
									<strong>{{user.firstname}} {{user.lastname}}</span></strong>
									<span class='main-action-tenant'>{{activeTenantCode}}</span>
								</div>
								<div  class='col-sm-7 text-center'>
									<a class='btn main-action-button' href="#/dashboard/streams"><span translate>HOME_START_LOGGED_IN_BUTTON</span></a>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div id='home-map-section' >
		<div class="container">
			<h3><span translate>HOME_MAP_INTRO</span></h3>
		</div>
	 	<div id="map" class="map">
	 		<div class='left-overlay-map'></div>
			<div id="popup" class="ol-popup">
   				<a href="#" id="popup-closer" class="ol-popup-closer"></a>
 				<div id="popup-content"></div>
			</div>
	 		<div class='right-overlay-map'></div>
		</div>
	</div>
	
	<div id='home-statistic-section' class='statistic-row' ng-cloak>
		<div class='container'>
			<h3><span ng-bind-html="'HOME_STATISTIC_PANEL_TITLE'|translate"></span></h3>
			<div class='row'>
				<div class='col-sm-4 statistic-data-panel'>
					<p><span class='data-number-label' translate>HOME_STATISTIC_TOTAL_DATA</span> <span class='data-number' title='{{"HOME_STATISTIC_TOTAL_DATA_TIP"|translate}} {{statistics.total_data}}' ng-bind-html="statistics.total_data|format_big_number"></span></p>
					<p><span class='data-number-label' translate>HOME_STATISTIC_TODAY_DATA</span> <span class='data-number' title='{{"HOME_STATISTIC_TODAY_DATA_TIP"|translate}} {{statistics.today_data}}' ng-bind-html="statistics.today_data|format_big_number"></span></p>
					<p><span class='data-number-label' translate>HOME_STATISTIC_VIRTUALOBJECT_DATA</span> <span class='data-number' title='{{"HOME_STATISTIC_VIRTUALOBJECT_DATA_TIP"|translate}} {{statistics.total_measures}}'><span ng-bind-html="statistics.total_measures|format_big_number"></span></span></p>
				</div>
				<div class='col-sm-4 statistic-chart-panel'>
					<div id='domain-chart' style='height: 350px;'>
					 	<nvd3-pie-chart
				            data="domainChartData"
				            id="home-domain-chart-id"
				            showLabels="true"
				            x="xDomainChartFunction()"
				            y="yDomainChartFunction()"
				            color="domainChartColors"
				            donut="true"
				            donutRatio=".35"
				            donutLabelsOutside="true">
				        	<svg height="300"></svg>
				   	 	</nvd3-pie-chart>
					</div>
				</div>
				<div class='col-sm-4 statistic-entity-panel'>
					<p><span class='data-number'>{{statistics.total_tenants}}</span><span class='data-number-label' translate>HOME_STATISTIC_TENANT</span></p>
					<p><span class='data-number'>{{statistics.total_smart_objects}}</span><span class='data-number-label' translate>HOME_STATISTIC_VIRTUALENTITY</span></p>
					<p><span class='data-number'>{{statistics.total_streams}}</span><span class='data-number-label' translate>HOME_STATISTIC_STREAM</span></p>
				</div>
			</div>
		</div>
	</div>
	<div id="home-operation-section-anchor">&nbsp;</div>
	<div id="home-operation-section" ng-cloak>
		<h2><span translate>HOME_OPERATION_PANEL_TITLE</span></h2>
		<div class='container'>
			<div class="row ">
				<div class='col-sm-4  operation-developer operation-panel' ng-show="isAuthorized('development/*')">
					<div class='operation-panel-content'>
						<div class="main-icon"><i class="fa fa-puzzle-piece"></i></div>
						<div class='role-panel'><span translate>HOME_ROLE_DEVELOPER</span></div>
						<p class='intro'><span ng-bind-html="'HOME_ROLE_DEVELOPER_INTRO'|translate"></span></p>
						<p class='main-action'><a href="#/dashboard/streams"><span translate>HOME_ACTION_DASHBOARD</span></a></p>
						<p><span translate>HOME_ACTION_DEVELOPER_SEP_1</span></a></p>
						<p class='action'><a ng-href="#/management/newStream/{{activeTenantCode}}"><span translate>HOME_ACTION_NEW_STREAM_INTERNAL</span></a></p>
					</div>
				</div>
				<div class='col-sm-4 operation-manager operation-panel' ng-show="isAuthorized('management/*')" >
					<div class='operation-panel-content'>
						<div class="main-icon"><i class="fa fa-key"></i></div>
						<div class='role-panel'><span translate>HOME_ROLE_PUBLISHER</span></div>
						<p class='intro'><span ng-bind-html="'HOME_ROLE_PUBLISHER_INTRO'|translate"></span></p>
						<p class='main-action'><a href="#/dashboard/streams"><span translate>HOME_ACTION_DASHBOARD</span></a></p>
						<p class='main-action'><a ng-href="#/management/virtualentities/{{activeTenantCode}}"><span translate>HOME_ACTION_MANAGEMENT</span></a></p>
						<p><span translate>HOME_ACTION_PUBLISHER_SEP_1</span></a></p>
						<p class='action'><a ng-href="#/management/newVirtualentity/{{activeTenantCode}}"><span translate>HOME_ACTION_NEW_VIRTUAL_ENTITY</span></a></p>
						<p class='action'><a ng-href="#/management/newStream/{{activeTenantCode}}"><span translate>HOME_ACTION_NEW_STREAM</span></a></p>
						<p class='action'><a ng-href="#/management/newDataset/{{activeTenantCode}}"><span translate>HOME_ACTION_NEW_DATASET</span></a></p> 
					</div>
				</div>
				<div class='col-sm-4 operation-customer operation-panel' ng-show="isAuthorized('store/*')">
					<div class='operation-panel-content'>
						<div class="main-icon"><i class="fa fa-user "></i></div>
						<div class='role-panel'><span translate>HOME_ROLE_SUBSCRIBER</span></div>
						<p class='intro'><span ng-bind-html="'HOME_ROLE_SUBSCRIBER_INTRO'|translate"></span></p>
						<p class='main-action'><a href="#/dashboard/streams"><span translate>HOME_ACTION_DASHBOARD</span></a></p>
						<p class='main-action'><a href="#/discovery/"><span translate>HOME_ACTION_SEARCH</span></a></p>
						<p><span translate>HOME_ACTION_SUBSCRIBER_SEP_1</span></a></p>
						<p class='main-action'><a ng-href="{{storeUrl}}?requestedPage=%2Fstore%2F&customCssPath=https%3A%2F%2Fuserportal.smartdatanet.it%2Fris%2Fauth%2Fcss%2Fauth.css"><span translate>HOME_ACTION_STORE</span></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

