<div ng-controller="NavigationCtrl as navigation" >
	<div class="top-header">
		<div class="container ">
			<div class='top-toolbar'>
				<main-navbar-profile></main-navbar-profile>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" ng-click="changeLanguage('it')" title="{{'MENU_LANG_IT'|translate}}" class="menu-flag-icon menu-flag-icon-it"></a></li>
					<li><a href="#"  ng-click="changeLanguage('en')" title="{{'MENU_LANG_EN'|translate}}" class="menu-flag-icon menu-flag-icon-en"></a></li>
					<li><p class="navbar-text">&nbsp;</p></li>
				</ul>
			</div>
			<div class='row'>
				<div class='col-sm-6'>
					<a class="navbar-brand logo" href="http://www.smartdatanet.it"><img src="img/logosdp_header.png" alt="logo"  class='top-header-logo'/> </a>
				</div>
				<div class='col-sm-6 top-header-right'>
					<h1>yucca</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-header">
		<div class="container ">
			<div class="row">
				<div  class='col-sm-1 col-sm-offset-1 first-block'>&nbsp;</div>
				<div class='col-sm-10 main-menu'>
					<ul class="nav navbar-nav" ng-show="!isHomepage()">
						<li class="space-vertical"></li>
						<li ><a href="#/" ng-class="{active: $route.current.activetab == 'home'}" class='main-menu-item main-menu-item-dashboard'><span translate>MENU_HOME</span></a></li>
						<li class="divider-vertical"></li>
						<li ng-show="isAuthorized('monitoring/*')"><a href="#/dashboard" ng-class="{active: $route.current.activetab == 'dashboard'}" class='main-menu-item main-menu-item-dashboard'><span translate>MENU_DASHBOARD</span></a></li>
						<li class="divider-vertical"></li>
						<li  ng-show="isAuthorized('management/*')"><a ng-href="{{managementUrl}}"  ng-class="{active: $route.current.activetab == 'management'}"  class='main-menu-item main-menu-item-management'><span translate>MENU_MANAGEMENT</span></a></li>
						<li class="divider-vertical"></li>
						<li ng-show="isAuthorized('store/*')"><a href="#/discovery"  ng-class="{active: $route.current.activetab == 'discovery'}"  class='main-menu-item main-menu-item-discovery'><span translate>MENU_DISCOVERY</span></a></li>
						<li class="divider-vertical"></li>
						<li ng-show="isAuthorized('store/*')"><a ng-href="{{storeUrl}}?requestedPage=%2Fstore%2F&customCssPath=https%3A%2F%2Fuserportal.smartdatanet.it%2Fris%2Fauth%2Fcss%2Fauth.css"  class='main-menu-item main-menu-item-discovery'><span translate>MENU_STORE</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

