<footer id="footer-family-identity">
	<div class="container" ng-cloak>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-sm-8">
				<p>Smart Data Net &egrave; una iniziativa della Regione Piemonte in collaborazione con CSI-Piemonte</p>
				<p>
					<a class="logo-rp" href="http://www.regione.piemonte.it" target='_blank'><span class="hidden">Regione Piemonte</span></a>
					<a class="logo-csi" href="http://www.csipiemonte.it" target='_blank'><span class="hidden">CSI Piemonte</span></a>
				</p>
			</div>
			<div class="col-xs-12 col-md-4 col-sm-4">
				<ul>
					<li class="link"><a href='http://smartdatanet.it/yucca-cookies-policy.html' target='_blank'>Cookie Policy</a></li>
					<li><a href="#/info">About Userportal</a></li>
					<li>Currently: v<span app-version></li>
				</ul>
			</div>
		</div>

	</div>
</footer>