<p>&nbsp;</p>
<div class='clearfix subtitle-container' id='discovery-detail-panel' ng-cloak>
	<h3 class='pull-left'>
		<span translate>DATASET</span>  <small>{{dataset.datasetCode}} - {{dataset.datasetName}}</small>
	</h3>
	<div class='pull-right subtilte-inner-floating'>
		<a href='javascript:void(0);' ng-click='scrollTo("discovery-results-anchor")'><span class="glyphicon glyphicon-chevron-up"></span><span translate>DISCOVERY_BACK_RESULT_LABEL</span></a>
	</div>
</div>
<accordion close-others="false" >
	<accordion-group is-open="!status0.open" ng-cloak>
		<accordion-heading>
 			<span translate>DISCOVERY_DETAIL_DATASET_GENERAL_INFO</span>
 			<i class="pull-right glyphicon hide" ng-class="{'glyphicon-minus': status0.open, 'glyphicon-plus': !status0.open}"></i>
		</accordion-heading>
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_DESCRIPTION</span></strong></div>
			<div class='col-sm-10'>{{dataset.description}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_CONFIGDATA_CODE</span></strong></div>
			<div class="col-sm-10">{{dataset.datasetCode}}</div>
		</div>			
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_NAME</span></strong></div>
			<div class='col-sm-10'>{{dataset.datasetName}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_VERSION</span></strong></div>
			<div class='col-sm-10'>{{dataset.datasetVersion}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_REGISTRATIONDATE</span></strong></div>
			<div class='col-sm-10'>{{dataset.registrationDate|date}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_CONFIGDATA_TENANT</span></strong></div>
			<div class='col-sm-10'>{{dataset.tenantCode}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_DATADOMAIN</span></strong></div>
			<div class='col-sm-10'><span>{{dataset.dataDomain|translate}}</span></div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_TAGS</span></strong></div>
			<div class='col-sm-10'>
				<ul class="list-inline">
					<li ng-repeat="tag in datasetTags"><span class="label label-tag label-custom"><span ng-bind-html="tag|translate"></span></span></li>
				</ul>
			</div>
		</div>	
	</accordion-group>
	<accordion-group is-open="status1.open" ng-cloak>
	 	<accordion-heading>
 			<span translate>DISCOVERY_DETAIL_DATASET_LEGAL_INFO</span>
 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status1.open, 'glyphicon-plus': !status1.open}"></i>
		</accordion-heading>
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_LICENSE</span></strong></div>
			<div class='col-sm-10'>{{dataset.license|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_DISCLAIMER</span></strong></div>
			<div class='col-sm-10'>{{dataset.disclaimer|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DATASET_FIELD_METADATA_COPYRIGHT</span></strong></div>
			<div class='col-sm-10'> {{dataset.copyright|nvl:' -'}}</div>
		</div>	
	</accordion-group>
	<accordion-group is-open="status2.open" ng-show="dataset.Stream!=null" ng-cloak>
	 	<accordion-heading>
 			<span translate>DISCOVERY_DETAIL_DATASET_STREAM_INFO</span>
 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status2.open, 'glyphicon-plus': !status2.open}"></i>
		</accordion-heading>
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_NAME</span></strong></div>
			<div class='col-sm-10'> {{dataset.Stream.streamName|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_CODE</span></strong></div>
			<div class='col-sm-10'> {{dataset.Stream.streamCode|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_DESCRIPTION</span></strong></div>
			<div class='col-sm-10'> {{dataset.Stream.streamDescription|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_FPS</span></strong></div>
			<div class='col-sm-10'> {{dataset.fps|nvl:' -'}}</div>
		</div>	
	</accordion-group>
	<accordion-group is-open="status3.open" ng-show="dataset.Stream.smartOType == VIRTUALENTITY_TYPE_TWITTER_TYPE && dataset.Stream.smartOType!=null">
				<accordion-heading>
		 			<span translate>MANAGEMENT_EDIT_STREAM_TWITTER_DATA</span>
		 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status5.open, 'glyphicon-plus': !status5.open}"></i>
				</accordion-heading>
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_QUERY</span></strong></div>
					<div class='col-sm-6'>{{dataset.Stream.twtQuery}}</div>
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_LANG</span></strong></div>
					<div class='col-sm-2'>{{dataset.Stream.twtLang}}</div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate>MANAGEMENT_NEW_STREAM_GEO_COORDINATES</span></strong></div>
					<div class='col-sm-6'><span ng-show="stream.twtGeolocLat!=0 || stream.twtGeolocLon!=0">{{dataset.Stream.twtGeolocLat}},{{dataset.Stream.twtGeolocLon}}</span></div>
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_GEO_RADIUS</span></strong></div>
					<div class='col-sm-2'><span ng-show="stream.twtGeolocRadius!=0">{{dataset.Stream.twtGeolocRadius}} {{dataset.Stream.twtUnit}}</span></div>
				</div>	
				<div class="row card-row">
					<div class="col-sm-2 card-label"><strong><span translate>STREAM_FIELD_TWT_RATE</span></strong></div>
					<div class='col-sm-10'>{{dataset.Stream.twtRatePercentage}}</div>
				</div>	
			</accordion-group>
	<accordion-group is-open="status4.open" ng-show="dataset.Stream!=null" ng-cloak>
	 	<accordion-heading>
 			<span translate>DISCOVERY_DETAIL_DATASET_SMART_OBJECT_INFO</span>
 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status3.open, 'glyphicon-plus': !status3.open}"></i>
		</accordion-heading>
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>VIRTUALENTITY_FIELD_NAME</span></strong></div>
			<div class='col-sm-10'>{{dataset.Stream.smartOName|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>VIRTUALENTITY_FIELD_CODE</span></strong></div>
			<div class='col-sm-10'>{{dataset.Stream.smartOCode|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>VIRTUALENTITY_FIELD_TYPE</span></strong></div>
			<div class='col-sm-10'>{{dataset.Stream.smartOType|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>VIRTUALENTITY_FIELD_CATEGORY</span></strong></div>
			<div class='col-sm-10'>{{dataset.Stream.smartOCategory|nvl:' -'}}</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>VIRTUALENTITY_FIELD_POSITION_TYPE</span></strong></div>
			<div class='col-sm-10'>[{{dataset.Stream.latitude|nvl:' -'}}:{{dataset.Stream.longitude|nvl:' -'}}]</div>
		</div>	
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>VIRTUALENTITY_FIELD_ELEVATION</span></strong></div>
			<div class='col-sm-10'> {{dataset.Stream.elevation|nvl:' -'}}</div>
		</div>			
	</accordion-group>
	<accordion-group is-open="status5.open" ng-show="dataset.Stream!=null" ng-cloak>
	 	<accordion-heading>
 			<span translate>DISCOVERY_DETAIL_DATASET_COLUMNS</span>
 			<i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status4.open, 'glyphicon-plus': !status4.open}"></i>
		</accordion-heading>
		<table class="table">
			<thead>
				<tr>
					<th translate>DATASET_FIELD_METADATA_FIELD_NAME</th>
					<th translate>DATASET_FIELD_METADATA_FIELD_ALIAS</th>
					<th translate>DATASET_FIELD_METADATA_FIELD_DATATYPE</th>
					<th translate>DATASET_FIELD_METADATA_FIELD_SOURCE_COLUMN</th>
					<th translate>DATASET_FIELD_METADATA_FIELD_UNIT</th>
					<th translate>DATASET_FIELD_METADATA_FIELD_IS_KEY</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="field in dataset.Fields.results">
					<td>{{field.fieldName}}</td>
					<td>{{field.fieldAlias}}</td>
					<td>{{field.dataType|nvl:' - '}}</td>
					<td>{{field.sourceColumn}}</td>
					<td>{{field.measureUnit|nvl:' - '}}</td>
					<td>{{field.isKey|booleanToString}}</td>
					
			</tbody>
		</table>
	</accordion-group>
	<accordion-group is-open="!status6.open" ng-cloak>
	 	<accordion-heading>
 			<span translate>DISCOVERY_DETAIL_ACCESS_DATA_TITLE</span>
 			<i class="pull-right glyphicon hide" ng-class="{'glyphicon-minus': status5.open, 'glyphicon-plus': !status5.open}"></i>
		</accordion-heading>
		<div class="row card-row">
			<div class="col-sm-2 card-label"><strong><span translate>DISCOVERY_DETAIL_ACCESS_DATA_API</span></strong></div>
			<div class='col-sm-10'><p ng-repeat="apiUrl in datasetApiUrls"><a href="{{apiUrl}}" target="_blank" class='discovery-api-link'>{{apiUrl}}</a></p></div>
		</div>	
		<div class="row card-row" ng-show='dataset.Stream!=null'>
			<div class="col-sm-2 card-label"><strong><span translate>DISCOVERY_DETAIL_ACCESS_DATA_STREAM</span></strong></div>
			<div class='col-sm-10'><p ng-repeat="streamUrl in datasetStreamUrls"><a href="{{streamUrl}}" target="_blank" class='discovery-stream-link'>{{streamUrl}}</a></p></div>
		</div>
		<div class="row card-row" ng-show='dataset.Stream!=null'>
			<div class="col-sm-2 card-label"><strong><span translate>DISCOVERY_DETAIL_OPEN_DASHBOARD_STREAM</span></strong></div>
			<div class='col-sm-10'><a href="/userportal/#/dashboard/stream/{{dataset.tenantCode}}/{{dataset.Stream.smartOCode}}/{{dataset.Stream.streamCode}}" class='discovery-websocket-link'>/userportal/#/dashboard/stream/{{dataset.tenantCode}}/{{dataset.Stream.smartOCode}}/{{dataset.Stream.streamCode}}</a></div>
		</div>	
		<div class="row card-row" ng-show='datasetDownloadCsvUrl!=null'>
			<div class="col-sm-2 card-label"><strong><span translate>DISCOVERY_DETAIL_DOWNLOAD_CSV</span></strong></div>
			<div class='col-sm-10'><a ng-href="{{datasetDownloadCsvUrl}}" class='discovery-websocket-link'>{{datasetDownloadCsvUrl}}</a></div>
		</div>	
	</accordion-group>
</accordion>		




