<p>&nbsp;</p>
<div class='clearfix' id='discovery-detail-card-panel'>
	<div class='pull-left'>
	    - _id
        - idDataset
        - tenant
        - registration date
        - fps
        - tags
        - licence
        - visibility
	
		- description
		- start ingestion date
		- import file type
		- end ingestion date
		- dataset status
		- fields
		
		
		api collegata al dataset e eventuale stream da cui è nato il dataset
	
	</div>
	<div class='pull-right'>
		<a href='javascript:void(0);' ng-click='scrollTo("discovery-results-panel")'><span class="glyphicon glyphicon-chevron-up"></span><span translate>DISCOVERY_BACK_RESULT_LABEL</span></a>
	</div>
</div>

