<div id='discovery-filter-panel'>
	<p>&nbsp;</p>
	<div class="animate-switch-container" ng-switch on="activeSearch" >
		<div class="animate-switch" ng-switch-default>
			<form role="form" class="form-horizontal" ng-cloak>
				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control input-lg" ng-model="simpleSearchInputVal" id="simpleSearchInput" placeholder="{{'DISCOVERY_FILTER_SIMPLESEARCH_PLACEHOLDER'|translate}}">
					</div>
					<div class="col-sm-2">
						<button type="submit" ng-click="search(simpleSearchInputVal)" class="btn btn-default btn-lg pull-right"><span class="glyphicon glyphicon-search"></span>&nbsp;<span translate>DISCOVERY_FILTER_SEARCH_BUTTON</span></button>
					</div>
					<div class="col-sm-10">
						<span class="help-block">
							<span ng-bind-html="'DISCOVERY_FILTER_SIMPLESEARCH_HELP'|translate"></span>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="animate-switch" ng-switch-when="advancedSearch">
			<form class="form-horizontal" role="form" >
				<div class="form-group" ng-repeat="filter in advancedFilters" ng-cloak>
					<label for="filter1" class="col-sm-2 control-label"><span translate>DISCOVERY_FILTER_ADVANCED_FILTER_LABEL</span></label>
					<div class="col-sm-4">
						<select class="form-control  input-lg"  ng-model="advancedFilters[$index].field">
							<option value=""></option>
							<option value="{{field.api_key}}" ng-repeat="field in fieldList"  ng-bind-html="field.key|translate|unsafe"></option>
						</select>
					</div>
					<div class="col-sm-2">
						<select class="form-control  input-lg"  ng-model="advancedFilters[$index].op">
						<option value="{{operation.value}}" ng-repeat="operation in fieldOperationList[advancedFilters[$index].field]">{{operation.key}}</option>
						</select>
					</div>
					<div class="col-sm-4">
						<input type="text" class="form-control  input-lg" ng-model="advancedFilters[$index].value"  id="inputStreamName" >
					</div>
				</div>
				<div class="form-group">
					<button type="submit"  ng-click="searchAdvanced()" class="btn btn-default btn-lg pull-right"><span class="glyphicon glyphicon-search"></span>&nbsp;<span translate>DISCOVERY_FILTER_SEARCH_BUTTON</span></button>
				</div>
			</form>
		</div>
	</div>
</div>