<div class='section-discovery' ng-controller="DiscoveryCtrl as discoveryCtrl">
	<div class="container">
		<div class='title-container'>
			<h1>
				{{'DISCOVERY_TITLE'|translate}} 
			</h1>
		</div>
		<div id='discovery-filter-anchor'></div>
		<div class='row'>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<discovery-filter></discovery-filter>
			</div>
		</div>
		<div id='discovery-results-anchor'></div>
		<div class="row" ng-show="searchResult!=null">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<discovery-result-list></discovery-result-list>
			</div>
		</div>
		<div id='discovery-detail-anchor'></div>
		<div class="row" ng-show="dataset!=null">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<discovery-detail-card></discovery-detail-card>
			</div>
		</div>
	</div>
</div>