<div class='section-discovery' ng-controller="DiscoveryCtrl as discoveryCtrl">
	<div class="container">
		<div class='title-container clearfix' ng-cloak>
			<h1 class='pull-left'><span translate>DISCOVERY_TITLE</span></h1>
			<div class="title-menu">
				<a ng-click="setActiveSearch('simpleSearch')" class='btn  btn-top-toolbar' ng-class="{active:activeSearch=='simpleSearch'}" translate>DISCOVERY_SIMPLESEARCH_MENU</a> 
				<a ng-click="setActiveSearch('advancedSearch')" class='btn  btn-top-toolbar' ng-class="{active:activeSearch=='advancedSearch'}" translate>DISCOVERY_ADVANCEDSEARCH_MENU</a>
			</div>
		</div>
		<div id='discovery-filter-anchor'></div>
		<div class='row'>
			<div class="col-sm-10 col-sm-offset-1">
				<p><span translate>DISCOVERY_FILTER_INTRO</span></p>
			</div>
		</div>
		<div class='row'>
			<div class="col-sm-10 col-sm-offset-1">
				<discovery-filter></discovery-filter>
			</div>
		</div>
		<div id='discovery-results-anchor'></div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<discovery-result-list ng-show="!isSearching && showResultList"></discovery-result-list>
				<div class='ajax-loading-container' ng-show="isSearching">
					<span class='ajax-loading-big'></span>
					<h4>Loading...</h4>
				</div>
			</div>
		</div>
		<div id='discovery-detail-anchor'></div>
		<div class="row" ng-show="dataset!=null">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<discovery-detail-card></discovery-detail-card>
			</div>
		</div>
		<p>&nbsp;</p>
	</div>
</div>